[data-cellid="grid_headcell_icons5"][data-page="cat_nominas_01_generales_llaves_st_list"][data-cellid="grid_headcell_icons5"][data-page="cat_nominas_01_generales_llaves_st_list"][data-cellid="grid_headcell_icons5"][data-page="cat_nominas_01_generales_llaves_st_list"] {
  width: 30px;
}
[data-cellid="grid_headcell_icons6"][data-page="cat_nominas_01_generales_llaves_st_list"][data-cellid="grid_headcell_icons6"][data-page="cat_nominas_01_generales_llaves_st_list"][data-cellid="grid_headcell_icons6"][data-page="cat_nominas_01_generales_llaves_st_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_icons9"][data-page="cat_nominas_01_generales_llaves_st_list"][data-cellid="grid_headcell_icons9"][data-page="cat_nominas_01_generales_llaves_st_list"][data-cellid="grid_headcell_icons9"][data-page="cat_nominas_01_generales_llaves_st_list"] {
  width: 30px;
}
[data-cellid="grid_headcell_icons10"][data-page="cat_nominas_01_generales_llaves_st_list"][data-cellid="grid_headcell_icons10"][data-page="cat_nominas_01_generales_llaves_st_list"][data-cellid="grid_headcell_icons10"][data-page="cat_nominas_01_generales_llaves_st_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_icons13"][data-page="cat_nominas_01_generales_llaves_st_list"][data-cellid="grid_headcell_icons13"][data-page="cat_nominas_01_generales_llaves_st_list"][data-cellid="grid_headcell_icons13"][data-page="cat_nominas_01_generales_llaves_st_list"] {
  width: 30px;
}
[data-cellid="grid_headcell_icons14"][data-page="cat_nominas_01_generales_llaves_st_list"][data-cellid="grid_headcell_icons14"][data-page="cat_nominas_01_generales_llaves_st_list"][data-cellid="grid_headcell_icons14"][data-page="cat_nominas_01_generales_llaves_st_list"] {
  white-space: nowrap;
}
[data-cellid="grid_cell_details"][data-page="cat_nominas_01_generales_llaves_st_list"][data-cellid="grid_cell_details"][data-page="cat_nominas_01_generales_llaves_st_list"][data-cellid="grid_cell_details"][data-page="cat_nominas_01_generales_llaves_st_list"] {
  white-space: nowrap;
}
[data-cellid="grid_cell_details1"][data-page="cat_nominas_01_generales_llaves_st_list"][data-cellid="grid_cell_details1"][data-page="cat_nominas_01_generales_llaves_st_list"][data-cellid="grid_cell_details1"][data-page="cat_nominas_01_generales_llaves_st_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field5"][data-page="cat_nominas_01_generales_llaves_st_list"][data-cellid="grid_footcell_field5"][data-page="cat_nominas_01_generales_llaves_st_list"][data-cellid="grid_footcell_field5"][data-page="cat_nominas_01_generales_llaves_st_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field6"][data-page="cat_nominas_01_generales_llaves_st_list"][data-cellid="grid_footcell_field6"][data-page="cat_nominas_01_generales_llaves_st_list"][data-cellid="grid_footcell_field6"][data-page="cat_nominas_01_generales_llaves_st_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field"][data-page="cat_nominas_01_generales_llaves_st_list"][data-cellid="grid_footcell_field"][data-page="cat_nominas_01_generales_llaves_st_list"][data-cellid="grid_footcell_field"][data-page="cat_nominas_01_generales_llaves_st_list"] {
  white-space: nowrap;
}
[data-page="cat_nominas_01_generales_llaves_st_list"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


