[data-cellid="grid_footcell_field"][data-page="cat_compras_almacenes_tipo_de_recibo_mu_list"][data-cellid="grid_footcell_field"][data-page="cat_compras_almacenes_tipo_de_recibo_mu_list"][data-cellid="grid_footcell_field"][data-page="cat_compras_almacenes_tipo_de_recibo_mu_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="cat_compras_almacenes_tipo_de_recibo_mu_list"][data-cellid="grid_footcell_field1"][data-page="cat_compras_almacenes_tipo_de_recibo_mu_list"][data-cellid="grid_footcell_field1"][data-page="cat_compras_almacenes_tipo_de_recibo_mu_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_checkbox"][data-page="cat_compras_almacenes_tipo_de_recibo_mu_list"][data-cellid="grid_headcell_checkbox"][data-page="cat_compras_almacenes_tipo_de_recibo_mu_list"][data-cellid="grid_headcell_checkbox"][data-page="cat_compras_almacenes_tipo_de_recibo_mu_list"] {
  width: 30px;
}
[data-cellid="grid_headcell_icons"][data-page="cat_compras_almacenes_tipo_de_recibo_mu_list"][data-cellid="grid_headcell_icons"][data-page="cat_compras_almacenes_tipo_de_recibo_mu_list"][data-cellid="grid_headcell_icons"][data-page="cat_compras_almacenes_tipo_de_recibo_mu_list"] {
  width: 30px;
}
[data-cellid="grid_cell_icons"][data-page="cat_compras_almacenes_tipo_de_recibo_mu_list"][data-cellid="grid_cell_icons"][data-page="cat_compras_almacenes_tipo_de_recibo_mu_list"][data-cellid="grid_cell_icons"][data-page="cat_compras_almacenes_tipo_de_recibo_mu_list"] {
  white-space: nowrap;
}
[data-page="cat_compras_almacenes_tipo_de_recibo_mu_list"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


