[data-cellid="grid_footcell_field"][data-page="cat_holding_04_unidades_productivas_lotes_inf_list"][data-cellid="grid_footcell_field"][data-page="cat_holding_04_unidades_productivas_lotes_inf_list"][data-cellid="grid_footcell_field"][data-page="cat_holding_04_unidades_productivas_lotes_inf_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="cat_holding_04_unidades_productivas_lotes_inf_list"][data-cellid="grid_footcell_field1"][data-page="cat_holding_04_unidades_productivas_lotes_inf_list"][data-cellid="grid_footcell_field1"][data-page="cat_holding_04_unidades_productivas_lotes_inf_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field2"][data-page="cat_holding_04_unidades_productivas_lotes_inf_list"][data-cellid="grid_footcell_field2"][data-page="cat_holding_04_unidades_productivas_lotes_inf_list"][data-cellid="grid_footcell_field2"][data-page="cat_holding_04_unidades_productivas_lotes_inf_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field3"][data-page="cat_holding_04_unidades_productivas_lotes_inf_list"][data-cellid="grid_footcell_field3"][data-page="cat_holding_04_unidades_productivas_lotes_inf_list"][data-cellid="grid_footcell_field3"][data-page="cat_holding_04_unidades_productivas_lotes_inf_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_checkbox"][data-page="cat_holding_04_unidades_productivas_lotes_inf_list"][data-cellid="grid_headcell_checkbox"][data-page="cat_holding_04_unidades_productivas_lotes_inf_list"][data-cellid="grid_headcell_checkbox"][data-page="cat_holding_04_unidades_productivas_lotes_inf_list"] {
  width: 30px;
}
[data-cellid="grid_cell_details"][data-page="cat_holding_04_unidades_productivas_lotes_inf_list"][data-cellid="grid_cell_details"][data-page="cat_holding_04_unidades_productivas_lotes_inf_list"][data-cellid="grid_cell_details"][data-page="cat_holding_04_unidades_productivas_lotes_inf_list"] {
  white-space: nowrap;
}
[data-page="cat_holding_04_unidades_productivas_lotes_inf_list"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


