[data-cellid="grid_footcell_field"][data-page="tr_actividades_asistencias_app_inf_inasistencias_list"][data-cellid="grid_footcell_field"][data-page="tr_actividades_asistencias_app_inf_inasistencias_list"][data-cellid="grid_footcell_field"][data-page="tr_actividades_asistencias_app_inf_inasistencias_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="tr_actividades_asistencias_app_inf_inasistencias_list"][data-cellid="grid_footcell_field1"][data-page="tr_actividades_asistencias_app_inf_inasistencias_list"][data-cellid="grid_footcell_field1"][data-page="tr_actividades_asistencias_app_inf_inasistencias_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field2"][data-page="tr_actividades_asistencias_app_inf_inasistencias_list"][data-cellid="grid_footcell_field2"][data-page="tr_actividades_asistencias_app_inf_inasistencias_list"][data-cellid="grid_footcell_field2"][data-page="tr_actividades_asistencias_app_inf_inasistencias_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field3"][data-page="tr_actividades_asistencias_app_inf_inasistencias_list"][data-cellid="grid_footcell_field3"][data-page="tr_actividades_asistencias_app_inf_inasistencias_list"][data-cellid="grid_footcell_field3"][data-page="tr_actividades_asistencias_app_inf_inasistencias_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_checkbox"][data-page="tr_actividades_asistencias_app_inf_inasistencias_list"][data-cellid="grid_headcell_checkbox"][data-page="tr_actividades_asistencias_app_inf_inasistencias_list"][data-cellid="grid_headcell_checkbox"][data-page="tr_actividades_asistencias_app_inf_inasistencias_list"] {
  width: 30px;
}
[data-page="tr_actividades_asistencias_app_inf_inasistencias_list"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


