[data-cellid="grid_headcell_field"][data-page="tr_compras_proveedores_01_cargos_abonos_oc_pdf_report"][data-cellid="grid_headcell_field"][data-page="tr_compras_proveedores_01_cargos_abonos_oc_pdf_report"][data-cellid="grid_headcell_field"][data-page="tr_compras_proveedores_01_cargos_abonos_oc_pdf_report"] {
  border: solid #000000 1px;
}
[data-cellid="grid_cell_group_field_and_label7"][data-page="tr_compras_proveedores_01_cargos_abonos_oc_pdf_report"][data-cellid="grid_cell_group_field_and_label7"][data-page="tr_compras_proveedores_01_cargos_abonos_oc_pdf_report"][data-cellid="grid_cell_group_field_and_label7"][data-page="tr_compras_proveedores_01_cargos_abonos_oc_pdf_report"] {
  border: solid #000000 2px;
}
[data-cellid="grid_cell_group_field_and_label11"][data-page="tr_compras_proveedores_01_cargos_abonos_oc_pdf_report"][data-cellid="grid_cell_group_field_and_label11"][data-page="tr_compras_proveedores_01_cargos_abonos_oc_pdf_report"][data-cellid="grid_cell_group_field_and_label11"][data-page="tr_compras_proveedores_01_cargos_abonos_oc_pdf_report"] {
  border: solid #000000 2px;
}
[data-cellid="grid_headcell_field3"][data-page="tr_compras_proveedores_01_cargos_abonos_oc_pdf_report"][data-cellid="grid_headcell_field3"][data-page="tr_compras_proveedores_01_cargos_abonos_oc_pdf_report"][data-cellid="grid_headcell_field3"][data-page="tr_compras_proveedores_01_cargos_abonos_oc_pdf_report"] {
  border: solid #000000 1px;
}
[data-cellid="grid_headcell_field2"][data-page="tr_compras_proveedores_01_cargos_abonos_oc_pdf_report"][data-cellid="grid_headcell_field2"][data-page="tr_compras_proveedores_01_cargos_abonos_oc_pdf_report"][data-cellid="grid_headcell_field2"][data-page="tr_compras_proveedores_01_cargos_abonos_oc_pdf_report"] {
  border: solid #000000 1px;
}
[data-cellid="grid_cell_group_summary_field_sum"][data-page="tr_compras_proveedores_01_cargos_abonos_oc_pdf_report"][data-cellid="grid_cell_group_summary_field_sum"][data-page="tr_compras_proveedores_01_cargos_abonos_oc_pdf_report"][data-cellid="grid_cell_group_summary_field_sum"][data-page="tr_compras_proveedores_01_cargos_abonos_oc_pdf_report"] {
  border: solid #000000 1px;
}
[data-cellid="grid_cell_group_summary_field_sum3"][data-page="tr_compras_proveedores_01_cargos_abonos_oc_pdf_report"][data-cellid="grid_cell_group_summary_field_sum3"][data-page="tr_compras_proveedores_01_cargos_abonos_oc_pdf_report"][data-cellid="grid_cell_group_summary_field_sum3"][data-page="tr_compras_proveedores_01_cargos_abonos_oc_pdf_report"] {
  border: solid #000000 1px;
}
[data-cellid="grid_headcell_field1"][data-page="tr_compras_proveedores_01_cargos_abonos_oc_pdf_report"][data-cellid="grid_headcell_field1"][data-page="tr_compras_proveedores_01_cargos_abonos_oc_pdf_report"][data-cellid="grid_headcell_field1"][data-page="tr_compras_proveedores_01_cargos_abonos_oc_pdf_report"] {
  border: solid #000000 1px;
}
[data-cellid="grid_cell_group_field_and_label3"][data-page="tr_compras_proveedores_01_cargos_abonos_oc_pdf_report"][data-cellid="grid_cell_group_field_and_label3"][data-page="tr_compras_proveedores_01_cargos_abonos_oc_pdf_report"][data-cellid="grid_cell_group_field_and_label3"][data-page="tr_compras_proveedores_01_cargos_abonos_oc_pdf_report"] {
  border: solid #000000 2px;
}
[data-cellid="grid_cell_field"][data-page="tr_compras_proveedores_01_cargos_abonos_oc_pdf_report"][data-cellid="grid_cell_field"][data-page="tr_compras_proveedores_01_cargos_abonos_oc_pdf_report"][data-cellid="grid_cell_field"][data-page="tr_compras_proveedores_01_cargos_abonos_oc_pdf_report"] {
  border: solid #000000 1px;
}
[data-cellid="grid_cell_field1"][data-page="tr_compras_proveedores_01_cargos_abonos_oc_pdf_report"][data-cellid="grid_cell_field1"][data-page="tr_compras_proveedores_01_cargos_abonos_oc_pdf_report"][data-cellid="grid_cell_field1"][data-page="tr_compras_proveedores_01_cargos_abonos_oc_pdf_report"] {
  border: solid #000000 1px;
}
[data-cellid="grid_cell_field2"][data-page="tr_compras_proveedores_01_cargos_abonos_oc_pdf_report"][data-cellid="grid_cell_field2"][data-page="tr_compras_proveedores_01_cargos_abonos_oc_pdf_report"][data-cellid="grid_cell_field2"][data-page="tr_compras_proveedores_01_cargos_abonos_oc_pdf_report"] {
  background-color: #ffffff;
  border: solid #000000 1px;
}
[data-cellid="grid_cell_field3"][data-page="tr_compras_proveedores_01_cargos_abonos_oc_pdf_report"][data-cellid="grid_cell_field3"][data-page="tr_compras_proveedores_01_cargos_abonos_oc_pdf_report"][data-cellid="grid_cell_field3"][data-page="tr_compras_proveedores_01_cargos_abonos_oc_pdf_report"] {
  border: solid #000000 1px;
}
[data-cellid="grid_cell_group_summary_field_sum1"][data-page="tr_compras_proveedores_01_cargos_abonos_oc_pdf_report"][data-cellid="grid_cell_group_summary_field_sum1"][data-page="tr_compras_proveedores_01_cargos_abonos_oc_pdf_report"][data-cellid="grid_cell_group_summary_field_sum1"][data-page="tr_compras_proveedores_01_cargos_abonos_oc_pdf_report"] {
  border: solid #000000 1px;
}
[data-cellid="grid_cell_group_summary_field_sum2"][data-page="tr_compras_proveedores_01_cargos_abonos_oc_pdf_report"][data-cellid="grid_cell_group_summary_field_sum2"][data-page="tr_compras_proveedores_01_cargos_abonos_oc_pdf_report"][data-cellid="grid_cell_group_summary_field_sum2"][data-page="tr_compras_proveedores_01_cargos_abonos_oc_pdf_report"] {
  border: solid #000000 1px;
}
[data-page="tr_compras_proveedores_01_cargos_abonos_oc_pdf_report"][data-itemid="group_summary_field_label"] {
  font-weight: bold;
}
[data-page="tr_compras_proveedores_01_cargos_abonos_oc_pdf_report"][data-itemid="group_summary_count"] {
  font-weight: bold;
}
[data-page="tr_compras_proveedores_01_cargos_abonos_oc_pdf_report"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


