[data-cellid="grid_footcell_field"][data-page="tr_control_aplicaciones_campo_02_up_productos_app_masterlist"][data-cellid="grid_footcell_field"][data-page="tr_control_aplicaciones_campo_02_up_productos_app_masterlist"][data-cellid="grid_footcell_field"][data-page="tr_control_aplicaciones_campo_02_up_productos_app_masterlist"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="tr_control_aplicaciones_campo_02_up_productos_app_masterlist"][data-cellid="grid_footcell_field1"][data-page="tr_control_aplicaciones_campo_02_up_productos_app_masterlist"][data-cellid="grid_footcell_field1"][data-page="tr_control_aplicaciones_campo_02_up_productos_app_masterlist"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field2"][data-page="tr_control_aplicaciones_campo_02_up_productos_app_masterlist"][data-cellid="grid_footcell_field2"][data-page="tr_control_aplicaciones_campo_02_up_productos_app_masterlist"][data-cellid="grid_footcell_field2"][data-page="tr_control_aplicaciones_campo_02_up_productos_app_masterlist"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field3"][data-page="tr_control_aplicaciones_campo_02_up_productos_app_masterlist"][data-cellid="grid_footcell_field3"][data-page="tr_control_aplicaciones_campo_02_up_productos_app_masterlist"][data-cellid="grid_footcell_field3"][data-page="tr_control_aplicaciones_campo_02_up_productos_app_masterlist"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field4"][data-page="tr_control_aplicaciones_campo_02_up_productos_app_masterlist"][data-cellid="grid_footcell_field4"][data-page="tr_control_aplicaciones_campo_02_up_productos_app_masterlist"][data-cellid="grid_footcell_field4"][data-page="tr_control_aplicaciones_campo_02_up_productos_app_masterlist"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field5"][data-page="tr_control_aplicaciones_campo_02_up_productos_app_masterlist"][data-cellid="grid_footcell_field5"][data-page="tr_control_aplicaciones_campo_02_up_productos_app_masterlist"][data-cellid="grid_footcell_field5"][data-page="tr_control_aplicaciones_campo_02_up_productos_app_masterlist"] {
  white-space: nowrap;
}
[data-page="tr_control_aplicaciones_campo_02_up_productos_app_masterlist"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


