<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-view" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="view_header" data-itemid="view_header" {$item_view_header} data-pageid="{$pageid}" >{$pagetitlelabel cat_nominas_dias_semana_mu view}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN vigente_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_vigente}  r-vertical-field" data-fieldname="vigente" data-signal-error-for="vigente{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="vigente" data-fieldname="vigente" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_vigente}">
		
		{BEGIN vigente_label}{$label cat_nominas_dias_semana_mu vigente }{END vigente_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$vigente_value}	</div>

		
</div>


{END vigente_fieldblock}
											
{BEGIN descripcion_dias_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_descripcion_dias}  r-vertical-field" data-fieldname="descripcion_dias" data-signal-error-for="descripcion_dias{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="descripcion_dias" data-fieldname="descripcion_dias" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_descripcion_dias}">
		
		{BEGIN descripcion_dias_label}{$label cat_nominas_dias_semana_mu descripcion_dias }{END descripcion_dias_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$descripcion_dias_value}	</div>

		
</div>


{END descripcion_dias_fieldblock}
											
{BEGIN cat_nominas_dias_semana_mu_id_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cat_nominas_dias_semana_mu_id}  r-vertical-field" data-fieldname="cat_nominas_dias_semana_mu_id" data-signal-error-for="cat_nominas_dias_semana_mu_id{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="cat_nominas_dias_semana_mu_id" data-fieldname="cat_nominas_dias_semana_mu_id" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_cat_nominas_dias_semana_mu_id}">
		
		{BEGIN cat_nominas_dias_semana_mu_id_label}{$label cat_nominas_dias_semana_mu cat_nominas_dias_semana_mu_id }{END cat_nominas_dias_semana_mu_id_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$cat_nominas_dias_semana_mu_id_value}	</div>

		
</div>


{END cat_nominas_dias_semana_mu_id_fieldblock}
											
{BEGIN capturista_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_capturista}  r-vertical-field" data-fieldname="capturista" data-signal-error-for="capturista{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="capturista" data-fieldname="capturista" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_capturista}">
		
		{BEGIN capturista_label}{$label cat_nominas_dias_semana_mu capturista }{END capturista_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$capturista_value}	</div>

		
</div>


{END capturista_fieldblock}
											
{BEGIN time_stamp_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_time_stamp}  r-vertical-field" data-fieldname="time_stamp" data-signal-error-for="time_stamp{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="time_stamp" data-fieldname="time_stamp" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_time_stamp}">
		
		{BEGIN time_stamp_label}{$label cat_nominas_dias_semana_mu time_stamp }{END time_stamp_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$time_stamp_value}	</div>

		
</div>


{END time_stamp_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN back_button}
<span data-itemtype="view_back_list" data-itemid="view_back_list" {$item_view_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="view_close" data-itemid="view_close" {$item_view_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" href="#" {$closebutton_attrs} >
							Cerrar ventana			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	">
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown dropup">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
										<span class="glyphicon glyphicon-menu-hamburger"></span>
												<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN edit_page_button}
	<li data-itemtype="view_edit" data-itemid="view_edit" {$item_view_edit} data-pageid="{$pageid}" data-small >
				<a  href="cat_nominas_dias_semana_mu_edit.php?{$editlink}" {$edit_page_button_attrs}  title="" >
				
		Editar		
		</a>
	</li>
{END edit_page_button}
					</ul>
	</span>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
