<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel cat_nominas_asistencias_fechas search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN fecha_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_fecha}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="fecha{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="fecha" data-fieldname="fecha" >


	<label class="r-search-label control-label" for="{$labelfor_fecha}">
		{$label cat_nominas_asistencias_fechas fecha }	</label>
	<div class="r-search-option">
		{$searchtype_fecha}
	</div>
	<div class="r-search-field">
		{$fecha_editcontrol}	</div>
	<div class="r-search-field">
		{$fecha_editcontrol1}
	</div>
	
</div>

{END fecha_fieldblock}
											
{BEGIN cat_usuarios_licencias_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cat_usuarios_licencias_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cat_usuarios_licencias_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="cat_usuarios_licencias_id" data-fieldname="cat_usuarios_licencias_id" >


	<label class="r-search-label control-label" for="{$labelfor_cat_usuarios_licencias_id}">
		{$label cat_nominas_asistencias_fechas cat_usuarios_licencias_id }	</label>
	<div class="r-search-option">
		{$searchtype_cat_usuarios_licencias_id}
	</div>
	<div class="r-search-field">
		{$cat_usuarios_licencias_id_editcontrol}	</div>
	<div class="r-search-field">
		{$cat_usuarios_licencias_id_editcontrol1}
	</div>
	
</div>

{END cat_usuarios_licencias_id_fieldblock}
											
{BEGIN llave_fecha_licencia_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_llave_fecha_licencia}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="llave_fecha_licencia{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="llave_fecha_licencia" data-fieldname="llave_fecha_licencia" >


	<label class="r-search-label control-label" for="{$labelfor_llave_fecha_licencia}">
		{$label cat_nominas_asistencias_fechas llave_fecha_licencia }	</label>
	<div class="r-search-option">
		{$searchtype_llave_fecha_licencia}
	</div>
	<div class="r-search-field">
		{$llave_fecha_licencia_editcontrol}	</div>
	<div class="r-search-field">
		{$llave_fecha_licencia_editcontrol1}
	</div>
	
</div>

{END llave_fecha_licencia_fieldblock}
											
{BEGIN cat_nominas_01_generales_uuid_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cat_nominas_01_generales_uuid}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cat_nominas_01_generales_uuid{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="cat_nominas_01_generales_uuid" data-fieldname="cat_nominas_01_generales_uuid" >


	<label class="r-search-label control-label" for="{$labelfor_cat_nominas_01_generales_uuid}">
		{$label cat_nominas_asistencias_fechas cat_nominas_01_generales_uuid }	</label>
	<div class="r-search-option">
		{$searchtype_cat_nominas_01_generales_uuid}
	</div>
	<div class="r-search-field">
		{$cat_nominas_01_generales_uuid_editcontrol}	</div>
	<div class="r-search-field">
		{$cat_nominas_01_generales_uuid_editcontrol1}
	</div>
	
</div>

{END cat_nominas_01_generales_uuid_fieldblock}
											
{BEGIN cat_nominas_01_generales_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cat_nominas_01_generales_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cat_nominas_01_generales_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="cat_nominas_01_generales_id" data-fieldname="cat_nominas_01_generales_id" >


	<label class="r-search-label control-label" for="{$labelfor_cat_nominas_01_generales_id}">
		{$label cat_nominas_asistencias_fechas cat_nominas_01_generales_id }	</label>
	<div class="r-search-option">
		{$searchtype_cat_nominas_01_generales_id}
	</div>
	<div class="r-search-field">
		{$cat_nominas_01_generales_id_editcontrol}	</div>
	<div class="r-search-field">
		{$cat_nominas_01_generales_id_editcontrol1}
	</div>
	
</div>

{END cat_nominas_01_generales_id_fieldblock}
											
{BEGIN dia_semana_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_dia_semana}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="dia_semana{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="dia_semana" data-fieldname="dia_semana" >


	<label class="r-search-label control-label" for="{$labelfor_dia_semana}">
		{$label cat_nominas_asistencias_fechas dia_semana }	</label>
	<div class="r-search-option">
		{$searchtype_dia_semana}
	</div>
	<div class="r-search-field">
		{$dia_semana_editcontrol}	</div>
	<div class="r-search-field">
		{$dia_semana_editcontrol1}
	</div>
	
</div>

{END dia_semana_fieldblock}
											
{BEGIN dia_de_inicio_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_dia_de_inicio}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="dia_de_inicio{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="dia_de_inicio" data-fieldname="dia_de_inicio" >


	<label class="r-search-label control-label" for="{$labelfor_dia_de_inicio}">
		{$label cat_nominas_asistencias_fechas dia_de_inicio }	</label>
	<div class="r-search-option">
		{$searchtype_dia_de_inicio}
	</div>
	<div class="r-search-field">
		{$dia_de_inicio_editcontrol}	</div>
	<div class="r-search-field">
		{$dia_de_inicio_editcontrol1}
	</div>
	
</div>

{END dia_de_inicio_fieldblock}
											
{BEGIN diferencia_factor_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_diferencia_factor}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="diferencia_factor{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="diferencia_factor" data-fieldname="diferencia_factor" >


	<label class="r-search-label control-label" for="{$labelfor_diferencia_factor}">
		{$label cat_nominas_asistencias_fechas diferencia_factor }	</label>
	<div class="r-search-option">
		{$searchtype_diferencia_factor}
	</div>
	<div class="r-search-field">
		{$diferencia_factor_editcontrol}	</div>
	<div class="r-search-field">
		{$diferencia_factor_editcontrol1}
	</div>
	
</div>

{END diferencia_factor_fieldblock}
											
{BEGIN llave_dias_de_inicio_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_llave_dias_de_inicio}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="llave_dias_de_inicio{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="llave_dias_de_inicio" data-fieldname="llave_dias_de_inicio" >


	<label class="r-search-label control-label" for="{$labelfor_llave_dias_de_inicio}">
		{$label cat_nominas_asistencias_fechas llave_dias_de_inicio }	</label>
	<div class="r-search-option">
		{$searchtype_llave_dias_de_inicio}
	</div>
	<div class="r-search-field">
		{$llave_dias_de_inicio_editcontrol}	</div>
	<div class="r-search-field">
		{$llave_dias_de_inicio_editcontrol1}
	</div>
	
</div>

{END llave_dias_de_inicio_fieldblock}
											
{BEGIN llave_dias_de_inicio_nominas_uuid_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_llave_dias_de_inicio_nominas_uuid}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="llave_dias_de_inicio_nominas_uuid{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="llave_dias_de_inicio_nominas_uuid" data-fieldname="llave_dias_de_inicio_nominas_uuid" >


	<label class="r-search-label control-label" for="{$labelfor_llave_dias_de_inicio_nominas_uuid}">
		{$label cat_nominas_asistencias_fechas llave_dias_de_inicio_nominas_uuid }	</label>
	<div class="r-search-option">
		{$searchtype_llave_dias_de_inicio_nominas_uuid}
	</div>
	<div class="r-search-field">
		{$llave_dias_de_inicio_nominas_uuid_editcontrol}	</div>
	<div class="r-search-field">
		{$llave_dias_de_inicio_nominas_uuid_editcontrol1}
	</div>
	
</div>

{END llave_dias_de_inicio_nominas_uuid_fieldblock}
											
{BEGIN llave_fecha_nominas_uuid_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_llave_fecha_nominas_uuid}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="llave_fecha_nominas_uuid{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="llave_fecha_nominas_uuid" data-fieldname="llave_fecha_nominas_uuid" >


	<label class="r-search-label control-label" for="{$labelfor_llave_fecha_nominas_uuid}">
		{$label cat_nominas_asistencias_fechas llave_fecha_nominas_uuid }	</label>
	<div class="r-search-option">
		{$searchtype_llave_fecha_nominas_uuid}
	</div>
	<div class="r-search-field">
		{$llave_fecha_nominas_uuid_editcontrol}	</div>
	<div class="r-search-field">
		{$llave_fecha_nominas_uuid_editcontrol1}
	</div>
	
</div>

{END llave_fecha_nominas_uuid_fieldblock}
											
{BEGIN dia_inicio_consecutivo_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_dia_inicio_consecutivo}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="dia_inicio_consecutivo{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="dia_inicio_consecutivo" data-fieldname="dia_inicio_consecutivo" >


	<label class="r-search-label control-label" for="{$labelfor_dia_inicio_consecutivo}">
		{$label cat_nominas_asistencias_fechas dia_inicio_consecutivo }	</label>
	<div class="r-search-option">
		{$searchtype_dia_inicio_consecutivo}
	</div>
	<div class="r-search-field">
		{$dia_inicio_consecutivo_editcontrol}	</div>
	<div class="r-search-field">
		{$dia_inicio_consecutivo_editcontrol1}
	</div>
	
</div>

{END dia_inicio_consecutivo_fieldblock}
											
{BEGIN descripcion_nomina_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_descripcion_nomina}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="descripcion_nomina{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" {$item_integrated_search_field12} data-pageid="{$pageid}" data-field="descripcion_nomina" data-fieldname="descripcion_nomina" >


	<label class="r-search-label control-label" for="{$labelfor_descripcion_nomina}">
		{$label cat_nominas_asistencias_fechas descripcion_nomina }	</label>
	<div class="r-search-option">
		{$searchtype_descripcion_nomina}
	</div>
	<div class="r-search-field">
		{$descripcion_nomina_editcontrol}	</div>
	<div class="r-search-field">
		{$descripcion_nomina_editcontrol1}
	</div>
	
</div>

{END descripcion_nomina_fieldblock}
											
{BEGIN horas_semana_laboral_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_horas_semana_laboral}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="horas_semana_laboral{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field13" {$item_integrated_search_field13} data-pageid="{$pageid}" data-field="horas_semana_laboral" data-fieldname="horas_semana_laboral" >


	<label class="r-search-label control-label" for="{$labelfor_horas_semana_laboral}">
		{$label cat_nominas_asistencias_fechas horas_semana_laboral }	</label>
	<div class="r-search-option">
		{$searchtype_horas_semana_laboral}
	</div>
	<div class="r-search-field">
		{$horas_semana_laboral_editcontrol}	</div>
	<div class="r-search-field">
		{$horas_semana_laboral_editcontrol1}
	</div>
	
</div>

{END horas_semana_laboral_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} data-page=undefined >
							Buscar			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reiniciar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancelar			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
