<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel cat_compras_proveedores_sat search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN cat_compras_proveedores_sat_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cat_compras_proveedores_sat_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cat_compras_proveedores_sat_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="cat_compras_proveedores_sat_id" data-fieldname="cat_compras_proveedores_sat_id" >


	<label class="r-search-label control-label" for="{$labelfor_cat_compras_proveedores_sat_id}">
		{$label cat_compras_proveedores_sat cat_compras_proveedores_sat_id }	</label>
	<div class="r-search-option">
		{$searchtype_cat_compras_proveedores_sat_id}
	</div>
	<div class="r-search-field">
		{$cat_compras_proveedores_sat_id_editcontrol}	</div>
	<div class="r-search-field">
		{$cat_compras_proveedores_sat_id_editcontrol1}
	</div>
	
</div>

{END cat_compras_proveedores_sat_id_fieldblock}
											
{BEGIN llave_id_uuid_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_llave_id_uuid}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="llave_id_uuid{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="llave_id_uuid" data-fieldname="llave_id_uuid" >


	<label class="r-search-label control-label" for="{$labelfor_llave_id_uuid}">
		{$label cat_compras_proveedores_sat llave_id_uuid }	</label>
	<div class="r-search-option">
		{$searchtype_llave_id_uuid}
	</div>
	<div class="r-search-field">
		{$llave_id_uuid_editcontrol}	</div>
	<div class="r-search-field">
		{$llave_id_uuid_editcontrol1}
	</div>
	
</div>

{END llave_id_uuid_fieldblock}
											
{BEGIN check_insert_intelagro_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_check_insert_intelagro}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="check_insert_intelagro{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="check_insert_intelagro" data-fieldname="check_insert_intelagro" >


	<label class="r-search-label control-label" for="{$labelfor_check_insert_intelagro}">
		{$label cat_compras_proveedores_sat check_insert_intelagro }	</label>
	<div class="r-search-option">
		{$searchtype_check_insert_intelagro}
	</div>
	<div class="r-search-field">
		{$check_insert_intelagro_editcontrol}	</div>
	<div class="r-search-field">
		{$check_insert_intelagro_editcontrol1}
	</div>
	
</div>

{END check_insert_intelagro_fieldblock}
											
{BEGIN UUID_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_UUID}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="UUID{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="UUID" data-fieldname="UUID" >


	<label class="r-search-label control-label" for="{$labelfor_UUID}">
		{$label cat_compras_proveedores_sat UUID }	</label>
	<div class="r-search-option">
		{$searchtype_UUID}
	</div>
	<div class="r-search-field">
		{$UUID_editcontrol}	</div>
	<div class="r-search-field">
		{$UUID_editcontrol1}
	</div>
	
</div>

{END UUID_fieldblock}
											
{BEGIN UUIDs_relacionados_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_UUIDs_relacionados}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="UUIDs_relacionados{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="UUIDs_relacionados" data-fieldname="UUIDs_relacionados" >


	<label class="r-search-label control-label" for="{$labelfor_UUIDs_relacionados}">
		{$label cat_compras_proveedores_sat UUIDs_relacionados }	</label>
	<div class="r-search-option">
		{$searchtype_UUIDs_relacionados}
	</div>
	<div class="r-search-field">
		{$UUIDs_relacionados_editcontrol}	</div>
	<div class="r-search-field">
		{$UUIDs_relacionados_editcontrol1}
	</div>
	
</div>

{END UUIDs_relacionados_fieldblock}
											
{BEGIN Tipo_relacion_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Tipo_relacion}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Tipo_relacion{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="Tipo_relacion" data-fieldname="Tipo_relacion" >


	<label class="r-search-label control-label" for="{$labelfor_Tipo_relacion}">
		{$label cat_compras_proveedores_sat Tipo_relacion }	</label>
	<div class="r-search-option">
		{$searchtype_Tipo_relacion}
	</div>
	<div class="r-search-field">
		{$Tipo_relacion_editcontrol}	</div>
	<div class="r-search-field">
		{$Tipo_relacion_editcontrol1}
	</div>
	
</div>

{END Tipo_relacion_fieldblock}
											
{BEGIN Serie_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Serie}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Serie{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="Serie" data-fieldname="Serie" >


	<label class="r-search-label control-label" for="{$labelfor_Serie}">
		{$label cat_compras_proveedores_sat Serie }	</label>
	<div class="r-search-option">
		{$searchtype_Serie}
	</div>
	<div class="r-search-field">
		{$Serie_editcontrol}	</div>
	<div class="r-search-field">
		{$Serie_editcontrol1}
	</div>
	
</div>

{END Serie_fieldblock}
											
{BEGIN Folio_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Folio}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Folio{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="Folio" data-fieldname="Folio" >


	<label class="r-search-label control-label" for="{$labelfor_Folio}">
		{$label cat_compras_proveedores_sat Folio }	</label>
	<div class="r-search-option">
		{$searchtype_Folio}
	</div>
	<div class="r-search-field">
		{$Folio_editcontrol}	</div>
	<div class="r-search-field">
		{$Folio_editcontrol1}
	</div>
	
</div>

{END Folio_fieldblock}
											
{BEGIN Fecha_emision_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Fecha_emision}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Fecha_emision{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="Fecha_emision" data-fieldname="Fecha_emision" >


	<label class="r-search-label control-label" for="{$labelfor_Fecha_emision}">
		{$label cat_compras_proveedores_sat Fecha_emision }	</label>
	<div class="r-search-option">
		{$searchtype_Fecha_emision}
	</div>
	<div class="r-search-field">
		{$Fecha_emision_editcontrol}	</div>
	<div class="r-search-field">
		{$Fecha_emision_editcontrol1}
	</div>
	
</div>

{END Fecha_emision_fieldblock}
											
{BEGIN Fecha_certificacion_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Fecha_certificacion}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Fecha_certificacion{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="Fecha_certificacion" data-fieldname="Fecha_certificacion" >


	<label class="r-search-label control-label" for="{$labelfor_Fecha_certificacion}">
		{$label cat_compras_proveedores_sat Fecha_certificacion }	</label>
	<div class="r-search-option">
		{$searchtype_Fecha_certificacion}
	</div>
	<div class="r-search-field">
		{$Fecha_certificacion_editcontrol}	</div>
	<div class="r-search-field">
		{$Fecha_certificacion_editcontrol1}
	</div>
	
</div>

{END Fecha_certificacion_fieldblock}
											
{BEGIN Nombre_emisor_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Nombre_emisor}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Nombre_emisor{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="Nombre_emisor" data-fieldname="Nombre_emisor" >


	<label class="r-search-label control-label" for="{$labelfor_Nombre_emisor}">
		{$label cat_compras_proveedores_sat Nombre_emisor }	</label>
	<div class="r-search-option">
		{$searchtype_Nombre_emisor}
	</div>
	<div class="r-search-field">
		{$Nombre_emisor_editcontrol}	</div>
	<div class="r-search-field">
		{$Nombre_emisor_editcontrol1}
	</div>
	
</div>

{END Nombre_emisor_fieldblock}
											
{BEGIN RFC_emisor_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_RFC_emisor}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="RFC_emisor{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="RFC_emisor" data-fieldname="RFC_emisor" >


	<label class="r-search-label control-label" for="{$labelfor_RFC_emisor}">
		{$label cat_compras_proveedores_sat RFC_emisor }	</label>
	<div class="r-search-option">
		{$searchtype_RFC_emisor}
	</div>
	<div class="r-search-field">
		{$RFC_emisor_editcontrol}	</div>
	<div class="r-search-field">
		{$RFC_emisor_editcontrol1}
	</div>
	
</div>

{END RFC_emisor_fieldblock}
											
{BEGIN Nombre_receptor_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Nombre_receptor}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Nombre_receptor{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" {$item_integrated_search_field12} data-pageid="{$pageid}" data-field="Nombre_receptor" data-fieldname="Nombre_receptor" >


	<label class="r-search-label control-label" for="{$labelfor_Nombre_receptor}">
		{$label cat_compras_proveedores_sat Nombre_receptor }	</label>
	<div class="r-search-option">
		{$searchtype_Nombre_receptor}
	</div>
	<div class="r-search-field">
		{$Nombre_receptor_editcontrol}	</div>
	<div class="r-search-field">
		{$Nombre_receptor_editcontrol1}
	</div>
	
</div>

{END Nombre_receptor_fieldblock}
											
{BEGIN RFC_receptor_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_RFC_receptor}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="RFC_receptor{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field13" {$item_integrated_search_field13} data-pageid="{$pageid}" data-field="RFC_receptor" data-fieldname="RFC_receptor" >


	<label class="r-search-label control-label" for="{$labelfor_RFC_receptor}">
		{$label cat_compras_proveedores_sat RFC_receptor }	</label>
	<div class="r-search-option">
		{$searchtype_RFC_receptor}
	</div>
	<div class="r-search-field">
		{$RFC_receptor_editcontrol}	</div>
	<div class="r-search-field">
		{$RFC_receptor_editcontrol1}
	</div>
	
</div>

{END RFC_receptor_fieldblock}
											
{BEGIN Uso_CFDI_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Uso_CFDI}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Uso_CFDI{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field14" {$item_integrated_search_field14} data-pageid="{$pageid}" data-field="Uso_CFDI" data-fieldname="Uso_CFDI" >


	<label class="r-search-label control-label" for="{$labelfor_Uso_CFDI}">
		{$label cat_compras_proveedores_sat Uso_CFDI }	</label>
	<div class="r-search-option">
		{$searchtype_Uso_CFDI}
	</div>
	<div class="r-search-field">
		{$Uso_CFDI_editcontrol}	</div>
	<div class="r-search-field">
		{$Uso_CFDI_editcontrol1}
	</div>
	
</div>

{END Uso_CFDI_fieldblock}
											
{BEGIN Efecto_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Efecto}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Efecto{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field15" {$item_integrated_search_field15} data-pageid="{$pageid}" data-field="Efecto" data-fieldname="Efecto" >


	<label class="r-search-label control-label" for="{$labelfor_Efecto}">
		{$label cat_compras_proveedores_sat Efecto }	</label>
	<div class="r-search-option">
		{$searchtype_Efecto}
	</div>
	<div class="r-search-field">
		{$Efecto_editcontrol}	</div>
	<div class="r-search-field">
		{$Efecto_editcontrol1}
	</div>
	
</div>

{END Efecto_fieldblock}
											
{BEGIN Tipo_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Tipo}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Tipo{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field16" {$item_integrated_search_field16} data-pageid="{$pageid}" data-field="Tipo" data-fieldname="Tipo" >


	<label class="r-search-label control-label" for="{$labelfor_Tipo}">
		{$label cat_compras_proveedores_sat Tipo }	</label>
	<div class="r-search-option">
		{$searchtype_Tipo}
	</div>
	<div class="r-search-field">
		{$Tipo_editcontrol}	</div>
	<div class="r-search-field">
		{$Tipo_editcontrol1}
	</div>
	
</div>

{END Tipo_fieldblock}
											
{BEGIN Estado_factura_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Estado_factura}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Estado_factura{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field17" {$item_integrated_search_field17} data-pageid="{$pageid}" data-field="Estado_factura" data-fieldname="Estado_factura" >


	<label class="r-search-label control-label" for="{$labelfor_Estado_factura}">
		{$label cat_compras_proveedores_sat Estado_factura }	</label>
	<div class="r-search-option">
		{$searchtype_Estado_factura}
	</div>
	<div class="r-search-field">
		{$Estado_factura_editcontrol}	</div>
	<div class="r-search-field">
		{$Estado_factura_editcontrol1}
	</div>
	
</div>

{END Estado_factura_fieldblock}
											
{BEGIN Fecha_proceso_cancelacion_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Fecha_proceso_cancelacion}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Fecha_proceso_cancelacion{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field18" {$item_integrated_search_field18} data-pageid="{$pageid}" data-field="Fecha_proceso_cancelacion" data-fieldname="Fecha_proceso_cancelacion" >


	<label class="r-search-label control-label" for="{$labelfor_Fecha_proceso_cancelacion}">
		{$label cat_compras_proveedores_sat Fecha_proceso_cancelacion }	</label>
	<div class="r-search-option">
		{$searchtype_Fecha_proceso_cancelacion}
	</div>
	<div class="r-search-field">
		{$Fecha_proceso_cancelacion_editcontrol}	</div>
	<div class="r-search-field">
		{$Fecha_proceso_cancelacion_editcontrol1}
	</div>
	
</div>

{END Fecha_proceso_cancelacion_fieldblock}
											
{BEGIN Estado_cancelacion_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Estado_cancelacion}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Estado_cancelacion{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field19" {$item_integrated_search_field19} data-pageid="{$pageid}" data-field="Estado_cancelacion" data-fieldname="Estado_cancelacion" >


	<label class="r-search-label control-label" for="{$labelfor_Estado_cancelacion}">
		{$label cat_compras_proveedores_sat Estado_cancelacion }	</label>
	<div class="r-search-option">
		{$searchtype_Estado_cancelacion}
	</div>
	<div class="r-search-field">
		{$Estado_cancelacion_editcontrol}	</div>
	<div class="r-search-field">
		{$Estado_cancelacion_editcontrol1}
	</div>
	
</div>

{END Estado_cancelacion_fieldblock}
											
{BEGIN Estado_proceso_cancelacion_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Estado_proceso_cancelacion}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Estado_proceso_cancelacion{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field20" {$item_integrated_search_field20} data-pageid="{$pageid}" data-field="Estado_proceso_cancelacion" data-fieldname="Estado_proceso_cancelacion" >


	<label class="r-search-label control-label" for="{$labelfor_Estado_proceso_cancelacion}">
		{$label cat_compras_proveedores_sat Estado_proceso_cancelacion }	</label>
	<div class="r-search-option">
		{$searchtype_Estado_proceso_cancelacion}
	</div>
	<div class="r-search-field">
		{$Estado_proceso_cancelacion_editcontrol}	</div>
	<div class="r-search-field">
		{$Estado_proceso_cancelacion_editcontrol1}
	</div>
	
</div>

{END Estado_proceso_cancelacion_fieldblock}
											
{BEGIN Motivo_cancelacion_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Motivo_cancelacion}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Motivo_cancelacion{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field21" {$item_integrated_search_field21} data-pageid="{$pageid}" data-field="Motivo_cancelacion" data-fieldname="Motivo_cancelacion" >


	<label class="r-search-label control-label" for="{$labelfor_Motivo_cancelacion}">
		{$label cat_compras_proveedores_sat Motivo_cancelacion }	</label>
	<div class="r-search-option">
		{$searchtype_Motivo_cancelacion}
	</div>
	<div class="r-search-field">
		{$Motivo_cancelacion_editcontrol}	</div>
	<div class="r-search-field">
		{$Motivo_cancelacion_editcontrol1}
	</div>
	
</div>

{END Motivo_cancelacion_fieldblock}
											
{BEGIN Folio_sustitucion_cancelacion_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Folio_sustitucion_cancelacion}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Folio_sustitucion_cancelacion{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field22" {$item_integrated_search_field22} data-pageid="{$pageid}" data-field="Folio_sustitucion_cancelacion" data-fieldname="Folio_sustitucion_cancelacion" >


	<label class="r-search-label control-label" for="{$labelfor_Folio_sustitucion_cancelacion}">
		{$label cat_compras_proveedores_sat Folio_sustitucion_cancelacion }	</label>
	<div class="r-search-option">
		{$searchtype_Folio_sustitucion_cancelacion}
	</div>
	<div class="r-search-field">
		{$Folio_sustitucion_cancelacion_editcontrol}	</div>
	<div class="r-search-field">
		{$Folio_sustitucion_cancelacion_editcontrol1}
	</div>
	
</div>

{END Folio_sustitucion_cancelacion_fieldblock}
											
{BEGIN ClaveProdServ_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ClaveProdServ}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ClaveProdServ{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field23" {$item_integrated_search_field23} data-pageid="{$pageid}" data-field="ClaveProdServ" data-fieldname="ClaveProdServ" >


	<label class="r-search-label control-label" for="{$labelfor_ClaveProdServ}">
		{$label cat_compras_proveedores_sat ClaveProdServ }	</label>
	<div class="r-search-option">
		{$searchtype_ClaveProdServ}
	</div>
	<div class="r-search-field">
		{$ClaveProdServ_editcontrol}	</div>
	<div class="r-search-field">
		{$ClaveProdServ_editcontrol1}
	</div>
	
</div>

{END ClaveProdServ_fieldblock}
											
{BEGIN No_Identificacion_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_No_Identificacion}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="No_Identificacion{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field24" {$item_integrated_search_field24} data-pageid="{$pageid}" data-field="No_Identificacion" data-fieldname="No_Identificacion" >


	<label class="r-search-label control-label" for="{$labelfor_No_Identificacion}">
		{$label cat_compras_proveedores_sat No_Identificacion }	</label>
	<div class="r-search-option">
		{$searchtype_No_Identificacion}
	</div>
	<div class="r-search-field">
		{$No_Identificacion_editcontrol}	</div>
	<div class="r-search-field">
		{$No_Identificacion_editcontrol1}
	</div>
	
</div>

{END No_Identificacion_fieldblock}
											
{BEGIN Metodo_pago_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Metodo_pago}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Metodo_pago{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field25" {$item_integrated_search_field25} data-pageid="{$pageid}" data-field="Metodo_pago" data-fieldname="Metodo_pago" >


	<label class="r-search-label control-label" for="{$labelfor_Metodo_pago}">
		{$label cat_compras_proveedores_sat Metodo_pago }	</label>
	<div class="r-search-option">
		{$searchtype_Metodo_pago}
	</div>
	<div class="r-search-field">
		{$Metodo_pago_editcontrol}	</div>
	<div class="r-search-field">
		{$Metodo_pago_editcontrol1}
	</div>
	
</div>

{END Metodo_pago_fieldblock}
											
{BEGIN Forma_pago_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Forma_pago}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Forma_pago{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field26" {$item_integrated_search_field26} data-pageid="{$pageid}" data-field="Forma_pago" data-fieldname="Forma_pago" >


	<label class="r-search-label control-label" for="{$labelfor_Forma_pago}">
		{$label cat_compras_proveedores_sat Forma_pago }	</label>
	<div class="r-search-option">
		{$searchtype_Forma_pago}
	</div>
	<div class="r-search-field">
		{$Forma_pago_editcontrol}	</div>
	<div class="r-search-field">
		{$Forma_pago_editcontrol1}
	</div>
	
</div>

{END Forma_pago_fieldblock}
											
{BEGIN Descripcion_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Descripcion}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Descripcion{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field27" {$item_integrated_search_field27} data-pageid="{$pageid}" data-field="Descripcion" data-fieldname="Descripcion" >


	<label class="r-search-label control-label" for="{$labelfor_Descripcion}">
		{$label cat_compras_proveedores_sat Descripcion }	</label>
	<div class="r-search-option">
		{$searchtype_Descripcion}
	</div>
	<div class="r-search-field">
		{$Descripcion_editcontrol}	</div>
	<div class="r-search-field">
		{$Descripcion_editcontrol1}
	</div>
	
</div>

{END Descripcion_fieldblock}
											
{BEGIN Unidad_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Unidad}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Unidad{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field28" {$item_integrated_search_field28} data-pageid="{$pageid}" data-field="Unidad" data-fieldname="Unidad" >


	<label class="r-search-label control-label" for="{$labelfor_Unidad}">
		{$label cat_compras_proveedores_sat Unidad }	</label>
	<div class="r-search-option">
		{$searchtype_Unidad}
	</div>
	<div class="r-search-field">
		{$Unidad_editcontrol}	</div>
	<div class="r-search-field">
		{$Unidad_editcontrol1}
	</div>
	
</div>

{END Unidad_fieldblock}
											
{BEGIN Clave_unidad_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Clave_unidad}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Clave_unidad{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field29" {$item_integrated_search_field29} data-pageid="{$pageid}" data-field="Clave_unidad" data-fieldname="Clave_unidad" >


	<label class="r-search-label control-label" for="{$labelfor_Clave_unidad}">
		{$label cat_compras_proveedores_sat Clave_unidad }	</label>
	<div class="r-search-option">
		{$searchtype_Clave_unidad}
	</div>
	<div class="r-search-field">
		{$Clave_unidad_editcontrol}	</div>
	<div class="r-search-field">
		{$Clave_unidad_editcontrol1}
	</div>
	
</div>

{END Clave_unidad_fieldblock}
											
{BEGIN Cantidad_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Cantidad}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Cantidad{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field30" {$item_integrated_search_field30} data-pageid="{$pageid}" data-field="Cantidad" data-fieldname="Cantidad" >


	<label class="r-search-label control-label" for="{$labelfor_Cantidad}">
		{$label cat_compras_proveedores_sat Cantidad }	</label>
	<div class="r-search-option">
		{$searchtype_Cantidad}
	</div>
	<div class="r-search-field">
		{$Cantidad_editcontrol}	</div>
	<div class="r-search-field">
		{$Cantidad_editcontrol1}
	</div>
	
</div>

{END Cantidad_fieldblock}
											
{BEGIN Valor_unitario_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Valor_unitario}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Valor_unitario{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field31" {$item_integrated_search_field31} data-pageid="{$pageid}" data-field="Valor_unitario" data-fieldname="Valor_unitario" >


	<label class="r-search-label control-label" for="{$labelfor_Valor_unitario}">
		{$label cat_compras_proveedores_sat Valor_unitario }	</label>
	<div class="r-search-option">
		{$searchtype_Valor_unitario}
	</div>
	<div class="r-search-field">
		{$Valor_unitario_editcontrol}	</div>
	<div class="r-search-field">
		{$Valor_unitario_editcontrol1}
	</div>
	
</div>

{END Valor_unitario_fieldblock}
											
{BEGIN Importe_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Importe}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Importe{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field32" {$item_integrated_search_field32} data-pageid="{$pageid}" data-field="Importe" data-fieldname="Importe" >


	<label class="r-search-label control-label" for="{$labelfor_Importe}">
		{$label cat_compras_proveedores_sat Importe }	</label>
	<div class="r-search-option">
		{$searchtype_Importe}
	</div>
	<div class="r-search-field">
		{$Importe_editcontrol}	</div>
	<div class="r-search-field">
		{$Importe_editcontrol1}
	</div>
	
</div>

{END Importe_fieldblock}
											
{BEGIN IVA_Trasladado_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_IVA_Trasladado}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="IVA_Trasladado{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field33" {$item_integrated_search_field33} data-pageid="{$pageid}" data-field="IVA_Trasladado" data-fieldname="IVA_Trasladado" >


	<label class="r-search-label control-label" for="{$labelfor_IVA_Trasladado}">
		{$label cat_compras_proveedores_sat IVA_Trasladado }	</label>
	<div class="r-search-option">
		{$searchtype_IVA_Trasladado}
	</div>
	<div class="r-search-field">
		{$IVA_Trasladado_editcontrol}	</div>
	<div class="r-search-field">
		{$IVA_Trasladado_editcontrol1}
	</div>
	
</div>

{END IVA_Trasladado_fieldblock}
											
{BEGIN IVA_Retenido_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_IVA_Retenido}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="IVA_Retenido{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field34" {$item_integrated_search_field34} data-pageid="{$pageid}" data-field="IVA_Retenido" data-fieldname="IVA_Retenido" >


	<label class="r-search-label control-label" for="{$labelfor_IVA_Retenido}">
		{$label cat_compras_proveedores_sat IVA_Retenido }	</label>
	<div class="r-search-option">
		{$searchtype_IVA_Retenido}
	</div>
	<div class="r-search-field">
		{$IVA_Retenido_editcontrol}	</div>
	<div class="r-search-field">
		{$IVA_Retenido_editcontrol1}
	</div>
	
</div>

{END IVA_Retenido_fieldblock}
											
{BEGIN ISR_Retenido_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ISR_Retenido}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ISR_Retenido{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field35" {$item_integrated_search_field35} data-pageid="{$pageid}" data-field="ISR_Retenido" data-fieldname="ISR_Retenido" >


	<label class="r-search-label control-label" for="{$labelfor_ISR_Retenido}">
		{$label cat_compras_proveedores_sat ISR_Retenido }	</label>
	<div class="r-search-option">
		{$searchtype_ISR_Retenido}
	</div>
	<div class="r-search-field">
		{$ISR_Retenido_editcontrol}	</div>
	<div class="r-search-field">
		{$ISR_Retenido_editcontrol1}
	</div>
	
</div>

{END ISR_Retenido_fieldblock}
											
{BEGIN IEPS_Trasladado_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_IEPS_Trasladado}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="IEPS_Trasladado{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field36" {$item_integrated_search_field36} data-pageid="{$pageid}" data-field="IEPS_Trasladado" data-fieldname="IEPS_Trasladado" >


	<label class="r-search-label control-label" for="{$labelfor_IEPS_Trasladado}">
		{$label cat_compras_proveedores_sat IEPS_Trasladado }	</label>
	<div class="r-search-option">
		{$searchtype_IEPS_Trasladado}
	</div>
	<div class="r-search-field">
		{$IEPS_Trasladado_editcontrol}	</div>
	<div class="r-search-field">
		{$IEPS_Trasladado_editcontrol1}
	</div>
	
</div>

{END IEPS_Trasladado_fieldblock}
											
{BEGIN Local_retenido_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Local_retenido}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Local_retenido{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field37" {$item_integrated_search_field37} data-pageid="{$pageid}" data-field="Local_retenido" data-fieldname="Local_retenido" >


	<label class="r-search-label control-label" for="{$labelfor_Local_retenido}">
		{$label cat_compras_proveedores_sat Local_retenido }	</label>
	<div class="r-search-option">
		{$searchtype_Local_retenido}
	</div>
	<div class="r-search-field">
		{$Local_retenido_editcontrol}	</div>
	<div class="r-search-field">
		{$Local_retenido_editcontrol1}
	</div>
	
</div>

{END Local_retenido_fieldblock}
											
{BEGIN Local_trasladado_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Local_trasladado}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Local_trasladado{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field38" {$item_integrated_search_field38} data-pageid="{$pageid}" data-field="Local_trasladado" data-fieldname="Local_trasladado" >


	<label class="r-search-label control-label" for="{$labelfor_Local_trasladado}">
		{$label cat_compras_proveedores_sat Local_trasladado }	</label>
	<div class="r-search-option">
		{$searchtype_Local_trasladado}
	</div>
	<div class="r-search-field">
		{$Local_trasladado_editcontrol}	</div>
	<div class="r-search-field">
		{$Local_trasladado_editcontrol1}
	</div>
	
</div>

{END Local_trasladado_fieldblock}
											
{BEGIN Descuento_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Descuento}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Descuento{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field39" {$item_integrated_search_field39} data-pageid="{$pageid}" data-field="Descuento" data-fieldname="Descuento" >


	<label class="r-search-label control-label" for="{$labelfor_Descuento}">
		{$label cat_compras_proveedores_sat Descuento }	</label>
	<div class="r-search-option">
		{$searchtype_Descuento}
	</div>
	<div class="r-search-field">
		{$Descuento_editcontrol}	</div>
	<div class="r-search-field">
		{$Descuento_editcontrol1}
	</div>
	
</div>

{END Descuento_fieldblock}
											
{BEGIN Tipo_cambio_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Tipo_cambio}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Tipo_cambio{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field40" {$item_integrated_search_field40} data-pageid="{$pageid}" data-field="Tipo_cambio" data-fieldname="Tipo_cambio" >


	<label class="r-search-label control-label" for="{$labelfor_Tipo_cambio}">
		{$label cat_compras_proveedores_sat Tipo_cambio }	</label>
	<div class="r-search-option">
		{$searchtype_Tipo_cambio}
	</div>
	<div class="r-search-field">
		{$Tipo_cambio_editcontrol}	</div>
	<div class="r-search-field">
		{$Tipo_cambio_editcontrol1}
	</div>
	
</div>

{END Tipo_cambio_fieldblock}
											
{BEGIN Moneda_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Moneda}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Moneda{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field41" {$item_integrated_search_field41} data-pageid="{$pageid}" data-field="Moneda" data-fieldname="Moneda" >


	<label class="r-search-label control-label" for="{$labelfor_Moneda}">
		{$label cat_compras_proveedores_sat Moneda }	</label>
	<div class="r-search-option">
		{$searchtype_Moneda}
	</div>
	<div class="r-search-field">
		{$Moneda_editcontrol}	</div>
	<div class="r-search-field">
		{$Moneda_editcontrol1}
	</div>
	
</div>

{END Moneda_fieldblock}
											
{BEGIN Version_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Version}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Version{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field42" {$item_integrated_search_field42} data-pageid="{$pageid}" data-field="Version" data-fieldname="Version" >


	<label class="r-search-label control-label" for="{$labelfor_Version}">
		{$label cat_compras_proveedores_sat Version }	</label>
	<div class="r-search-option">
		{$searchtype_Version}
	</div>
	<div class="r-search-field">
		{$Version_editcontrol}	</div>
	<div class="r-search-field">
		{$Version_editcontrol1}
	</div>
	
</div>

{END Version_fieldblock}
											
{BEGIN capturista_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_capturista}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="capturista{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field43" {$item_integrated_search_field43} data-pageid="{$pageid}" data-field="capturista" data-fieldname="capturista" >


	<label class="r-search-label control-label" for="{$labelfor_capturista}">
		{$label cat_compras_proveedores_sat capturista }	</label>
	<div class="r-search-option">
		{$searchtype_capturista}
	</div>
	<div class="r-search-field">
		{$capturista_editcontrol}	</div>
	<div class="r-search-field">
		{$capturista_editcontrol1}
	</div>
	
</div>

{END capturista_fieldblock}
											
{BEGIN usuario_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_usuario}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="usuario{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field44" {$item_integrated_search_field44} data-pageid="{$pageid}" data-field="usuario" data-fieldname="usuario" >


	<label class="r-search-label control-label" for="{$labelfor_usuario}">
		{$label cat_compras_proveedores_sat usuario }	</label>
	<div class="r-search-option">
		{$searchtype_usuario}
	</div>
	<div class="r-search-field">
		{$usuario_editcontrol}	</div>
	<div class="r-search-field">
		{$usuario_editcontrol1}
	</div>
	
</div>

{END usuario_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} data-page=undefined >
							Buscar			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reiniciar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancelar			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
