<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel tr_actividades_cosecha1borrar search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN cat_trabajador_altas_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cat_trabajador_altas_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cat_trabajador_altas_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="cat_trabajador_altas_id" data-fieldname="cat_trabajador_altas_id" >


	<label class="r-search-label control-label" for="{$labelfor_cat_trabajador_altas_id}">
		{$label tr_actividades_cosecha1borrar cat_trabajador_altas_id }	</label>
	<div class="r-search-option">
		{$searchtype_cat_trabajador_altas_id}
	</div>
	<div class="r-search-field">
		{$cat_trabajador_altas_id_editcontrol}	</div>
	<div class="r-search-field">
		{$cat_trabajador_altas_id_editcontrol1}
	</div>
	
</div>

{END cat_trabajador_altas_id_fieldblock}
											
{BEGIN cat_produccion_cultivos_01_productos_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cat_produccion_cultivos_01_productos_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cat_produccion_cultivos_01_productos_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field19" {$item_integrated_search_field19} data-pageid="{$pageid}" data-field="cat_produccion_cultivos_01_productos_id" data-fieldname="cat_produccion_cultivos_01_productos_id" >


	<label class="r-search-label control-label" for="{$labelfor_cat_produccion_cultivos_01_productos_id}">
		{$label tr_actividades_cosecha1borrar cat_produccion_cultivos_01_productos_id }	</label>
	<div class="r-search-option">
		{$searchtype_cat_produccion_cultivos_01_productos_id}
	</div>
	<div class="r-search-field">
		{$cat_produccion_cultivos_01_productos_id_editcontrol}	</div>
	<div class="r-search-field">
		{$cat_produccion_cultivos_01_productos_id_editcontrol1}
	</div>
	
</div>

{END cat_produccion_cultivos_01_productos_id_fieldblock}
											
{BEGIN nombre_completo_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_nombre_completo}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="nombre_completo{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="nombre_completo" data-fieldname="nombre_completo" >


	<label class="r-search-label control-label" for="{$labelfor_nombre_completo}">
		{$label tr_actividades_cosecha1borrar nombre_completo }	</label>
	<div class="r-search-option">
		{$searchtype_nombre_completo}
	</div>
	<div class="r-search-field">
		{$nombre_completo_editcontrol}	</div>
	<div class="r-search-field">
		{$nombre_completo_editcontrol1}
	</div>
	
</div>

{END nombre_completo_fieldblock}
											
{BEGIN cat_trabajadores_altas_id_empresa_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cat_trabajadores_altas_id_empresa}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cat_trabajadores_altas_id_empresa{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="cat_trabajadores_altas_id_empresa" data-fieldname="cat_trabajadores_altas_id_empresa" >


	<label class="r-search-label control-label" for="{$labelfor_cat_trabajadores_altas_id_empresa}">
		{$label tr_actividades_cosecha1borrar cat_trabajadores_altas_id_empresa }	</label>
	<div class="r-search-option">
		{$searchtype_cat_trabajadores_altas_id_empresa}
	</div>
	<div class="r-search-field">
		{$cat_trabajadores_altas_id_empresa_editcontrol}	</div>
	<div class="r-search-field">
		{$cat_trabajadores_altas_id_empresa_editcontrol1}
	</div>
	
</div>

{END cat_trabajadores_altas_id_empresa_fieldblock}
											
{BEGIN total_botes_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_total_botes}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="total_botes{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="total_botes" data-fieldname="total_botes" >


	<label class="r-search-label control-label" for="{$labelfor_total_botes}">
		{$label tr_actividades_cosecha1borrar total_botes }	</label>
	<div class="r-search-option">
		{$searchtype_total_botes}
	</div>
	<div class="r-search-field">
		{$total_botes_editcontrol}	</div>
	<div class="r-search-field">
		{$total_botes_editcontrol1}
	</div>
	
</div>

{END total_botes_fieldblock}
											
{BEGIN descripcion_producto_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_descripcion_producto}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="descripcion_producto{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="descripcion_producto" data-fieldname="descripcion_producto" >


	<label class="r-search-label control-label" for="{$labelfor_descripcion_producto}">
		{$label tr_actividades_cosecha1borrar descripcion_producto }	</label>
	<div class="r-search-option">
		{$searchtype_descripcion_producto}
	</div>
	<div class="r-search-field">
		{$descripcion_producto_editcontrol}	</div>
	<div class="r-search-field">
		{$descripcion_producto_editcontrol1}
	</div>
	
</div>

{END descripcion_producto_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} data-page=undefined >
							Buscar			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reiniciar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancelar			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
