<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel tr_actividades_cosecha_consecutivo_detalle search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN consecutivo_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_consecutivo_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="consecutivo_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field13" {$item_integrated_search_field13} data-pageid="{$pageid}" data-field="consecutivo_id" data-fieldname="consecutivo_id" >


	<label class="r-search-label control-label" for="{$labelfor_consecutivo_id}">
		{$label tr_actividades_cosecha_consecutivo_detalle consecutivo_id }	</label>
	<div class="r-search-option">
		{$searchtype_consecutivo_id}
	</div>
	<div class="r-search-field">
		{$consecutivo_id_editcontrol}	</div>
	<div class="r-search-field">
		{$consecutivo_id_editcontrol1}
	</div>
	
</div>

{END consecutivo_id_fieldblock}
											
{BEGIN cat_actividades_especificas_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cat_actividades_especificas_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cat_actividades_especificas_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field34" {$item_integrated_search_field34} data-pageid="{$pageid}" data-field="cat_actividades_especificas_id" data-fieldname="cat_actividades_especificas_id" >


	<label class="r-search-label control-label" for="{$labelfor_cat_actividades_especificas_id}">
		{$label tr_actividades_cosecha_consecutivo_detalle cat_actividades_especificas_id }	</label>
	<div class="r-search-option">
		{$searchtype_cat_actividades_especificas_id}
	</div>
	<div class="r-search-field">
		{$cat_actividades_especificas_id_editcontrol}	</div>
	<div class="r-search-field">
		{$cat_actividades_especificas_id_editcontrol1}
	</div>
	
</div>

{END cat_actividades_especificas_id_fieldblock}
											
{BEGIN tr_actividades_cosecha_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_tr_actividades_cosecha_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="tr_actividades_cosecha_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="tr_actividades_cosecha_id" data-fieldname="tr_actividades_cosecha_id" >


	<label class="r-search-label control-label" for="{$labelfor_tr_actividades_cosecha_id}">
		{$label tr_actividades_cosecha_consecutivo_detalle tr_actividades_cosecha_id }	</label>
	<div class="r-search-option">
		{$searchtype_tr_actividades_cosecha_id}
	</div>
	<div class="r-search-field">
		{$tr_actividades_cosecha_id_editcontrol}	</div>
	<div class="r-search-field">
		{$tr_actividades_cosecha_id_editcontrol1}
	</div>
	
</div>

{END tr_actividades_cosecha_id_fieldblock}
											
{BEGIN Total_Botes_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Total_Botes}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Total_Botes{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="Total_Botes" data-fieldname="Total_Botes" >


	<label class="r-search-label control-label" for="{$labelfor_Total_Botes}">
		{$label tr_actividades_cosecha_consecutivo_detalle Total_Botes }	</label>
	<div class="r-search-option">
		{$searchtype_Total_Botes}
	</div>
	<div class="r-search-field">
		{$Total_Botes_editcontrol}	</div>
	<div class="r-search-field">
		{$Total_Botes_editcontrol1}
	</div>
	
</div>

{END Total_Botes_fieldblock}
											
{BEGIN Total_Descuento_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Total_Descuento}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Total_Descuento{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="Total_Descuento" data-fieldname="Total_Descuento" >


	<label class="r-search-label control-label" for="{$labelfor_Total_Descuento}">
		{$label tr_actividades_cosecha_consecutivo_detalle Total_Descuento }	</label>
	<div class="r-search-option">
		{$searchtype_Total_Descuento}
	</div>
	<div class="r-search-field">
		{$Total_Descuento_editcontrol}	</div>
	<div class="r-search-field">
		{$Total_Descuento_editcontrol1}
	</div>
	
</div>

{END Total_Descuento_fieldblock}
											
{BEGIN Botes_Neto_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Botes_Neto}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Botes_Neto{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="Botes_Neto" data-fieldname="Botes_Neto" >


	<label class="r-search-label control-label" for="{$labelfor_Botes_Neto}">
		{$label tr_actividades_cosecha_consecutivo_detalle Botes_Neto }	</label>
	<div class="r-search-option">
		{$searchtype_Botes_Neto}
	</div>
	<div class="r-search-field">
		{$Botes_Neto_editcontrol}	</div>
	<div class="r-search-field">
		{$Botes_Neto_editcontrol1}
	</div>
	
</div>

{END Botes_Neto_fieldblock}
											
{BEGIN llave_fcup_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_llave_fcup}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="llave_fcup{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="llave_fcup" data-fieldname="llave_fcup" >


	<label class="r-search-label control-label" for="{$labelfor_llave_fcup}">
		{$label tr_actividades_cosecha_consecutivo_detalle llave_fcup }	</label>
	<div class="r-search-option">
		{$searchtype_llave_fcup}
	</div>
	<div class="r-search-field">
		{$llave_fcup_editcontrol}	</div>
	<div class="r-search-field">
		{$llave_fcup_editcontrol1}
	</div>
	
</div>

{END llave_fcup_fieldblock}
											
{BEGIN cat_trabajador_altas_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cat_trabajador_altas_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cat_trabajador_altas_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="cat_trabajador_altas_id" data-fieldname="cat_trabajador_altas_id" >


	<label class="r-search-label control-label" for="{$labelfor_cat_trabajador_altas_id}">
		{$label tr_actividades_cosecha_consecutivo_detalle cat_trabajador_altas_id }	</label>
	<div class="r-search-option">
		{$searchtype_cat_trabajador_altas_id}
	</div>
	<div class="r-search-field">
		{$cat_trabajador_altas_id_editcontrol}	</div>
	<div class="r-search-field">
		{$cat_trabajador_altas_id_editcontrol1}
	</div>
	
</div>

{END cat_trabajador_altas_id_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} data-page=undefined >
							Buscar			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reiniciar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancelar			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
