<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-edit" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="edit_header" data-itemid="edit_header" {$item_edit_header} data-pageid="{$pageid}" >{$pagetitlelabel tr_actividades_cosecha_detalle_tags edit}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<div data-itemtype="edit_message" data-itemid="edit_message" {$item_edit_message} data-pageid="{$pageid}" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN message_back_button}
			<button class="btn btn-sm btn-default" {$backbutton_attrs}>Volver a la lista</button>
	{END message_back_button}
{BEGIN message_view_page_button}
		<a class="btn btn-sm btn-default" href="" {$view_page_button_attrs}>Ver</a>
{END message_view_page_button}
</div>
</div>
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN tag_uuid_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_tag_uuid}  r-vertical-field" 
	data-signal-error-for="tag_uuid{$id}" {$required_attr_tag_uuid}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="tag_uuid" data-fieldname="tag_uuid" >

	<label class="r-edit-label control-label" for="{$labelfor_tag_uuid}">
		{BEGIN tag_uuid_label}{$label tr_actividades_cosecha_detalle_tags tag_uuid }{END tag_uuid_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$tag_uuid_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="tag_uuid" {$tooltipAttr tr_actividades_cosecha_detalle_tags tag_uuid } >
		<div class="text-muted" >
		{$tooltip tr_actividades_cosecha_detalle_tags tag_uuid }		</div>
	</div>
</div>


{END tag_uuid_fieldblock}
											
{BEGIN vigente_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_vigente}  r-vertical-field" 
	data-signal-error-for="vigente{$id}" {$required_attr_vigente}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="vigente" data-fieldname="vigente" >

	<label class="r-edit-label control-label" for="{$labelfor_vigente}">
		{BEGIN vigente_label}{$label tr_actividades_cosecha_detalle_tags vigente }{END vigente_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$vigente_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="vigente" {$tooltipAttr tr_actividades_cosecha_detalle_tags vigente } >
		<div class="text-muted" >
		{$tooltip tr_actividades_cosecha_detalle_tags vigente }		</div>
	</div>
</div>


{END vigente_fieldblock}
											
{BEGIN fecha_de_captura_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_fecha_de_captura}  r-vertical-field" 
	data-signal-error-for="fecha_de_captura{$id}" {$required_attr_fecha_de_captura}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="fecha_de_captura" data-fieldname="fecha_de_captura" >

	<label class="r-edit-label control-label" for="{$labelfor_fecha_de_captura}">
		{BEGIN fecha_de_captura_label}{$label tr_actividades_cosecha_detalle_tags fecha_de_captura }{END fecha_de_captura_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$fecha_de_captura_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="fecha_de_captura" {$tooltipAttr tr_actividades_cosecha_detalle_tags fecha_de_captura } >
		<div class="text-muted" >
		{$tooltip tr_actividades_cosecha_detalle_tags fecha_de_captura }		</div>
	</div>
</div>


{END fecha_de_captura_fieldblock}
											
{BEGIN consecutivo_id_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_consecutivo_id}  r-vertical-field" 
	data-signal-error-for="consecutivo_id{$id}" {$required_attr_consecutivo_id}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="consecutivo_id" data-fieldname="consecutivo_id" >

	<label class="r-edit-label control-label" for="{$labelfor_consecutivo_id}">
		{BEGIN consecutivo_id_label}{$label tr_actividades_cosecha_detalle_tags consecutivo_id }{END consecutivo_id_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$consecutivo_id_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="consecutivo_id" {$tooltipAttr tr_actividades_cosecha_detalle_tags consecutivo_id } >
		<div class="text-muted" >
		{$tooltip tr_actividades_cosecha_detalle_tags consecutivo_id }		</div>
	</div>
</div>


{END consecutivo_id_fieldblock}
											
{BEGIN capturista_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_capturista}  r-vertical-field" 
	data-signal-error-for="capturista{$id}" {$required_attr_capturista}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="capturista" data-fieldname="capturista" >

	<label class="r-edit-label control-label" for="{$labelfor_capturista}">
		{BEGIN capturista_label}{$label tr_actividades_cosecha_detalle_tags capturista }{END capturista_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$capturista_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="capturista" {$tooltipAttr tr_actividades_cosecha_detalle_tags capturista } >
		<div class="text-muted" >
		{$tooltip tr_actividades_cosecha_detalle_tags capturista }		</div>
	</div>
</div>


{END capturista_fieldblock}
											
{BEGIN time_stamp_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_time_stamp}  r-vertical-field" 
	data-signal-error-for="time_stamp{$id}" {$required_attr_time_stamp}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="time_stamp" data-fieldname="time_stamp" >

	<label class="r-edit-label control-label" for="{$labelfor_time_stamp}">
		{BEGIN time_stamp_label}{$label tr_actividades_cosecha_detalle_tags time_stamp }{END time_stamp_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$time_stamp_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="time_stamp" {$tooltipAttr tr_actividades_cosecha_detalle_tags time_stamp } >
		<div class="text-muted" >
		{$tooltip tr_actividades_cosecha_detalle_tags time_stamp }		</div>
	</div>
</div>


{END time_stamp_fieldblock}
											
{BEGIN cat_trabajador_altas_id_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cat_trabajador_altas_id}  r-vertical-field" 
	data-signal-error-for="cat_trabajador_altas_id{$id}" {$required_attr_cat_trabajador_altas_id}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="cat_trabajador_altas_id" data-fieldname="cat_trabajador_altas_id" >

	<label class="r-edit-label control-label" for="{$labelfor_cat_trabajador_altas_id}">
		{BEGIN cat_trabajador_altas_id_label}{$label tr_actividades_cosecha_detalle_tags cat_trabajador_altas_id }{END cat_trabajador_altas_id_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$cat_trabajador_altas_id_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="cat_trabajador_altas_id" {$tooltipAttr tr_actividades_cosecha_detalle_tags cat_trabajador_altas_id } >
		<div class="text-muted" >
		{$tooltip tr_actividades_cosecha_detalle_tags cat_trabajador_altas_id }		</div>
	</div>
</div>


{END cat_trabajador_altas_id_fieldblock}
											
{BEGIN cat_holding_03_empresas_unidades_productivas_id_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cat_holding_03_empresas_unidades_productivas_id}  r-vertical-field" 
	data-signal-error-for="cat_holding_03_empresas_unidades_productivas_id{$id}" {$required_attr_cat_holding_03_empresas_unidades_productivas_id}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="cat_holding_03_empresas_unidades_productivas_id" data-fieldname="cat_holding_03_empresas_unidades_productivas_id" >

	<label class="r-edit-label control-label" for="{$labelfor_cat_holding_03_empresas_unidades_productivas_id}">
		{BEGIN cat_holding_03_empresas_unidades_productivas_id_label}{$label tr_actividades_cosecha_detalle_tags cat_holding_03_empresas_unidades_productivas_id }{END cat_holding_03_empresas_unidades_productivas_id_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$cat_holding_03_empresas_unidades_productivas_id_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="cat_holding_03_empresas_unidades_productivas_id" {$tooltipAttr tr_actividades_cosecha_detalle_tags cat_holding_03_empresas_unidades_productivas_id } >
		<div class="text-muted" >
		{$tooltip tr_actividades_cosecha_detalle_tags cat_holding_03_empresas_unidades_productivas_id }		</div>
	</div>
</div>


{END cat_holding_03_empresas_unidades_productivas_id_fieldblock}
											
{BEGIN cantidad_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cantidad}  r-vertical-field" 
	data-signal-error-for="cantidad{$id}" {$required_attr_cantidad}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="cantidad" data-fieldname="cantidad" >

	<label class="r-edit-label control-label" for="{$labelfor_cantidad}">
		{BEGIN cantidad_label}{$label tr_actividades_cosecha_detalle_tags cantidad }{END cantidad_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$cantidad_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="cantidad" {$tooltipAttr tr_actividades_cosecha_detalle_tags cantidad } >
		<div class="text-muted" >
		{$tooltip tr_actividades_cosecha_detalle_tags cantidad }		</div>
	</div>
</div>


{END cantidad_fieldblock}
											
{BEGIN peso_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_peso}  r-vertical-field" 
	data-signal-error-for="peso{$id}" {$required_attr_peso}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="peso" data-fieldname="peso" >

	<label class="r-edit-label control-label" for="{$labelfor_peso}">
		{BEGIN peso_label}{$label tr_actividades_cosecha_detalle_tags peso }{END peso_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$peso_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="peso" {$tooltipAttr tr_actividades_cosecha_detalle_tags peso } >
		<div class="text-muted" >
		{$tooltip tr_actividades_cosecha_detalle_tags peso }		</div>
	</div>
</div>


{END peso_fieldblock}
											
{BEGIN cat_holding_04_unidades_productivas_lotes_id_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cat_holding_04_unidades_productivas_lotes_id}  r-vertical-field" 
	data-signal-error-for="cat_holding_04_unidades_productivas_lotes_id{$id}" {$required_attr_cat_holding_04_unidades_productivas_lotes_id}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field10" {$item_integrated_edit_field10} data-pageid="{$pageid}" data-field="cat_holding_04_unidades_productivas_lotes_id" data-fieldname="cat_holding_04_unidades_productivas_lotes_id" >

	<label class="r-edit-label control-label" for="{$labelfor_cat_holding_04_unidades_productivas_lotes_id}">
		{BEGIN cat_holding_04_unidades_productivas_lotes_id_label}{$label tr_actividades_cosecha_detalle_tags cat_holding_04_unidades_productivas_lotes_id }{END cat_holding_04_unidades_productivas_lotes_id_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$cat_holding_04_unidades_productivas_lotes_id_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="cat_holding_04_unidades_productivas_lotes_id" {$tooltipAttr tr_actividades_cosecha_detalle_tags cat_holding_04_unidades_productivas_lotes_id } >
		<div class="text-muted" >
		{$tooltip tr_actividades_cosecha_detalle_tags cat_holding_04_unidades_productivas_lotes_id }		</div>
	</div>
</div>


{END cat_holding_04_unidades_productivas_lotes_id_fieldblock}
											
{BEGIN surco_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_surco}  r-vertical-field" 
	data-signal-error-for="surco{$id}" {$required_attr_surco}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field11" {$item_integrated_edit_field11} data-pageid="{$pageid}" data-field="surco" data-fieldname="surco" >

	<label class="r-edit-label control-label" for="{$labelfor_surco}">
		{BEGIN surco_label}{$label tr_actividades_cosecha_detalle_tags surco }{END surco_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$surco_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="surco" {$tooltipAttr tr_actividades_cosecha_detalle_tags surco } >
		<div class="text-muted" >
		{$tooltip tr_actividades_cosecha_detalle_tags surco }		</div>
	</div>
</div>


{END surco_fieldblock}
											
{BEGIN tunel_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_tunel}  r-vertical-field" 
	data-signal-error-for="tunel{$id}" {$required_attr_tunel}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field12" {$item_integrated_edit_field12} data-pageid="{$pageid}" data-field="tunel" data-fieldname="tunel" >

	<label class="r-edit-label control-label" for="{$labelfor_tunel}">
		{BEGIN tunel_label}{$label tr_actividades_cosecha_detalle_tags tunel }{END tunel_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$tunel_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="tunel" {$tooltipAttr tr_actividades_cosecha_detalle_tags tunel } >
		<div class="text-muted" >
		{$tooltip tr_actividades_cosecha_detalle_tags tunel }		</div>
	</div>
</div>


{END tunel_fieldblock}
											
{BEGIN descuento_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_descuento}  r-vertical-field" 
	data-signal-error-for="descuento{$id}" {$required_attr_descuento}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field13" {$item_integrated_edit_field13} data-pageid="{$pageid}" data-field="descuento" data-fieldname="descuento" >

	<label class="r-edit-label control-label" for="{$labelfor_descuento}">
		{BEGIN descuento_label}{$label tr_actividades_cosecha_detalle_tags descuento }{END descuento_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$descuento_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="descuento" {$tooltipAttr tr_actividades_cosecha_detalle_tags descuento } >
		<div class="text-muted" >
		{$tooltip tr_actividades_cosecha_detalle_tags descuento }		</div>
	</div>
</div>


{END descuento_fieldblock}
											
{BEGIN Lat_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Lat}  r-vertical-field" 
	data-signal-error-for="Lat{$id}" {$required_attr_Lat}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field14" {$item_integrated_edit_field14} data-pageid="{$pageid}" data-field="Lat" data-fieldname="Lat" >

	<label class="r-edit-label control-label" for="{$labelfor_Lat}">
		{BEGIN Lat_label}{$label tr_actividades_cosecha_detalle_tags Lat }{END Lat_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$Lat_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Lat" {$tooltipAttr tr_actividades_cosecha_detalle_tags Lat } >
		<div class="text-muted" >
		{$tooltip tr_actividades_cosecha_detalle_tags Lat }		</div>
	</div>
</div>


{END Lat_fieldblock}
											
{BEGIN Lng_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Lng}  r-vertical-field" 
	data-signal-error-for="Lng{$id}" {$required_attr_Lng}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field15" {$item_integrated_edit_field15} data-pageid="{$pageid}" data-field="Lng" data-fieldname="Lng" >

	<label class="r-edit-label control-label" for="{$labelfor_Lng}">
		{BEGIN Lng_label}{$label tr_actividades_cosecha_detalle_tags Lng }{END Lng_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$Lng_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Lng" {$tooltipAttr tr_actividades_cosecha_detalle_tags Lng } >
		<div class="text-muted" >
		{$tooltip tr_actividades_cosecha_detalle_tags Lng }		</div>
	</div>
</div>


{END Lng_fieldblock}
											
{BEGIN identificador_dispositivo_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_identificador_dispositivo}  r-vertical-field" 
	data-signal-error-for="identificador_dispositivo{$id}" {$required_attr_identificador_dispositivo}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field16" {$item_integrated_edit_field16} data-pageid="{$pageid}" data-field="identificador_dispositivo" data-fieldname="identificador_dispositivo" >

	<label class="r-edit-label control-label" for="{$labelfor_identificador_dispositivo}">
		{BEGIN identificador_dispositivo_label}{$label tr_actividades_cosecha_detalle_tags identificador_dispositivo }{END identificador_dispositivo_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$identificador_dispositivo_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="identificador_dispositivo" {$tooltipAttr tr_actividades_cosecha_detalle_tags identificador_dispositivo } >
		<div class="text-muted" >
		{$tooltip tr_actividades_cosecha_detalle_tags identificador_dispositivo }		</div>
	</div>
</div>


{END identificador_dispositivo_fieldblock}
											
{BEGIN calidad_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_calidad}  r-vertical-field" 
	data-signal-error-for="calidad{$id}" {$required_attr_calidad}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field17" {$item_integrated_edit_field17} data-pageid="{$pageid}" data-field="calidad" data-fieldname="calidad" >

	<label class="r-edit-label control-label" for="{$labelfor_calidad}">
		{BEGIN calidad_label}{$label tr_actividades_cosecha_detalle_tags calidad }{END calidad_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$calidad_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="calidad" {$tooltipAttr tr_actividades_cosecha_detalle_tags calidad } >
		<div class="text-muted" >
		{$tooltip tr_actividades_cosecha_detalle_tags calidad }		</div>
	</div>
</div>


{END calidad_fieldblock}
											
{BEGIN cat_produccion_cultivos_01_productos_id_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cat_produccion_cultivos_01_productos_id}  r-vertical-field" 
	data-signal-error-for="cat_produccion_cultivos_01_productos_id{$id}" {$required_attr_cat_produccion_cultivos_01_productos_id}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field18" {$item_integrated_edit_field18} data-pageid="{$pageid}" data-field="cat_produccion_cultivos_01_productos_id" data-fieldname="cat_produccion_cultivos_01_productos_id" >

	<label class="r-edit-label control-label" for="{$labelfor_cat_produccion_cultivos_01_productos_id}">
		{BEGIN cat_produccion_cultivos_01_productos_id_label}{$label tr_actividades_cosecha_detalle_tags cat_produccion_cultivos_01_productos_id }{END cat_produccion_cultivos_01_productos_id_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$cat_produccion_cultivos_01_productos_id_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="cat_produccion_cultivos_01_productos_id" {$tooltipAttr tr_actividades_cosecha_detalle_tags cat_produccion_cultivos_01_productos_id } >
		<div class="text-muted" >
		{$tooltip tr_actividades_cosecha_detalle_tags cat_produccion_cultivos_01_productos_id }		</div>
	</div>
</div>


{END cat_produccion_cultivos_01_productos_id_fieldblock}
											
{BEGIN llave_unica_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_llave_unica}  r-vertical-field" 
	data-signal-error-for="llave_unica{$id}" {$required_attr_llave_unica}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field19" {$item_integrated_edit_field19} data-pageid="{$pageid}" data-field="llave_unica" data-fieldname="llave_unica" >

	<label class="r-edit-label control-label" for="{$labelfor_llave_unica}">
		{BEGIN llave_unica_label}{$label tr_actividades_cosecha_detalle_tags llave_unica }{END llave_unica_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$llave_unica_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="llave_unica" {$tooltipAttr tr_actividades_cosecha_detalle_tags llave_unica } >
		<div class="text-muted" >
		{$tooltip tr_actividades_cosecha_detalle_tags llave_unica }		</div>
	</div>
</div>


{END llave_unica_fieldblock}
											
{BEGIN numero_de_bote_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_numero_de_bote}  r-vertical-field" 
	data-signal-error-for="numero_de_bote{$id}" {$required_attr_numero_de_bote}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field20" {$item_integrated_edit_field20} data-pageid="{$pageid}" data-field="numero_de_bote" data-fieldname="numero_de_bote" >

	<label class="r-edit-label control-label" for="{$labelfor_numero_de_bote}">
		{BEGIN numero_de_bote_label}{$label tr_actividades_cosecha_detalle_tags numero_de_bote }{END numero_de_bote_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$numero_de_bote_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="numero_de_bote" {$tooltipAttr tr_actividades_cosecha_detalle_tags numero_de_bote } >
		<div class="text-muted" >
		{$tooltip tr_actividades_cosecha_detalle_tags numero_de_bote }		</div>
	</div>
</div>


{END numero_de_bote_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN save_edit}
<span data-itemtype="edit_save" data-itemid="edit_save" {$item_edit_save} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$savebutton_attrs} >
							Guardar			</a>
</span>
{END save_edit}
	 
		{BEGIN save_update}
<span data-itemtype="update_records" data-itemid="update_records" {$item_update_records} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$savebutton_attrs} >
				 
			{$update_records_label}	
			</a>
</span>
{END save_update}
	 
		{BEGIN back_button}
<span data-itemtype="edit_back_list" data-itemid="edit_back_list" {$item_edit_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="edit_close" data-itemid="edit_close" {$item_edit_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$closebutton_attrs} >
							Cancelar			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	">
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown dropup">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
										<span class="glyphicon glyphicon-menu-hamburger"></span>
												<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
								<li data-itemtype="edit_reset" data-itemid="edit_reset" {$item_edit_reset} data-pageid="{$pageid}" data-small >
				<a  {$resetbutton_attrs}  title="" >
				
		Reiniciar		
		</a>
	</li>
					</ul>
	</span>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
