<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel tr_actividades_cosecha search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN fecha_de_captura_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_fecha_de_captura}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="fecha_de_captura{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="fecha_de_captura" data-fieldname="fecha_de_captura" >


	<label class="r-search-label control-label" for="{$labelfor_fecha_de_captura}">
		{$label tr_actividades_cosecha fecha_de_captura }	</label>
	<div class="r-search-option">
		{$searchtype_fecha_de_captura}
	</div>
	<div class="r-search-field">
		{$fecha_de_captura_editcontrol}	</div>
	<div class="r-search-field">
		{$fecha_de_captura_editcontrol1}
	</div>
	
</div>

{END fecha_de_captura_fieldblock}
											
{BEGIN cat_holding_03_empresas_unidades_productivas_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cat_holding_03_empresas_unidades_productivas_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cat_holding_03_empresas_unidades_productivas_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="cat_holding_03_empresas_unidades_productivas_id" data-fieldname="cat_holding_03_empresas_unidades_productivas_id" >


	<label class="r-search-label control-label" for="{$labelfor_cat_holding_03_empresas_unidades_productivas_id}">
		{$label tr_actividades_cosecha cat_holding_03_empresas_unidades_productivas_id }	</label>
	<div class="r-search-option">
		{$searchtype_cat_holding_03_empresas_unidades_productivas_id}
	</div>
	<div class="r-search-field">
		{$cat_holding_03_empresas_unidades_productivas_id_editcontrol}	</div>
	<div class="r-search-field">
		{$cat_holding_03_empresas_unidades_productivas_id_editcontrol1}
	</div>
	
</div>

{END cat_holding_03_empresas_unidades_productivas_id_fieldblock}
											
{BEGIN cat_holding_04_unidades_productivas_lotes_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cat_holding_04_unidades_productivas_lotes_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cat_holding_04_unidades_productivas_lotes_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="cat_holding_04_unidades_productivas_lotes_id" data-fieldname="cat_holding_04_unidades_productivas_lotes_id" >


	<label class="r-search-label control-label" for="{$labelfor_cat_holding_04_unidades_productivas_lotes_id}">
		{$label tr_actividades_cosecha cat_holding_04_unidades_productivas_lotes_id }	</label>
	<div class="r-search-option">
		{$searchtype_cat_holding_04_unidades_productivas_lotes_id}
	</div>
	<div class="r-search-field">
		{$cat_holding_04_unidades_productivas_lotes_id_editcontrol}	</div>
	<div class="r-search-field">
		{$cat_holding_04_unidades_productivas_lotes_id_editcontrol1}
	</div>
	
</div>

{END cat_holding_04_unidades_productivas_lotes_id_fieldblock}
											
{BEGIN identificador_dispositivo_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_identificador_dispositivo}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="identificador_dispositivo{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field17" {$item_integrated_search_field17} data-pageid="{$pageid}" data-field="identificador_dispositivo" data-fieldname="identificador_dispositivo" >


	<label class="r-search-label control-label" for="{$labelfor_identificador_dispositivo}">
		{$label tr_actividades_cosecha identificador_dispositivo }	</label>
	<div class="r-search-option">
		{$searchtype_identificador_dispositivo}
	</div>
	<div class="r-search-field">
		{$identificador_dispositivo_editcontrol}	</div>
	<div class="r-search-field">
		{$identificador_dispositivo_editcontrol1}
	</div>
	
</div>

{END identificador_dispositivo_fieldblock}
											
{BEGIN capturista_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_capturista}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="capturista{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="capturista" data-fieldname="capturista" >


	<label class="r-search-label control-label" for="{$labelfor_capturista}">
		{$label tr_actividades_cosecha capturista }	</label>
	<div class="r-search-option">
		{$searchtype_capturista}
	</div>
	<div class="r-search-field">
		{$capturista_editcontrol}	</div>
	<div class="r-search-field">
		{$capturista_editcontrol1}
	</div>
	
</div>

{END capturista_fieldblock}
											
{BEGIN cat_trabajador_altas_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cat_trabajador_altas_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cat_trabajador_altas_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="cat_trabajador_altas_id" data-fieldname="cat_trabajador_altas_id" >


	<label class="r-search-label control-label" for="{$labelfor_cat_trabajador_altas_id}">
		{$label tr_actividades_cosecha cat_trabajador_altas_id }	</label>
	<div class="r-search-option">
		{$searchtype_cat_trabajador_altas_id}
	</div>
	<div class="r-search-field">
		{$cat_trabajador_altas_id_editcontrol}	</div>
	<div class="r-search-field">
		{$cat_trabajador_altas_id_editcontrol1}
	</div>
	
</div>

{END cat_trabajador_altas_id_fieldblock}
											
{BEGIN calidad_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_calidad}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="calidad{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field18" {$item_integrated_search_field18} data-pageid="{$pageid}" data-field="calidad" data-fieldname="calidad" >


	<label class="r-search-label control-label" for="{$labelfor_calidad}">
		{$label tr_actividades_cosecha calidad }	</label>
	<div class="r-search-option">
		{$searchtype_calidad}
	</div>
	<div class="r-search-field">
		{$calidad_editcontrol}	</div>
	<div class="r-search-field">
		{$calidad_editcontrol1}
	</div>
	
</div>

{END calidad_fieldblock}
											
{BEGIN cat_produccion_cultivos_01_productos_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cat_produccion_cultivos_01_productos_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cat_produccion_cultivos_01_productos_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field19" {$item_integrated_search_field19} data-pageid="{$pageid}" data-field="cat_produccion_cultivos_01_productos_id" data-fieldname="cat_produccion_cultivos_01_productos_id" >


	<label class="r-search-label control-label" for="{$labelfor_cat_produccion_cultivos_01_productos_id}">
		{$label tr_actividades_cosecha cat_produccion_cultivos_01_productos_id }	</label>
	<div class="r-search-option">
		{$searchtype_cat_produccion_cultivos_01_productos_id}
	</div>
	<div class="r-search-field">
		{$cat_produccion_cultivos_01_productos_id_editcontrol}	</div>
	<div class="r-search-field">
		{$cat_produccion_cultivos_01_productos_id_editcontrol1}
	</div>
	
</div>

{END cat_produccion_cultivos_01_productos_id_fieldblock}
											
{BEGIN llave_fcup_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_llave_fcup}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="llave_fcup{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field36" {$item_integrated_search_field36} data-pageid="{$pageid}" data-field="llave_fcup" data-fieldname="llave_fcup" >


	<label class="r-search-label control-label" for="{$labelfor_llave_fcup}">
		{$label tr_actividades_cosecha llave_fcup }	</label>
	<div class="r-search-option">
		{$searchtype_llave_fcup}
	</div>
	<div class="r-search-field">
		{$llave_fcup_editcontrol}	</div>
	<div class="r-search-field">
		{$llave_fcup_editcontrol1}
	</div>
	
</div>

{END llave_fcup_fieldblock}
											
{BEGIN numero_de_bote_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_numero_de_bote}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="numero_de_bote{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="numero_de_bote" data-fieldname="numero_de_bote" >


	<label class="r-search-label control-label" for="{$labelfor_numero_de_bote}">
		{$label tr_actividades_cosecha numero_de_bote }	</label>
	<div class="r-search-option">
		{$searchtype_numero_de_bote}
	</div>
	<div class="r-search-field">
		{$numero_de_bote_editcontrol}	</div>
	<div class="r-search-field">
		{$numero_de_bote_editcontrol1}
	</div>
	
</div>

{END numero_de_bote_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} data-page=undefined >
							Buscar			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reiniciar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancelar			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
