<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel tr_actividades_planeacion_app_02 search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN tr_actividades_planeacion_app_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_tr_actividades_planeacion_app_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="tr_actividades_planeacion_app_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="tr_actividades_planeacion_app_id" data-fieldname="tr_actividades_planeacion_app_id" >


	<label class="r-search-label control-label" for="{$labelfor_tr_actividades_planeacion_app_id}">
		{$label tr_actividades_planeacion_app_02 tr_actividades_planeacion_app_id }	</label>
	<div class="r-search-option">
		{$searchtype_tr_actividades_planeacion_app_id}
	</div>
	<div class="r-search-field">
		{$tr_actividades_planeacion_app_id_editcontrol}	</div>
	<div class="r-search-field">
		{$tr_actividades_planeacion_app_id_editcontrol1}
	</div>
	
</div>

{END tr_actividades_planeacion_app_id_fieldblock}
											
{BEGIN vigente_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_vigente}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="vigente{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="vigente" data-fieldname="vigente" >


	<label class="r-search-label control-label" for="{$labelfor_vigente}">
		{$label tr_actividades_planeacion_app_02 vigente }	</label>
	<div class="r-search-option">
		{$searchtype_vigente}
	</div>
	<div class="r-search-field">
		{$vigente_editcontrol}	</div>
	<div class="r-search-field">
		{$vigente_editcontrol1}
	</div>
	
</div>

{END vigente_fieldblock}
											
{BEGIN capturista_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_capturista}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="capturista{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="capturista" data-fieldname="capturista" >


	<label class="r-search-label control-label" for="{$labelfor_capturista}">
		{$label tr_actividades_planeacion_app_02 capturista }	</label>
	<div class="r-search-option">
		{$searchtype_capturista}
	</div>
	<div class="r-search-field">
		{$capturista_editcontrol}	</div>
	<div class="r-search-field">
		{$capturista_editcontrol1}
	</div>
	
</div>

{END capturista_fieldblock}
											
{BEGIN time_stamp_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_time_stamp}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="time_stamp{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="time_stamp" data-fieldname="time_stamp" >


	<label class="r-search-label control-label" for="{$labelfor_time_stamp}">
		{$label tr_actividades_planeacion_app_02 time_stamp }	</label>
	<div class="r-search-option">
		{$searchtype_time_stamp}
	</div>
	<div class="r-search-field">
		{$time_stamp_editcontrol}	</div>
	<div class="r-search-field">
		{$time_stamp_editcontrol1}
	</div>
	
</div>

{END time_stamp_fieldblock}
											
{BEGIN imei_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_imei}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="imei{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="imei" data-fieldname="imei" >


	<label class="r-search-label control-label" for="{$labelfor_imei}">
		{$label tr_actividades_planeacion_app_02 imei }	</label>
	<div class="r-search-option">
		{$searchtype_imei}
	</div>
	<div class="r-search-field">
		{$imei_editcontrol}	</div>
	<div class="r-search-field">
		{$imei_editcontrol1}
	</div>
	
</div>

{END imei_fieldblock}
											
{BEGIN fecha_programada_maestro_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_fecha_programada_maestro}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="fecha_programada_maestro{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="fecha_programada_maestro" data-fieldname="fecha_programada_maestro" >


	<label class="r-search-label control-label" for="{$labelfor_fecha_programada_maestro}">
		{$label tr_actividades_planeacion_app_02 fecha_programada_maestro }	</label>
	<div class="r-search-option">
		{$searchtype_fecha_programada_maestro}
	</div>
	<div class="r-search-field">
		{$fecha_programada_maestro_editcontrol}	</div>
	<div class="r-search-field">
		{$fecha_programada_maestro_editcontrol1}
	</div>
	
</div>

{END fecha_programada_maestro_fieldblock}
											
{BEGIN cat_actividades_id_maestro_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cat_actividades_id_maestro}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cat_actividades_id_maestro{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="cat_actividades_id_maestro" data-fieldname="cat_actividades_id_maestro" >


	<label class="r-search-label control-label" for="{$labelfor_cat_actividades_id_maestro}">
		{$label tr_actividades_planeacion_app_02 cat_actividades_id_maestro }	</label>
	<div class="r-search-option">
		{$searchtype_cat_actividades_id_maestro}
	</div>
	<div class="r-search-field">
		{$cat_actividades_id_maestro_editcontrol}	</div>
	<div class="r-search-field">
		{$cat_actividades_id_maestro_editcontrol1}
	</div>
	
</div>

{END cat_actividades_id_maestro_fieldblock}
											
{BEGIN observaciones_maestro_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_observaciones_maestro}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="observaciones_maestro{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="observaciones_maestro" data-fieldname="observaciones_maestro" >


	<label class="r-search-label control-label" for="{$labelfor_observaciones_maestro}">
		{$label tr_actividades_planeacion_app_02 observaciones_maestro }	</label>
	<div class="r-search-option">
		{$searchtype_observaciones_maestro}
	</div>
	<div class="r-search-field">
		{$observaciones_maestro_editcontrol}	</div>
	<div class="r-search-field">
		{$observaciones_maestro_editcontrol1}
	</div>
	
</div>

{END observaciones_maestro_fieldblock}
											
{BEGIN cat_holding_03_empresas_unidades_productivas_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cat_holding_03_empresas_unidades_productivas_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cat_holding_03_empresas_unidades_productivas_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="cat_holding_03_empresas_unidades_productivas_id" data-fieldname="cat_holding_03_empresas_unidades_productivas_id" >


	<label class="r-search-label control-label" for="{$labelfor_cat_holding_03_empresas_unidades_productivas_id}">
		{$label tr_actividades_planeacion_app_02 cat_holding_03_empresas_unidades_productivas_id }	</label>
	<div class="r-search-option">
		{$searchtype_cat_holding_03_empresas_unidades_productivas_id}
	</div>
	<div class="r-search-field">
		{$cat_holding_03_empresas_unidades_productivas_id_editcontrol}	</div>
	<div class="r-search-field">
		{$cat_holding_03_empresas_unidades_productivas_id_editcontrol1}
	</div>
	
</div>

{END cat_holding_03_empresas_unidades_productivas_id_fieldblock}
											
{BEGIN cat_holding_04_unidades_productivas_lotes_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cat_holding_04_unidades_productivas_lotes_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cat_holding_04_unidades_productivas_lotes_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="cat_holding_04_unidades_productivas_lotes_id" data-fieldname="cat_holding_04_unidades_productivas_lotes_id" >


	<label class="r-search-label control-label" for="{$labelfor_cat_holding_04_unidades_productivas_lotes_id}">
		{$label tr_actividades_planeacion_app_02 cat_holding_04_unidades_productivas_lotes_id }	</label>
	<div class="r-search-option">
		{$searchtype_cat_holding_04_unidades_productivas_lotes_id}
	</div>
	<div class="r-search-field">
		{$cat_holding_04_unidades_productivas_lotes_id_editcontrol}	</div>
	<div class="r-search-field">
		{$cat_holding_04_unidades_productivas_lotes_id_editcontrol1}
	</div>
	
</div>

{END cat_holding_04_unidades_productivas_lotes_id_fieldblock}
											
{BEGIN cat_actividades_unidades_de_costo_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cat_actividades_unidades_de_costo_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cat_actividades_unidades_de_costo_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="cat_actividades_unidades_de_costo_id" data-fieldname="cat_actividades_unidades_de_costo_id" >


	<label class="r-search-label control-label" for="{$labelfor_cat_actividades_unidades_de_costo_id}">
		{$label tr_actividades_planeacion_app_02 cat_actividades_unidades_de_costo_id }	</label>
	<div class="r-search-option">
		{$searchtype_cat_actividades_unidades_de_costo_id}
	</div>
	<div class="r-search-field">
		{$cat_actividades_unidades_de_costo_id_editcontrol}	</div>
	<div class="r-search-field">
		{$cat_actividades_unidades_de_costo_id_editcontrol1}
	</div>
	
</div>

{END cat_actividades_unidades_de_costo_id_fieldblock}
											
{BEGIN uuid_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_uuid}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="uuid{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="uuid" data-fieldname="uuid" >


	<label class="r-search-label control-label" for="{$labelfor_uuid}">
		{$label tr_actividades_planeacion_app_02 uuid }	</label>
	<div class="r-search-option">
		{$searchtype_uuid}
	</div>
	<div class="r-search-field">
		{$uuid_editcontrol}	</div>
	<div class="r-search-field">
		{$uuid_editcontrol1}
	</div>
	
</div>

{END uuid_fieldblock}
											
{BEGIN cat_trabajadores_altas_id_supervisor_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cat_trabajadores_altas_id_supervisor}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cat_trabajadores_altas_id_supervisor{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" {$item_integrated_search_field12} data-pageid="{$pageid}" data-field="cat_trabajadores_altas_id_supervisor" data-fieldname="cat_trabajadores_altas_id_supervisor" >


	<label class="r-search-label control-label" for="{$labelfor_cat_trabajadores_altas_id_supervisor}">
		{$label tr_actividades_planeacion_app_02 cat_trabajadores_altas_id_supervisor }	</label>
	<div class="r-search-option">
		{$searchtype_cat_trabajadores_altas_id_supervisor}
	</div>
	<div class="r-search-field">
		{$cat_trabajadores_altas_id_supervisor_editcontrol}	</div>
	<div class="r-search-field">
		{$cat_trabajadores_altas_id_supervisor_editcontrol1}
	</div>
	
</div>

{END cat_trabajadores_altas_id_supervisor_fieldblock}
											
{BEGIN folio_maestro_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_folio_maestro}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="folio_maestro{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field13" {$item_integrated_search_field13} data-pageid="{$pageid}" data-field="folio_maestro" data-fieldname="folio_maestro" >


	<label class="r-search-label control-label" for="{$labelfor_folio_maestro}">
		{$label tr_actividades_planeacion_app_02 folio_maestro }	</label>
	<div class="r-search-option">
		{$searchtype_folio_maestro}
	</div>
	<div class="r-search-field">
		{$folio_maestro_editcontrol}	</div>
	<div class="r-search-field">
		{$folio_maestro_editcontrol1}
	</div>
	
</div>

{END folio_maestro_fieldblock}
											
{BEGIN estado_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_estado}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="estado{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field14" {$item_integrated_search_field14} data-pageid="{$pageid}" data-field="estado" data-fieldname="estado" >


	<label class="r-search-label control-label" for="{$labelfor_estado}">
		{$label tr_actividades_planeacion_app_02 estado }	</label>
	<div class="r-search-option">
		{$searchtype_estado}
	</div>
	<div class="r-search-field">
		{$estado_editcontrol}	</div>
	<div class="r-search-field">
		{$estado_editcontrol1}
	</div>
	
</div>

{END estado_fieldblock}
											
{BEGIN personas_programadas_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_personas_programadas}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="personas_programadas{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field15" {$item_integrated_search_field15} data-pageid="{$pageid}" data-field="personas_programadas" data-fieldname="personas_programadas" >


	<label class="r-search-label control-label" for="{$labelfor_personas_programadas}">
		{$label tr_actividades_planeacion_app_02 personas_programadas }	</label>
	<div class="r-search-option">
		{$searchtype_personas_programadas}
	</div>
	<div class="r-search-field">
		{$personas_programadas_editcontrol}	</div>
	<div class="r-search-field">
		{$personas_programadas_editcontrol1}
	</div>
	
</div>

{END personas_programadas_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} data-page=undefined >
							Buscar			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reiniciar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancelar			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
