<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel tr_control_de_plagas_app search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN vigente_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_vigente}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="vigente{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="vigente" data-fieldname="vigente" >


	<label class="r-search-label control-label" for="{$labelfor_vigente}">
		{$label tr_control_de_plagas_app vigente }	</label>
	<div class="r-search-option">
		{$searchtype_vigente}
	</div>
	<div class="r-search-field">
		{$vigente_editcontrol}	</div>
	<div class="r-search-field">
		{$vigente_editcontrol1}
	</div>
	
</div>

{END vigente_fieldblock}
											
{BEGIN cat_holding_04_unidades_productivas_lotes_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cat_holding_04_unidades_productivas_lotes_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cat_holding_04_unidades_productivas_lotes_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="cat_holding_04_unidades_productivas_lotes_id" data-fieldname="cat_holding_04_unidades_productivas_lotes_id" >


	<label class="r-search-label control-label" for="{$labelfor_cat_holding_04_unidades_productivas_lotes_id}">
		{$label tr_control_de_plagas_app cat_holding_04_unidades_productivas_lotes_id }	</label>
	<div class="r-search-option">
		{$searchtype_cat_holding_04_unidades_productivas_lotes_id}
	</div>
	<div class="r-search-field">
		{$cat_holding_04_unidades_productivas_lotes_id_editcontrol}	</div>
	<div class="r-search-field">
		{$cat_holding_04_unidades_productivas_lotes_id_editcontrol1}
	</div>
	
</div>

{END cat_holding_04_unidades_productivas_lotes_id_fieldblock}
											
{BEGIN tunel_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_tunel}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="tunel{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="tunel" data-fieldname="tunel" >


	<label class="r-search-label control-label" for="{$labelfor_tunel}">
		{$label tr_control_de_plagas_app tunel }	</label>
	<div class="r-search-option">
		{$searchtype_tunel}
	</div>
	<div class="r-search-field">
		{$tunel_editcontrol}	</div>
	<div class="r-search-field">
		{$tunel_editcontrol1}
	</div>
	
</div>

{END tunel_fieldblock}
											
{BEGIN surco_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_surco}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="surco{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="surco" data-fieldname="surco" >


	<label class="r-search-label control-label" for="{$labelfor_surco}">
		{$label tr_control_de_plagas_app surco }	</label>
	<div class="r-search-option">
		{$searchtype_surco}
	</div>
	<div class="r-search-field">
		{$surco_editcontrol}	</div>
	<div class="r-search-field">
		{$surco_editcontrol1}
	</div>
	
</div>

{END surco_fieldblock}
											
{BEGIN cat_control_plagas_y_enfermedades_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cat_control_plagas_y_enfermedades_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cat_control_plagas_y_enfermedades_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="cat_control_plagas_y_enfermedades_id" data-fieldname="cat_control_plagas_y_enfermedades_id" >


	<label class="r-search-label control-label" for="{$labelfor_cat_control_plagas_y_enfermedades_id}">
		{$label tr_control_de_plagas_app cat_control_plagas_y_enfermedades_id }	</label>
	<div class="r-search-option">
		{$searchtype_cat_control_plagas_y_enfermedades_id}
	</div>
	<div class="r-search-field">
		{$cat_control_plagas_y_enfermedades_id_editcontrol}	</div>
	<div class="r-search-field">
		{$cat_control_plagas_y_enfermedades_id_editcontrol1}
	</div>
	
</div>

{END cat_control_plagas_y_enfermedades_id_fieldblock}
											
{BEGIN area_de_invasion_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_area_de_invasion}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="area_de_invasion{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="area_de_invasion" data-fieldname="area_de_invasion" >


	<label class="r-search-label control-label" for="{$labelfor_area_de_invasion}">
		{$label tr_control_de_plagas_app area_de_invasion }	</label>
	<div class="r-search-option">
		{$searchtype_area_de_invasion}
	</div>
	<div class="r-search-field">
		{$area_de_invasion_editcontrol}	</div>
	<div class="r-search-field">
		{$area_de_invasion_editcontrol1}
	</div>
	
</div>

{END area_de_invasion_fieldblock}
											
{BEGIN conteo_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_conteo}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="conteo{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="conteo" data-fieldname="conteo" >


	<label class="r-search-label control-label" for="{$labelfor_conteo}">
		{$label tr_control_de_plagas_app conteo }	</label>
	<div class="r-search-option">
		{$searchtype_conteo}
	</div>
	<div class="r-search-field">
		{$conteo_editcontrol}	</div>
	<div class="r-search-field">
		{$conteo_editcontrol1}
	</div>
	
</div>

{END conteo_fieldblock}
											
{BEGIN severidad_de_dano_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_severidad_de_dano}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="severidad_de_dano{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="severidad_de_dano" data-fieldname="severidad_de_dano" >


	<label class="r-search-label control-label" for="{$labelfor_severidad_de_dano}">
		{$label tr_control_de_plagas_app severidad_de_dano }	</label>
	<div class="r-search-option">
		{$searchtype_severidad_de_dano}
	</div>
	<div class="r-search-field">
		{$severidad_de_dano_editcontrol}	</div>
	<div class="r-search-field">
		{$severidad_de_dano_editcontrol1}
	</div>
	
</div>

{END severidad_de_dano_fieldblock}
											
{BEGIN zona_danada_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_zona_danada}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="zona_danada{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="zona_danada" data-fieldname="zona_danada" >


	<label class="r-search-label control-label" for="{$labelfor_zona_danada}">
		{$label tr_control_de_plagas_app zona_danada }	</label>
	<div class="r-search-option">
		{$searchtype_zona_danada}
	</div>
	<div class="r-search-field">
		{$zona_danada_editcontrol}	</div>
	<div class="r-search-field">
		{$zona_danada_editcontrol1}
	</div>
	
</div>

{END zona_danada_fieldblock}
											
{BEGIN etapa_de_medida_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_etapa_de_medida}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="etapa_de_medida{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="etapa_de_medida" data-fieldname="etapa_de_medida" >


	<label class="r-search-label control-label" for="{$labelfor_etapa_de_medida}">
		{$label tr_control_de_plagas_app etapa_de_medida }	</label>
	<div class="r-search-option">
		{$searchtype_etapa_de_medida}
	</div>
	<div class="r-search-field">
		{$etapa_de_medida_editcontrol}	</div>
	<div class="r-search-field">
		{$etapa_de_medida_editcontrol1}
	</div>
	
</div>

{END etapa_de_medida_fieldblock}
											
{BEGIN aplicaciones_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_aplicaciones}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="aplicaciones{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="aplicaciones" data-fieldname="aplicaciones" >


	<label class="r-search-label control-label" for="{$labelfor_aplicaciones}">
		{$label tr_control_de_plagas_app aplicaciones }	</label>
	<div class="r-search-option">
		{$searchtype_aplicaciones}
	</div>
	<div class="r-search-field">
		{$aplicaciones_editcontrol}	</div>
	<div class="r-search-field">
		{$aplicaciones_editcontrol1}
	</div>
	
</div>

{END aplicaciones_fieldblock}
											
{BEGIN observaciones_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_observaciones}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="observaciones{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="observaciones" data-fieldname="observaciones" >


	<label class="r-search-label control-label" for="{$labelfor_observaciones}">
		{$label tr_control_de_plagas_app observaciones }	</label>
	<div class="r-search-option">
		{$searchtype_observaciones}
	</div>
	<div class="r-search-field">
		{$observaciones_editcontrol}	</div>
	<div class="r-search-field">
		{$observaciones_editcontrol1}
	</div>
	
</div>

{END observaciones_fieldblock}
											
{BEGIN temperatura_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_temperatura}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="temperatura{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" {$item_integrated_search_field12} data-pageid="{$pageid}" data-field="temperatura" data-fieldname="temperatura" >


	<label class="r-search-label control-label" for="{$labelfor_temperatura}">
		{$label tr_control_de_plagas_app temperatura }	</label>
	<div class="r-search-option">
		{$searchtype_temperatura}
	</div>
	<div class="r-search-field">
		{$temperatura_editcontrol}	</div>
	<div class="r-search-field">
		{$temperatura_editcontrol1}
	</div>
	
</div>

{END temperatura_fieldblock}
											
{BEGIN fecha_de_captura_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_fecha_de_captura}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="fecha_de_captura{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field13" {$item_integrated_search_field13} data-pageid="{$pageid}" data-field="fecha_de_captura" data-fieldname="fecha_de_captura" >


	<label class="r-search-label control-label" for="{$labelfor_fecha_de_captura}">
		{$label tr_control_de_plagas_app fecha_de_captura }	</label>
	<div class="r-search-option">
		{$searchtype_fecha_de_captura}
	</div>
	<div class="r-search-field">
		{$fecha_de_captura_editcontrol}	</div>
	<div class="r-search-field">
		{$fecha_de_captura_editcontrol1}
	</div>
	
</div>

{END fecha_de_captura_fieldblock}
											
{BEGIN registro_detalle_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_registro_detalle}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="registro_detalle{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field14" {$item_integrated_search_field14} data-pageid="{$pageid}" data-field="registro_detalle" data-fieldname="registro_detalle" >


	<label class="r-search-label control-label" for="{$labelfor_registro_detalle}">
		{$label tr_control_de_plagas_app registro_detalle }	</label>
	<div class="r-search-option">
		{$searchtype_registro_detalle}
	</div>
	<div class="r-search-field">
		{$registro_detalle_editcontrol}	</div>
	<div class="r-search-field">
		{$registro_detalle_editcontrol1}
	</div>
	
</div>

{END registro_detalle_fieldblock}
											
{BEGIN folio_maestro_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_folio_maestro}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="folio_maestro{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field15" {$item_integrated_search_field15} data-pageid="{$pageid}" data-field="folio_maestro" data-fieldname="folio_maestro" >


	<label class="r-search-label control-label" for="{$labelfor_folio_maestro}">
		{$label tr_control_de_plagas_app folio_maestro }	</label>
	<div class="r-search-option">
		{$searchtype_folio_maestro}
	</div>
	<div class="r-search-field">
		{$folio_maestro_editcontrol}	</div>
	<div class="r-search-field">
		{$folio_maestro_editcontrol1}
	</div>
	
</div>

{END folio_maestro_fieldblock}
											
{BEGIN capturista_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_capturista}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="capturista{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field16" {$item_integrated_search_field16} data-pageid="{$pageid}" data-field="capturista" data-fieldname="capturista" >


	<label class="r-search-label control-label" for="{$labelfor_capturista}">
		{$label tr_control_de_plagas_app capturista }	</label>
	<div class="r-search-option">
		{$searchtype_capturista}
	</div>
	<div class="r-search-field">
		{$capturista_editcontrol}	</div>
	<div class="r-search-field">
		{$capturista_editcontrol1}
	</div>
	
</div>

{END capturista_fieldblock}
											
{BEGIN tr_control_de_plagas_app_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_tr_control_de_plagas_app_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="tr_control_de_plagas_app_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field17" {$item_integrated_search_field17} data-pageid="{$pageid}" data-field="tr_control_de_plagas_app_id" data-fieldname="tr_control_de_plagas_app_id" >


	<label class="r-search-label control-label" for="{$labelfor_tr_control_de_plagas_app_id}">
		{$label tr_control_de_plagas_app tr_control_de_plagas_app_id }	</label>
	<div class="r-search-option">
		{$searchtype_tr_control_de_plagas_app_id}
	</div>
	<div class="r-search-field">
		{$tr_control_de_plagas_app_id_editcontrol}	</div>
	<div class="r-search-field">
		{$tr_control_de_plagas_app_id_editcontrol1}
	</div>
	
</div>

{END tr_control_de_plagas_app_id_fieldblock}
											
{BEGIN time_stamp_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_time_stamp}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="time_stamp{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field18" {$item_integrated_search_field18} data-pageid="{$pageid}" data-field="time_stamp" data-fieldname="time_stamp" >


	<label class="r-search-label control-label" for="{$labelfor_time_stamp}">
		{$label tr_control_de_plagas_app time_stamp }	</label>
	<div class="r-search-option">
		{$searchtype_time_stamp}
	</div>
	<div class="r-search-field">
		{$time_stamp_editcontrol}	</div>
	<div class="r-search-field">
		{$time_stamp_editcontrol1}
	</div>
	
</div>

{END time_stamp_fieldblock}
											
{BEGIN cat_usuarios_licencias_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cat_usuarios_licencias_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cat_usuarios_licencias_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field19" {$item_integrated_search_field19} data-pageid="{$pageid}" data-field="cat_usuarios_licencias_id" data-fieldname="cat_usuarios_licencias_id" >


	<label class="r-search-label control-label" for="{$labelfor_cat_usuarios_licencias_id}">
		{$label tr_control_de_plagas_app cat_usuarios_licencias_id }	</label>
	<div class="r-search-option">
		{$searchtype_cat_usuarios_licencias_id}
	</div>
	<div class="r-search-field">
		{$cat_usuarios_licencias_id_editcontrol}	</div>
	<div class="r-search-field">
		{$cat_usuarios_licencias_id_editcontrol1}
	</div>
	
</div>

{END cat_usuarios_licencias_id_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} data-page=undefined >
							Buscar			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reiniciar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancelar			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
