<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel tr_compras_requisiciones_01 search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c1}
<td
	{$cell_grid_c1}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c1" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN fecha_de_captura_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_fecha_de_captura}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="fecha_de_captura{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="fecha_de_captura" data-fieldname="fecha_de_captura" >


	<label class="r-search-label control-label" for="{$labelfor_fecha_de_captura}">
		{$label tr_compras_requisiciones_01 fecha_de_captura }	</label>
	<div class="r-search-option">
		{$searchtype_fecha_de_captura}
	</div>
	<div class="r-search-field">
		{$fecha_de_captura_editcontrol}	</div>
	<div class="r-search-field">
		{$fecha_de_captura_editcontrol1}
	</div>
	
</div>

{END fecha_de_captura_fieldblock}
											
{BEGIN cat_holding_03_empresas_unidades_productivas_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cat_holding_03_empresas_unidades_productivas_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cat_holding_03_empresas_unidades_productivas_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="cat_holding_03_empresas_unidades_productivas_id" data-fieldname="cat_holding_03_empresas_unidades_productivas_id" >


	<label class="r-search-label control-label" for="{$labelfor_cat_holding_03_empresas_unidades_productivas_id}">
		{$label tr_compras_requisiciones_01 cat_holding_03_empresas_unidades_productivas_id }	</label>
	<div class="r-search-option">
		{$searchtype_cat_holding_03_empresas_unidades_productivas_id}
	</div>
	<div class="r-search-field">
		{$cat_holding_03_empresas_unidades_productivas_id_editcontrol}	</div>
	<div class="r-search-field">
		{$cat_holding_03_empresas_unidades_productivas_id_editcontrol1}
	</div>
	
</div>

{END cat_holding_03_empresas_unidades_productivas_id_fieldblock}
											
{BEGIN cat_trabajadores_altas_id_solicitante_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cat_trabajadores_altas_id_solicitante}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cat_trabajadores_altas_id_solicitante{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="cat_trabajadores_altas_id_solicitante" data-fieldname="cat_trabajadores_altas_id_solicitante" >


	<label class="r-search-label control-label" for="{$labelfor_cat_trabajadores_altas_id_solicitante}">
		{$label tr_compras_requisiciones_01 cat_trabajadores_altas_id_solicitante }	</label>
	<div class="r-search-option">
		{$searchtype_cat_trabajadores_altas_id_solicitante}
	</div>
	<div class="r-search-field">
		{$cat_trabajadores_altas_id_solicitante_editcontrol}	</div>
	<div class="r-search-field">
		{$cat_trabajadores_altas_id_solicitante_editcontrol1}
	</div>
	
</div>

{END cat_trabajadores_altas_id_solicitante_fieldblock}
											
{BEGIN observaciones_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_observaciones}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="observaciones{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="observaciones" data-fieldname="observaciones" >


	<label class="r-search-label control-label" for="{$labelfor_observaciones}">
		{$label tr_compras_requisiciones_01 observaciones }	</label>
	<div class="r-search-option">
		{$searchtype_observaciones}
	</div>
	<div class="r-search-field">
		{$observaciones_editcontrol}	</div>
	<div class="r-search-field">
		{$observaciones_editcontrol1}
	</div>
	
</div>

{END observaciones_fieldblock}
											
{BEGIN cat_compras_estatus_mu_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cat_compras_estatus_mu_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cat_compras_estatus_mu_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="cat_compras_estatus_mu_id" data-fieldname="cat_compras_estatus_mu_id" >


	<label class="r-search-label control-label" for="{$labelfor_cat_compras_estatus_mu_id}">
		{$label tr_compras_requisiciones_01 cat_compras_estatus_mu_id }	</label>
	<div class="r-search-option">
		{$searchtype_cat_compras_estatus_mu_id}
	</div>
	<div class="r-search-field">
		{$cat_compras_estatus_mu_id_editcontrol}	</div>
	<div class="r-search-field">
		{$cat_compras_estatus_mu_id_editcontrol1}
	</div>
	
</div>

{END cat_compras_estatus_mu_id_fieldblock}
											
{BEGIN total_productos_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_total_productos}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="total_productos{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="total_productos" data-fieldname="total_productos" >


	<label class="r-search-label control-label" for="{$labelfor_total_productos}">
		{$label tr_compras_requisiciones_01 total_productos }	</label>
	<div class="r-search-option">
		{$searchtype_total_productos}
	</div>
	<div class="r-search-field">
		{$total_productos_editcontrol}	</div>
	<div class="r-search-field">
		{$total_productos_editcontrol1}
	</div>
	
</div>

{END total_productos_fieldblock}
											
{BEGIN vigente_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_vigente}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="vigente{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="vigente" data-fieldname="vigente" >


	<label class="r-search-label control-label" for="{$labelfor_vigente}">
		{$label tr_compras_requisiciones_01 vigente }	</label>
	<div class="r-search-option">
		{$searchtype_vigente}
	</div>
	<div class="r-search-field">
		{$vigente_editcontrol}	</div>
	<div class="r-search-field">
		{$vigente_editcontrol1}
	</div>
	
</div>

{END vigente_fieldblock}
											
{BEGIN tr_compras_requisiciones_01_uuid_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_tr_compras_requisiciones_01_uuid}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="tr_compras_requisiciones_01_uuid{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="tr_compras_requisiciones_01_uuid" data-fieldname="tr_compras_requisiciones_01_uuid" >


	<label class="r-search-label control-label" for="{$labelfor_tr_compras_requisiciones_01_uuid}">
		{$label tr_compras_requisiciones_01 tr_compras_requisiciones_01_uuid }	</label>
	<div class="r-search-option">
		{$searchtype_tr_compras_requisiciones_01_uuid}
	</div>
	<div class="r-search-field">
		{$tr_compras_requisiciones_01_uuid_editcontrol}	</div>
	<div class="r-search-field">
		{$tr_compras_requisiciones_01_uuid_editcontrol1}
	</div>
	
</div>

{END tr_compras_requisiciones_01_uuid_fieldblock}
											
{BEGIN capturista_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_capturista}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="capturista{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="capturista" data-fieldname="capturista" >


	<label class="r-search-label control-label" for="{$labelfor_capturista}">
		{$label tr_compras_requisiciones_01 capturista }	</label>
	<div class="r-search-option">
		{$searchtype_capturista}
	</div>
	<div class="r-search-field">
		{$capturista_editcontrol}	</div>
	<div class="r-search-field">
		{$capturista_editcontrol1}
	</div>
	
</div>

{END capturista_fieldblock}
											
{BEGIN check_compra_directa_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_check_compra_directa}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="check_compra_directa{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="check_compra_directa" data-fieldname="check_compra_directa" >


	<label class="r-search-label control-label" for="{$labelfor_check_compra_directa}">
		{$label tr_compras_requisiciones_01 check_compra_directa }	</label>
	<div class="r-search-option">
		{$searchtype_check_compra_directa}
	</div>
	<div class="r-search-field">
		{$check_compra_directa_editcontrol}	</div>
	<div class="r-search-field">
		{$check_compra_directa_editcontrol1}
	</div>
	
</div>

{END check_compra_directa_fieldblock}
											
{BEGIN fecha_de_compra_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_fecha_de_compra}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="fecha_de_compra{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="fecha_de_compra" data-fieldname="fecha_de_compra" >


	<label class="r-search-label control-label" for="{$labelfor_fecha_de_compra}">
		{$label tr_compras_requisiciones_01 fecha_de_compra }	</label>
	<div class="r-search-option">
		{$searchtype_fecha_de_compra}
	</div>
	<div class="r-search-field">
		{$fecha_de_compra_editcontrol}	</div>
	<div class="r-search-field">
		{$fecha_de_compra_editcontrol1}
	</div>
	
</div>

{END fecha_de_compra_fieldblock}
											
{BEGIN fecha_de_pago_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_fecha_de_pago}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="fecha_de_pago{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="fecha_de_pago" data-fieldname="fecha_de_pago" >


	<label class="r-search-label control-label" for="{$labelfor_fecha_de_pago}">
		{$label tr_compras_requisiciones_01 fecha_de_pago }	</label>
	<div class="r-search-option">
		{$searchtype_fecha_de_pago}
	</div>
	<div class="r-search-field">
		{$fecha_de_pago_editcontrol}	</div>
	<div class="r-search-field">
		{$fecha_de_pago_editcontrol1}
	</div>
	
</div>

{END fecha_de_pago_fieldblock}
											
{BEGIN cat_compras_proveedores_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cat_compras_proveedores_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cat_compras_proveedores_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" {$item_integrated_search_field12} data-pageid="{$pageid}" data-field="cat_compras_proveedores_id" data-fieldname="cat_compras_proveedores_id" >


	<label class="r-search-label control-label" for="{$labelfor_cat_compras_proveedores_id}">
		{$label tr_compras_requisiciones_01 cat_compras_proveedores_id }	</label>
	<div class="r-search-option">
		{$searchtype_cat_compras_proveedores_id}
	</div>
	<div class="r-search-field">
		{$cat_compras_proveedores_id_editcontrol}	</div>
	<div class="r-search-field">
		{$cat_compras_proveedores_id_editcontrol1}
	</div>
	
</div>

{END cat_compras_proveedores_id_fieldblock}
											
{BEGIN cat_compras_documentos_mu_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cat_compras_documentos_mu_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cat_compras_documentos_mu_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field13" {$item_integrated_search_field13} data-pageid="{$pageid}" data-field="cat_compras_documentos_mu_id" data-fieldname="cat_compras_documentos_mu_id" >


	<label class="r-search-label control-label" for="{$labelfor_cat_compras_documentos_mu_id}">
		{$label tr_compras_requisiciones_01 cat_compras_documentos_mu_id }	</label>
	<div class="r-search-option">
		{$searchtype_cat_compras_documentos_mu_id}
	</div>
	<div class="r-search-field">
		{$cat_compras_documentos_mu_id_editcontrol}	</div>
	<div class="r-search-field">
		{$cat_compras_documentos_mu_id_editcontrol1}
	</div>
	
</div>

{END cat_compras_documentos_mu_id_fieldblock}
											
{BEGIN referencia_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_referencia}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="referencia{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field14" {$item_integrated_search_field14} data-pageid="{$pageid}" data-field="referencia" data-fieldname="referencia" >


	<label class="r-search-label control-label" for="{$labelfor_referencia}">
		{$label tr_compras_requisiciones_01 referencia }	</label>
	<div class="r-search-option">
		{$searchtype_referencia}
	</div>
	<div class="r-search-field">
		{$referencia_editcontrol}	</div>
	<div class="r-search-field">
		{$referencia_editcontrol1}
	</div>
	
</div>

{END referencia_fieldblock}
											
{BEGIN importe_abono_compra_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_importe_abono_compra}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="importe_abono_compra{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field15" {$item_integrated_search_field15} data-pageid="{$pageid}" data-field="importe_abono_compra" data-fieldname="importe_abono_compra" >


	<label class="r-search-label control-label" for="{$labelfor_importe_abono_compra}">
		{$label tr_compras_requisiciones_01 importe_abono_compra }	</label>
	<div class="r-search-option">
		{$searchtype_importe_abono_compra}
	</div>
	<div class="r-search-field">
		{$importe_abono_compra_editcontrol}	</div>
	<div class="r-search-field">
		{$importe_abono_compra_editcontrol1}
	</div>
	
</div>

{END importe_abono_compra_fieldblock}
											
{BEGIN orden_de_compra_proveedor_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_orden_de_compra_proveedor}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="orden_de_compra_proveedor{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field16" {$item_integrated_search_field16} data-pageid="{$pageid}" data-field="orden_de_compra_proveedor" data-fieldname="orden_de_compra_proveedor" >


	<label class="r-search-label control-label" for="{$labelfor_orden_de_compra_proveedor}">
		{$label tr_compras_requisiciones_01 orden_de_compra_proveedor }	</label>
	<div class="r-search-option">
		{$searchtype_orden_de_compra_proveedor}
	</div>
	<div class="r-search-field">
		{$orden_de_compra_proveedor_editcontrol}	</div>
	<div class="r-search-field">
		{$orden_de_compra_proveedor_editcontrol1}
	</div>
	
</div>

{END orden_de_compra_proveedor_fieldblock}
											
{BEGIN referencia_bancaria_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_referencia_bancaria}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="referencia_bancaria{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field17" {$item_integrated_search_field17} data-pageid="{$pageid}" data-field="referencia_bancaria" data-fieldname="referencia_bancaria" >


	<label class="r-search-label control-label" for="{$labelfor_referencia_bancaria}">
		{$label tr_compras_requisiciones_01 referencia_bancaria }	</label>
	<div class="r-search-option">
		{$searchtype_referencia_bancaria}
	</div>
	<div class="r-search-field">
		{$referencia_bancaria_editcontrol}	</div>
	<div class="r-search-field">
		{$referencia_bancaria_editcontrol1}
	</div>
	
</div>

{END referencia_bancaria_fieldblock}
											
{BEGIN observacion_abono_compra_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_observacion_abono_compra}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="observacion_abono_compra{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field18" {$item_integrated_search_field18} data-pageid="{$pageid}" data-field="observacion_abono_compra" data-fieldname="observacion_abono_compra" >


	<label class="r-search-label control-label" for="{$labelfor_observacion_abono_compra}">
		{$label tr_compras_requisiciones_01 observacion_abono_compra }	</label>
	<div class="r-search-option">
		{$searchtype_observacion_abono_compra}
	</div>
	<div class="r-search-field">
		{$observacion_abono_compra_editcontrol}	</div>
	<div class="r-search-field">
		{$observacion_abono_compra_editcontrol1}
	</div>
	
</div>

{END observacion_abono_compra_fieldblock}
											
{BEGIN observacion_cargo_pago_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_observacion_cargo_pago}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="observacion_cargo_pago{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field19" {$item_integrated_search_field19} data-pageid="{$pageid}" data-field="observacion_cargo_pago" data-fieldname="observacion_cargo_pago" >


	<label class="r-search-label control-label" for="{$labelfor_observacion_cargo_pago}">
		{$label tr_compras_requisiciones_01 observacion_cargo_pago }	</label>
	<div class="r-search-option">
		{$searchtype_observacion_cargo_pago}
	</div>
	<div class="r-search-field">
		{$observacion_cargo_pago_editcontrol}	</div>
	<div class="r-search-field">
		{$observacion_cargo_pago_editcontrol1}
	</div>
	
</div>

{END observacion_cargo_pago_fieldblock}
											
{BEGIN uuid_sat_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_uuid_sat}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="uuid_sat{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field20" {$item_integrated_search_field20} data-pageid="{$pageid}" data-field="uuid_sat" data-fieldname="uuid_sat" >


	<label class="r-search-label control-label" for="{$labelfor_uuid_sat}">
		{$label tr_compras_requisiciones_01 uuid_sat }	</label>
	<div class="r-search-option">
		{$searchtype_uuid_sat}
	</div>
	<div class="r-search-field">
		{$uuid_sat_editcontrol}	</div>
	<div class="r-search-field">
		{$uuid_sat_editcontrol1}
	</div>
	
</div>

{END uuid_sat_fieldblock}
											
{BEGIN cat_finanzas_bancos_cuentas_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cat_finanzas_bancos_cuentas_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cat_finanzas_bancos_cuentas_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field21" {$item_integrated_search_field21} data-pageid="{$pageid}" data-field="cat_finanzas_bancos_cuentas_id" data-fieldname="cat_finanzas_bancos_cuentas_id" >


	<label class="r-search-label control-label" for="{$labelfor_cat_finanzas_bancos_cuentas_id}">
		{$label tr_compras_requisiciones_01 cat_finanzas_bancos_cuentas_id }	</label>
	<div class="r-search-option">
		{$searchtype_cat_finanzas_bancos_cuentas_id}
	</div>
	<div class="r-search-field">
		{$cat_finanzas_bancos_cuentas_id_editcontrol}	</div>
	<div class="r-search-field">
		{$cat_finanzas_bancos_cuentas_id_editcontrol1}
	</div>
	
</div>

{END cat_finanzas_bancos_cuentas_id_fieldblock}
											
{BEGIN cat_finanzas_cajas_chicas_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cat_finanzas_cajas_chicas_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cat_finanzas_cajas_chicas_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field22" {$item_integrated_search_field22} data-pageid="{$pageid}" data-field="cat_finanzas_cajas_chicas_id" data-fieldname="cat_finanzas_cajas_chicas_id" >


	<label class="r-search-label control-label" for="{$labelfor_cat_finanzas_cajas_chicas_id}">
		{$label tr_compras_requisiciones_01 cat_finanzas_cajas_chicas_id }	</label>
	<div class="r-search-option">
		{$searchtype_cat_finanzas_cajas_chicas_id}
	</div>
	<div class="r-search-field">
		{$cat_finanzas_cajas_chicas_id_editcontrol}	</div>
	<div class="r-search-field">
		{$cat_finanzas_cajas_chicas_id_editcontrol1}
	</div>
	
</div>

{END cat_finanzas_cajas_chicas_id_fieldblock}
											
{BEGIN cat_finanzas_cuentas_de_balance_04_llave_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cat_finanzas_cuentas_de_balance_04_llave}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cat_finanzas_cuentas_de_balance_04_llave{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field23" {$item_integrated_search_field23} data-pageid="{$pageid}" data-field="cat_finanzas_cuentas_de_balance_04_llave" data-fieldname="cat_finanzas_cuentas_de_balance_04_llave" >


	<label class="r-search-label control-label" for="{$labelfor_cat_finanzas_cuentas_de_balance_04_llave}">
		{$label tr_compras_requisiciones_01 cat_finanzas_cuentas_de_balance_04_llave }	</label>
	<div class="r-search-option">
		{$searchtype_cat_finanzas_cuentas_de_balance_04_llave}
	</div>
	<div class="r-search-field">
		{$cat_finanzas_cuentas_de_balance_04_llave_editcontrol}	</div>
	<div class="r-search-field">
		{$cat_finanzas_cuentas_de_balance_04_llave_editcontrol1}
	</div>
	
</div>

{END cat_finanzas_cuentas_de_balance_04_llave_fieldblock}
											
{BEGIN descripcion_compras_estatus_mu_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_descripcion_compras_estatus_mu}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="descripcion_compras_estatus_mu{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field24" {$item_integrated_search_field24} data-pageid="{$pageid}" data-field="descripcion_compras_estatus_mu" data-fieldname="descripcion_compras_estatus_mu" >


	<label class="r-search-label control-label" for="{$labelfor_descripcion_compras_estatus_mu}">
		{$label tr_compras_requisiciones_01 descripcion_compras_estatus_mu }	</label>
	<div class="r-search-option">
		{$searchtype_descripcion_compras_estatus_mu}
	</div>
	<div class="r-search-field">
		{$descripcion_compras_estatus_mu_editcontrol}	</div>
	<div class="r-search-field">
		{$descripcion_compras_estatus_mu_editcontrol1}
	</div>
	
</div>

{END descripcion_compras_estatus_mu_fieldblock}
											
{BEGIN tr_compras_requisiciones_01_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_tr_compras_requisiciones_01_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="tr_compras_requisiciones_01_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field25" {$item_integrated_search_field25} data-pageid="{$pageid}" data-field="tr_compras_requisiciones_01_id" data-fieldname="tr_compras_requisiciones_01_id" >


	<label class="r-search-label control-label" for="{$labelfor_tr_compras_requisiciones_01_id}">
		{$label tr_compras_requisiciones_01 tr_compras_requisiciones_01_id }	</label>
	<div class="r-search-option">
		{$searchtype_tr_compras_requisiciones_01_id}
	</div>
	<div class="r-search-field">
		{$tr_compras_requisiciones_01_id_editcontrol}	</div>
	<div class="r-search-field">
		{$tr_compras_requisiciones_01_id_editcontrol1}
	</div>
	
</div>

{END tr_compras_requisiciones_01_id_fieldblock}
											
{BEGIN cat_usuarios_licencias_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cat_usuarios_licencias_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cat_usuarios_licencias_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field26" {$item_integrated_search_field26} data-pageid="{$pageid}" data-field="cat_usuarios_licencias_id" data-fieldname="cat_usuarios_licencias_id" >


	<label class="r-search-label control-label" for="{$labelfor_cat_usuarios_licencias_id}">
		{$label tr_compras_requisiciones_01 cat_usuarios_licencias_id }	</label>
	<div class="r-search-option">
		{$searchtype_cat_usuarios_licencias_id}
	</div>
	<div class="r-search-field">
		{$cat_usuarios_licencias_id_editcontrol}	</div>
	<div class="r-search-field">
		{$cat_usuarios_licencias_id_editcontrol1}
	</div>
	
</div>

{END cat_usuarios_licencias_id_fieldblock}
	
								</td>
			{END cellblock_grid_c1}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} data-page=undefined >
							Buscar			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reiniciar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancelar			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
