<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel tr_compras_requisiciones_01_edti_root search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c1}
<td
	{$cell_grid_c1}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c1" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN vigente_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_vigente}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="vigente{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="vigente" data-fieldname="vigente" >


	<label class="r-search-label control-label" for="{$labelfor_vigente}">
		{$label tr_compras_requisiciones_01_edti_root vigente }	</label>
	<div class="r-search-option">
		{$searchtype_vigente}
	</div>
	<div class="r-search-field">
		{$vigente_editcontrol}	</div>
	<div class="r-search-field">
		{$vigente_editcontrol1}
	</div>
	
</div>

{END vigente_fieldblock}
											
{BEGIN fecha_de_captura_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_fecha_de_captura}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="fecha_de_captura{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="fecha_de_captura" data-fieldname="fecha_de_captura" >


	<label class="r-search-label control-label" for="{$labelfor_fecha_de_captura}">
		{$label tr_compras_requisiciones_01_edti_root fecha_de_captura }	</label>
	<div class="r-search-option">
		{$searchtype_fecha_de_captura}
	</div>
	<div class="r-search-field">
		{$fecha_de_captura_editcontrol}	</div>
	<div class="r-search-field">
		{$fecha_de_captura_editcontrol1}
	</div>
	
</div>

{END fecha_de_captura_fieldblock}
											
{BEGIN cat_trabajadores_altas_id_solicitante_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cat_trabajadores_altas_id_solicitante}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cat_trabajadores_altas_id_solicitante{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="cat_trabajadores_altas_id_solicitante" data-fieldname="cat_trabajadores_altas_id_solicitante" >


	<label class="r-search-label control-label" for="{$labelfor_cat_trabajadores_altas_id_solicitante}">
		{$label tr_compras_requisiciones_01_edti_root cat_trabajadores_altas_id_solicitante }	</label>
	<div class="r-search-option">
		{$searchtype_cat_trabajadores_altas_id_solicitante}
	</div>
	<div class="r-search-field">
		{$cat_trabajadores_altas_id_solicitante_editcontrol}	</div>
	<div class="r-search-field">
		{$cat_trabajadores_altas_id_solicitante_editcontrol1}
	</div>
	
</div>

{END cat_trabajadores_altas_id_solicitante_fieldblock}
											
{BEGIN cat_compras_estatus_mu_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cat_compras_estatus_mu_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cat_compras_estatus_mu_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="cat_compras_estatus_mu_id" data-fieldname="cat_compras_estatus_mu_id" >


	<label class="r-search-label control-label" for="{$labelfor_cat_compras_estatus_mu_id}">
		{$label tr_compras_requisiciones_01_edti_root cat_compras_estatus_mu_id }	</label>
	<div class="r-search-option">
		{$searchtype_cat_compras_estatus_mu_id}
	</div>
	<div class="r-search-field">
		{$cat_compras_estatus_mu_id_editcontrol}	</div>
	<div class="r-search-field">
		{$cat_compras_estatus_mu_id_editcontrol1}
	</div>
	
</div>

{END cat_compras_estatus_mu_id_fieldblock}
											
{BEGIN capturista_que_autoriza_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_capturista_que_autoriza}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="capturista_que_autoriza{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="capturista_que_autoriza" data-fieldname="capturista_que_autoriza" >


	<label class="r-search-label control-label" for="{$labelfor_capturista_que_autoriza}">
		{$label tr_compras_requisiciones_01_edti_root capturista_que_autoriza }	</label>
	<div class="r-search-option">
		{$searchtype_capturista_que_autoriza}
	</div>
	<div class="r-search-field">
		{$capturista_que_autoriza_editcontrol}	</div>
	<div class="r-search-field">
		{$capturista_que_autoriza_editcontrol1}
	</div>
	
</div>

{END capturista_que_autoriza_fieldblock}
											
{BEGIN capturista_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_capturista}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="capturista{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="capturista" data-fieldname="capturista" >


	<label class="r-search-label control-label" for="{$labelfor_capturista}">
		{$label tr_compras_requisiciones_01_edti_root capturista }	</label>
	<div class="r-search-option">
		{$searchtype_capturista}
	</div>
	<div class="r-search-field">
		{$capturista_editcontrol}	</div>
	<div class="r-search-field">
		{$capturista_editcontrol1}
	</div>
	
</div>

{END capturista_fieldblock}
											
{BEGIN observaciones_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_observaciones}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="observaciones{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="observaciones" data-fieldname="observaciones" >


	<label class="r-search-label control-label" for="{$labelfor_observaciones}">
		{$label tr_compras_requisiciones_01_edti_root observaciones }	</label>
	<div class="r-search-option">
		{$searchtype_observaciones}
	</div>
	<div class="r-search-field">
		{$observaciones_editcontrol}	</div>
	<div class="r-search-field">
		{$observaciones_editcontrol1}
	</div>
	
</div>

{END observaciones_fieldblock}
											
{BEGIN tr_compras_requisiciones_01_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_tr_compras_requisiciones_01_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="tr_compras_requisiciones_01_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="tr_compras_requisiciones_01_id" data-fieldname="tr_compras_requisiciones_01_id" >


	<label class="r-search-label control-label" for="{$labelfor_tr_compras_requisiciones_01_id}">
		{$label tr_compras_requisiciones_01_edti_root tr_compras_requisiciones_01_id }	</label>
	<div class="r-search-option">
		{$searchtype_tr_compras_requisiciones_01_id}
	</div>
	<div class="r-search-field">
		{$tr_compras_requisiciones_01_id_editcontrol}	</div>
	<div class="r-search-field">
		{$tr_compras_requisiciones_01_id_editcontrol1}
	</div>
	
</div>

{END tr_compras_requisiciones_01_id_fieldblock}
											
{BEGIN tr_centros_de_costos_llave_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_tr_centros_de_costos_llave}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="tr_centros_de_costos_llave{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="tr_centros_de_costos_llave" data-fieldname="tr_centros_de_costos_llave" >


	<label class="r-search-label control-label" for="{$labelfor_tr_centros_de_costos_llave}">
		{$label tr_compras_requisiciones_01_edti_root tr_centros_de_costos_llave }	</label>
	<div class="r-search-option">
		{$searchtype_tr_centros_de_costos_llave}
	</div>
	<div class="r-search-field">
		{$tr_centros_de_costos_llave_editcontrol}	</div>
	<div class="r-search-field">
		{$tr_centros_de_costos_llave_editcontrol1}
	</div>
	
</div>

{END tr_centros_de_costos_llave_fieldblock}
											
{BEGIN fecha_de_orden_de_compra_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_fecha_de_orden_de_compra}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="fecha_de_orden_de_compra{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" {$item_integrated_search_field12} data-pageid="{$pageid}" data-field="fecha_de_orden_de_compra" data-fieldname="fecha_de_orden_de_compra" >


	<label class="r-search-label control-label" for="{$labelfor_fecha_de_orden_de_compra}">
		{$label tr_compras_requisiciones_01_edti_root fecha_de_orden_de_compra }	</label>
	<div class="r-search-option">
		{$searchtype_fecha_de_orden_de_compra}
	</div>
	<div class="r-search-field">
		{$fecha_de_orden_de_compra_editcontrol}	</div>
	<div class="r-search-field">
		{$fecha_de_orden_de_compra_editcontrol1}
	</div>
	
</div>

{END fecha_de_orden_de_compra_fieldblock}
											
{BEGIN time_stamp_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_time_stamp}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="time_stamp{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field18" {$item_integrated_search_field18} data-pageid="{$pageid}" data-field="time_stamp" data-fieldname="time_stamp" >


	<label class="r-search-label control-label" for="{$labelfor_time_stamp}">
		{$label tr_compras_requisiciones_01_edti_root time_stamp }	</label>
	<div class="r-search-option">
		{$searchtype_time_stamp}
	</div>
	<div class="r-search-field">
		{$time_stamp_editcontrol}	</div>
	<div class="r-search-field">
		{$time_stamp_editcontrol1}
	</div>
	
</div>

{END time_stamp_fieldblock}
											
{BEGIN llave_tr_compras_requisiciones_01_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_llave_tr_compras_requisiciones_01}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="llave_tr_compras_requisiciones_01{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field20" {$item_integrated_search_field20} data-pageid="{$pageid}" data-field="llave_tr_compras_requisiciones_01" data-fieldname="llave_tr_compras_requisiciones_01" >


	<label class="r-search-label control-label" for="{$labelfor_llave_tr_compras_requisiciones_01}">
		{$label tr_compras_requisiciones_01_edti_root llave_tr_compras_requisiciones_01 }	</label>
	<div class="r-search-option">
		{$searchtype_llave_tr_compras_requisiciones_01}
	</div>
	<div class="r-search-field">
		{$llave_tr_compras_requisiciones_01_editcontrol}	</div>
	<div class="r-search-field">
		{$llave_tr_compras_requisiciones_01_editcontrol1}
	</div>
	
</div>

{END llave_tr_compras_requisiciones_01_fieldblock}
											
{BEGIN llave_unica_fecha_folio_imei_usuario_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_llave_unica_fecha_folio_imei_usuario}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="llave_unica_fecha_folio_imei_usuario{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field21" {$item_integrated_search_field21} data-pageid="{$pageid}" data-field="llave_unica_fecha_folio_imei_usuario" data-fieldname="llave_unica_fecha_folio_imei_usuario" >


	<label class="r-search-label control-label" for="{$labelfor_llave_unica_fecha_folio_imei_usuario}">
		{$label tr_compras_requisiciones_01_edti_root llave_unica_fecha_folio_imei_usuario }	</label>
	<div class="r-search-option">
		{$searchtype_llave_unica_fecha_folio_imei_usuario}
	</div>
	<div class="r-search-field">
		{$llave_unica_fecha_folio_imei_usuario_editcontrol}	</div>
	<div class="r-search-field">
		{$llave_unica_fecha_folio_imei_usuario_editcontrol1}
	</div>
	
</div>

{END llave_unica_fecha_folio_imei_usuario_fieldblock}
											
{BEGIN cat_finanzas_movimientos_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cat_finanzas_movimientos_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cat_finanzas_movimientos_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="cat_finanzas_movimientos_id" data-fieldname="cat_finanzas_movimientos_id" >


	<label class="r-search-label control-label" for="{$labelfor_cat_finanzas_movimientos_id}">
		{$label tr_compras_requisiciones_01_edti_root cat_finanzas_movimientos_id }	</label>
	<div class="r-search-option">
		{$searchtype_cat_finanzas_movimientos_id}
	</div>
	<div class="r-search-field">
		{$cat_finanzas_movimientos_id_editcontrol}	</div>
	<div class="r-search-field">
		{$cat_finanzas_movimientos_id_editcontrol1}
	</div>
	
</div>

{END cat_finanzas_movimientos_id_fieldblock}
											
{BEGIN cat_compras_proveedores_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cat_compras_proveedores_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cat_compras_proveedores_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="cat_compras_proveedores_id" data-fieldname="cat_compras_proveedores_id" >


	<label class="r-search-label control-label" for="{$labelfor_cat_compras_proveedores_id}">
		{$label tr_compras_requisiciones_01_edti_root cat_compras_proveedores_id }	</label>
	<div class="r-search-option">
		{$searchtype_cat_compras_proveedores_id}
	</div>
	<div class="r-search-field">
		{$cat_compras_proveedores_id_editcontrol}	</div>
	<div class="r-search-field">
		{$cat_compras_proveedores_id_editcontrol1}
	</div>
	
</div>

{END cat_compras_proveedores_id_fieldblock}
											
{BEGIN importe_neto_orden_de_compra_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_importe_neto_orden_de_compra}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="importe_neto_orden_de_compra{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="importe_neto_orden_de_compra" data-fieldname="importe_neto_orden_de_compra" >


	<label class="r-search-label control-label" for="{$labelfor_importe_neto_orden_de_compra}">
		{$label tr_compras_requisiciones_01_edti_root importe_neto_orden_de_compra }	</label>
	<div class="r-search-option">
		{$searchtype_importe_neto_orden_de_compra}
	</div>
	<div class="r-search-field">
		{$importe_neto_orden_de_compra_editcontrol}	</div>
	<div class="r-search-field">
		{$importe_neto_orden_de_compra_editcontrol1}
	</div>
	
</div>

{END importe_neto_orden_de_compra_fieldblock}
											
{BEGIN referencia_proveedor_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_referencia_proveedor}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="referencia_proveedor{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field13" {$item_integrated_search_field13} data-pageid="{$pageid}" data-field="referencia_proveedor" data-fieldname="referencia_proveedor" >


	<label class="r-search-label control-label" for="{$labelfor_referencia_proveedor}">
		{$label tr_compras_requisiciones_01_edti_root referencia_proveedor }	</label>
	<div class="r-search-option">
		{$searchtype_referencia_proveedor}
	</div>
	<div class="r-search-field">
		{$referencia_proveedor_editcontrol}	</div>
	<div class="r-search-field">
		{$referencia_proveedor_editcontrol1}
	</div>
	
</div>

{END referencia_proveedor_fieldblock}
											
{BEGIN numero_de_productos_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_numero_de_productos}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="numero_de_productos{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field14" {$item_integrated_search_field14} data-pageid="{$pageid}" data-field="numero_de_productos" data-fieldname="numero_de_productos" >


	<label class="r-search-label control-label" for="{$labelfor_numero_de_productos}">
		{$label tr_compras_requisiciones_01_edti_root numero_de_productos }	</label>
	<div class="r-search-option">
		{$searchtype_numero_de_productos}
	</div>
	<div class="r-search-field">
		{$numero_de_productos_editcontrol}	</div>
	<div class="r-search-field">
		{$numero_de_productos_editcontrol1}
	</div>
	
</div>

{END numero_de_productos_fieldblock}
											
{BEGIN cat_compras_documentos_mu_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cat_compras_documentos_mu_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cat_compras_documentos_mu_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field15" {$item_integrated_search_field15} data-pageid="{$pageid}" data-field="cat_compras_documentos_mu_id" data-fieldname="cat_compras_documentos_mu_id" >


	<label class="r-search-label control-label" for="{$labelfor_cat_compras_documentos_mu_id}">
		{$label tr_compras_requisiciones_01_edti_root cat_compras_documentos_mu_id }	</label>
	<div class="r-search-option">
		{$searchtype_cat_compras_documentos_mu_id}
	</div>
	<div class="r-search-field">
		{$cat_compras_documentos_mu_id_editcontrol}	</div>
	<div class="r-search-field">
		{$cat_compras_documentos_mu_id_editcontrol1}
	</div>
	
</div>

{END cat_compras_documentos_mu_id_fieldblock}
											
{BEGIN cat_compras_proveedores_asignacion_mu_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cat_compras_proveedores_asignacion_mu_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cat_compras_proveedores_asignacion_mu_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field16" {$item_integrated_search_field16} data-pageid="{$pageid}" data-field="cat_compras_proveedores_asignacion_mu_id" data-fieldname="cat_compras_proveedores_asignacion_mu_id" >


	<label class="r-search-label control-label" for="{$labelfor_cat_compras_proveedores_asignacion_mu_id}">
		{$label tr_compras_requisiciones_01_edti_root cat_compras_proveedores_asignacion_mu_id }	</label>
	<div class="r-search-option">
		{$searchtype_cat_compras_proveedores_asignacion_mu_id}
	</div>
	<div class="r-search-field">
		{$cat_compras_proveedores_asignacion_mu_id_editcontrol}	</div>
	<div class="r-search-field">
		{$cat_compras_proveedores_asignacion_mu_id_editcontrol1}
	</div>
	
</div>

{END cat_compras_proveedores_asignacion_mu_id_fieldblock}
											
{BEGIN cat_finanzas_transacciones_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cat_finanzas_transacciones_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cat_finanzas_transacciones_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field17" {$item_integrated_search_field17} data-pageid="{$pageid}" data-field="cat_finanzas_transacciones_id" data-fieldname="cat_finanzas_transacciones_id" >


	<label class="r-search-label control-label" for="{$labelfor_cat_finanzas_transacciones_id}">
		{$label tr_compras_requisiciones_01_edti_root cat_finanzas_transacciones_id }	</label>
	<div class="r-search-option">
		{$searchtype_cat_finanzas_transacciones_id}
	</div>
	<div class="r-search-field">
		{$cat_finanzas_transacciones_id_editcontrol}	</div>
	<div class="r-search-field">
		{$cat_finanzas_transacciones_id_editcontrol1}
	</div>
	
</div>

{END cat_finanzas_transacciones_id_fieldblock}
											
{BEGIN proveedor_a_asignar_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_proveedor_a_asignar}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="proveedor_a_asignar{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field19" {$item_integrated_search_field19} data-pageid="{$pageid}" data-field="proveedor_a_asignar" data-fieldname="proveedor_a_asignar" >


	<label class="r-search-label control-label" for="{$labelfor_proveedor_a_asignar}">
		{$label tr_compras_requisiciones_01_edti_root proveedor_a_asignar }	</label>
	<div class="r-search-option">
		{$searchtype_proveedor_a_asignar}
	</div>
	<div class="r-search-field">
		{$proveedor_a_asignar_editcontrol}	</div>
	<div class="r-search-field">
		{$proveedor_a_asignar_editcontrol1}
	</div>
	
</div>

{END proveedor_a_asignar_fieldblock}
											
{BEGIN cat_compras_tipo_de_pago_mu_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cat_compras_tipo_de_pago_mu_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cat_compras_tipo_de_pago_mu_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field22" {$item_integrated_search_field22} data-pageid="{$pageid}" data-field="cat_compras_tipo_de_pago_mu_id" data-fieldname="cat_compras_tipo_de_pago_mu_id" >


	<label class="r-search-label control-label" for="{$labelfor_cat_compras_tipo_de_pago_mu_id}">
		{$label tr_compras_requisiciones_01_edti_root cat_compras_tipo_de_pago_mu_id }	</label>
	<div class="r-search-option">
		{$searchtype_cat_compras_tipo_de_pago_mu_id}
	</div>
	<div class="r-search-field">
		{$cat_compras_tipo_de_pago_mu_id_editcontrol}	</div>
	<div class="r-search-field">
		{$cat_compras_tipo_de_pago_mu_id_editcontrol1}
	</div>
	
</div>

{END cat_compras_tipo_de_pago_mu_id_fieldblock}
											
{BEGIN cat_usuarios_licencias_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cat_usuarios_licencias_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cat_usuarios_licencias_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field23" {$item_integrated_search_field23} data-pageid="{$pageid}" data-field="cat_usuarios_licencias_id" data-fieldname="cat_usuarios_licencias_id" >


	<label class="r-search-label control-label" for="{$labelfor_cat_usuarios_licencias_id}">
		{$label tr_compras_requisiciones_01_edti_root cat_usuarios_licencias_id }	</label>
	<div class="r-search-option">
		{$searchtype_cat_usuarios_licencias_id}
	</div>
	<div class="r-search-field">
		{$cat_usuarios_licencias_id_editcontrol}	</div>
	<div class="r-search-field">
		{$cat_usuarios_licencias_id_editcontrol1}
	</div>
	
</div>

{END cat_usuarios_licencias_id_fieldblock}
											
{BEGIN descripcion_licencia_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_descripcion_licencia}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="descripcion_licencia{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field24" {$item_integrated_search_field24} data-pageid="{$pageid}" data-field="descripcion_licencia" data-fieldname="descripcion_licencia" >


	<label class="r-search-label control-label" for="{$labelfor_descripcion_licencia}">
		{$label tr_compras_requisiciones_01_edti_root descripcion_licencia }	</label>
	<div class="r-search-option">
		{$searchtype_descripcion_licencia}
	</div>
	<div class="r-search-field">
		{$descripcion_licencia_editcontrol}	</div>
	<div class="r-search-field">
		{$descripcion_licencia_editcontrol1}
	</div>
	
</div>

{END descripcion_licencia_fieldblock}
	
								</td>
			{END cellblock_grid_c1}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} data-page=undefined >
							Buscar			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reiniciar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancelar			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
