<div class="panel panel-primary">
		<div class="panel-heading">
						{BEGIN top_block}
<div class="panel-title r-panel-top row" data-location="top" id="form_top_{$pageid}" data-makeup="panel-only" {$form_top} data-pageid="{$pageid}" >		
	 
		 
			<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class="			col-md-12
	
">
		 
		<span data-itemtype="back_master" data-itemid="back_master" {$item_back_master} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-link  btn-xs 
	" {$backtomasterlink_attrs} >
							Regresar a la tabla principal			</a>
</span>
	 
		<h3 class="panel-title" data-itemtype="masterlist_header" data-itemid="masterlist_header" {$item_masterlist_header} data-pageid="{$pageid}" >{$pagetitlelabel tr_compras_proveedores_01_cargos_abonos_pagos_edit masterlist}</h3>
		</div>			</div>		
{END top_block}
			</div>
		<div class="panel-body">
							{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="panel-only" {$form_above-grid} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	
">
		{BEGIN firstAboveGridCell}
				{END firstAboveGridCell}	
	</div>					</div>
			</div>		
{END above-grid_block}
								{BEGIN grid_block}
{BEGIN message_block}
<div data-grid-message data-pageid="{$pageid}" class="alert {$message_class}" role="alert" {$grid_message_attrs}>{$message}</div>
{END message_block}<table data-location="grid" id="form_grid_{$pageid}" data-makeup="panel-only" {$form_grid} data-pageid="{$pageid}" class=" table table-striped table-bordered r-horizontal-grid  rnr-b-grid rnr-gridtable"
	cellpadding="0"
	data-body-height="1"
>
						<thead>
			{BEGIN grid_header}
			
																									<tr {$rowattrs} {$row_grid_0} class="{$rowclass}
									{$gridHeader_class}
					
								r-gridrow
							">
									{BEGIN cellblock_grid_headcell_field}
	<th
	
	{$cell_grid_headcell_field}
	{$recordattrs}
	class="
		 r-ori-vert		 {$cat_compras_proveedores_id_class}	"

			data-field="cat_compras_proveedores_id"
	
	data-cellId="grid_headcell_field" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN cat_compras_proveedores_id_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field19" {$item_simple_grid_field19} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="cat_compras_proveedores_id" data-fieldname="cat_compras_proveedores_id" 

	
	
	>
	<span class="text-label">
		<span>{$label tr_compras_proveedores_01_cargos_abonos_pagos_edit cat_compras_proveedores_id }</span>
			</span>
	</span>
{END cat_compras_proveedores_id_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field}
									{BEGIN cellblock_grid_headcell_field1}
	<th
	
	{$cell_grid_headcell_field1}
	{$recordattrs}
	class="
		 r-ori-vert		 {$descripcion_proveedores_class}	"

			data-field="descripcion_proveedores"
	
	data-cellId="grid_headcell_field1" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN descripcion_proveedores_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field20" {$item_simple_grid_field20} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="descripcion_proveedores" data-fieldname="descripcion_proveedores" 

	
	
	>
	<span class="text-label">
		<span>{$label tr_compras_proveedores_01_cargos_abonos_pagos_edit descripcion_proveedores }</span>
			</span>
	</span>
{END descripcion_proveedores_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field1}
									{BEGIN cellblock_grid_headcell_field2}
	<th
	
	{$cell_grid_headcell_field2}
	{$recordattrs}
	class="
		 r-ori-vert		 {$rfc_compras_proveedores_class}	"

			data-field="rfc_compras_proveedores"
	
	data-cellId="grid_headcell_field2" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN rfc_compras_proveedores_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field21" {$item_simple_grid_field21} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="rfc_compras_proveedores" data-fieldname="rfc_compras_proveedores" 

	
	
	>
	<span class="text-label">
		<span>{$label tr_compras_proveedores_01_cargos_abonos_pagos_edit rfc_compras_proveedores }</span>
			</span>
	</span>
{END rfc_compras_proveedores_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field2}
									{BEGIN cellblock_grid_headcell_field3}
	<th
	
	{$cell_grid_headcell_field3}
	{$recordattrs}
	class="
		 r-ori-vert		 {$cat_usuarios_licencias_id_class}	"

			data-field="cat_usuarios_licencias_id"
	
	data-cellId="grid_headcell_field3" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN cat_usuarios_licencias_id_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field22" {$item_simple_grid_field22} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="cat_usuarios_licencias_id" data-fieldname="cat_usuarios_licencias_id" 

	
	
	>
	<span class="text-label">
		<span>{$label tr_compras_proveedores_01_cargos_abonos_pagos_edit cat_usuarios_licencias_id }</span>
			</span>
	</span>
{END cat_usuarios_licencias_id_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field3}
									{BEGIN cellblock_grid_headcell_field4}
	<th
	
	{$cell_grid_headcell_field4}
	{$recordattrs}
	class="
		 r-ori-vert		 {$ano_class}	"

			data-field="ano"
	
	data-cellId="grid_headcell_field4" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN ano_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field23" {$item_simple_grid_field23} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="ano" data-fieldname="ano" 

	
	
	>
	<span class="text-label">
		<span>{$label tr_compras_proveedores_01_cargos_abonos_pagos_edit ano }</span>
			</span>
	</span>
{END ano_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field4}
									{BEGIN cellblock_grid_headcell_field5}
	<th
	
	{$cell_grid_headcell_field5}
	{$recordattrs}
	class="
		 r-ori-vert		 {$mes_class}	"

			data-field="mes"
	
	data-cellId="grid_headcell_field5" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN mes_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field24" {$item_simple_grid_field24} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="mes" data-fieldname="mes" 

	
	
	>
	<span class="text-label">
		<span>{$label tr_compras_proveedores_01_cargos_abonos_pagos_edit mes }</span>
			</span>
	</span>
{END mes_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field5}
									{BEGIN cellblock_grid_headcell_field6}
	<th
	
	{$cell_grid_headcell_field6}
	{$recordattrs}
	class="
		 r-ori-vert		 {$ano_mes_class}	"

			data-field="ano_mes"
	
	data-cellId="grid_headcell_field6" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN ano_mes_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field25" {$item_simple_grid_field25} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="ano_mes" data-fieldname="ano_mes" 

	
	
	>
	<span class="text-label">
		<span>{$label tr_compras_proveedores_01_cargos_abonos_pagos_edit ano_mes }</span>
			</span>
	</span>
{END ano_mes_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field6}
									{BEGIN cellblock_grid_headcell_field7}
	<th
	
	{$cell_grid_headcell_field7}
	{$recordattrs}
	class="
		 r-ori-vert		 {$cat_finanzas_cuentas_de_balance_04_llave_class}	"

			data-field="cat_finanzas_cuentas_de_balance_04_llave"
	
	data-cellId="grid_headcell_field7" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN cat_finanzas_cuentas_de_balance_04_llave_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field26" {$item_simple_grid_field26} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="cat_finanzas_cuentas_de_balance_04_llave" data-fieldname="cat_finanzas_cuentas_de_balance_04_llave" 

	
	
	>
	<span class="text-label">
		<span>{$label tr_compras_proveedores_01_cargos_abonos_pagos_edit cat_finanzas_cuentas_de_balance_04_llave }</span>
			</span>
	</span>
{END cat_finanzas_cuentas_de_balance_04_llave_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field7}
									{BEGIN cellblock_grid_headcell_field8}
	<th
	
	{$cell_grid_headcell_field8}
	{$recordattrs}
	class="
		 r-ori-vert		 {$descripcion_balance_04_class}	"

			data-field="descripcion_balance_04"
	
	data-cellId="grid_headcell_field8" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN descripcion_balance_04_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field27" {$item_simple_grid_field27} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="descripcion_balance_04" data-fieldname="descripcion_balance_04" 

	
	
	>
	<span class="text-label">
		<span>{$label tr_compras_proveedores_01_cargos_abonos_pagos_edit descripcion_balance_04 }</span>
			</span>
	</span>
{END descripcion_balance_04_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field8}
									{BEGIN cellblock_grid_headcell_field9}
	<th
	
	{$cell_grid_headcell_field9}
	{$recordattrs}
	class="
		 r-ori-vert		 {$descripcion_balance_03_class}	"

			data-field="descripcion_balance_03"
	
	data-cellId="grid_headcell_field9" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN descripcion_balance_03_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field28" {$item_simple_grid_field28} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="descripcion_balance_03" data-fieldname="descripcion_balance_03" 

	
	
	>
	<span class="text-label">
		<span>{$label tr_compras_proveedores_01_cargos_abonos_pagos_edit descripcion_balance_03 }</span>
			</span>
	</span>
{END descripcion_balance_03_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field9}
									{BEGIN cellblock_grid_headcell_field10}
	<th
	
	{$cell_grid_headcell_field10}
	{$recordattrs}
	class="
		 r-ori-vert		 {$tr_compras_proveedores_01_cargos_abonos_id_class}	"

			data-field="tr_compras_proveedores_01_cargos_abonos_id"
	
	data-cellId="grid_headcell_field10" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN tr_compras_proveedores_01_cargos_abonos_id_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field29" {$item_simple_grid_field29} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="tr_compras_proveedores_01_cargos_abonos_id" data-fieldname="tr_compras_proveedores_01_cargos_abonos_id" 

	
	
	>
	<span class="text-label">
		<span>{$label tr_compras_proveedores_01_cargos_abonos_pagos_edit tr_compras_proveedores_01_cargos_abonos_id }</span>
			</span>
	</span>
{END tr_compras_proveedores_01_cargos_abonos_id_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field10}
									{BEGIN cellblock_grid_headcell_field11}
	<th
	
	{$cell_grid_headcell_field11}
	{$recordattrs}
	class="
		 r-ori-vert		 {$concepto_class}	"

			data-field="concepto"
	
	data-cellId="grid_headcell_field11" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN concepto_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field30" {$item_simple_grid_field30} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="concepto" data-fieldname="concepto" 

	
	
	>
	<span class="text-label">
		<span>{$label tr_compras_proveedores_01_cargos_abonos_pagos_edit concepto }</span>
			</span>
	</span>
{END concepto_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field11}
									{BEGIN cellblock_grid_headcell_field12}
	<th
	
	{$cell_grid_headcell_field12}
	{$recordattrs}
	class="
		 r-ori-vert		 {$importe_cargo_pago_class}	"

			data-field="importe_cargo_pago"
	
	data-cellId="grid_headcell_field12" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN importe_cargo_pago_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field31" {$item_simple_grid_field31} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="importe_cargo_pago" data-fieldname="importe_cargo_pago" 

	
	
	>
	<span class="text-label">
		<span>{$label tr_compras_proveedores_01_cargos_abonos_pagos_edit importe_cargo_pago }</span>
			</span>
	</span>
{END importe_cargo_pago_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field12}
									{BEGIN cellblock_grid_headcell_field13}
	<th
	
	{$cell_grid_headcell_field13}
	{$recordattrs}
	class="
		 r-ori-vert		 {$uuid_sat_class}	"

			data-field="uuid_sat"
	
	data-cellId="grid_headcell_field13" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN uuid_sat_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field32" {$item_simple_grid_field32} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="uuid_sat" data-fieldname="uuid_sat" 

	
	
	>
	<span class="text-label">
		<span>{$label tr_compras_proveedores_01_cargos_abonos_pagos_edit uuid_sat }</span>
			</span>
	</span>
{END uuid_sat_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field13}
									{BEGIN cellblock_grid_headcell_field14}
	<th
	
	{$cell_grid_headcell_field14}
	{$recordattrs}
	class="
		 r-ori-vert		 {$orden_de_compra_proveedor_class}	"

			data-field="orden_de_compra_proveedor"
	
	data-cellId="grid_headcell_field14" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN orden_de_compra_proveedor_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field33" {$item_simple_grid_field33} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="orden_de_compra_proveedor" data-fieldname="orden_de_compra_proveedor" 

	
	
	>
	<span class="text-label">
		<span>{$label tr_compras_proveedores_01_cargos_abonos_pagos_edit orden_de_compra_proveedor }</span>
			</span>
	</span>
{END orden_de_compra_proveedor_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field14}
									{BEGIN cellblock_grid_headcell_field15}
	<th
	
	{$cell_grid_headcell_field15}
	{$recordattrs}
	class="
		 r-ori-vert		 {$observacion_cargo_pago_class}	"

			data-field="observacion_cargo_pago"
	
	data-cellId="grid_headcell_field15" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN observacion_cargo_pago_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field34" {$item_simple_grid_field34} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="observacion_cargo_pago" data-fieldname="observacion_cargo_pago" 

	
	
	>
	<span class="text-label">
		<span>{$label tr_compras_proveedores_01_cargos_abonos_pagos_edit observacion_cargo_pago }</span>
			</span>
	</span>
{END observacion_cargo_pago_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field15}
									{BEGIN cellblock_grid_headcell_field16}
	<th
	
	{$cell_grid_headcell_field16}
	{$recordattrs}
	class="
		 r-ori-vert		 {$nombre_proveedor_class}	"

			data-field="nombre_proveedor"
	
	data-cellId="grid_headcell_field16" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN nombre_proveedor_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field35" {$item_simple_grid_field35} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="nombre_proveedor" data-fieldname="nombre_proveedor" 

	
	
	>
	<span class="text-label">
		<span>{$label tr_compras_proveedores_01_cargos_abonos_pagos_edit nombre_proveedor }</span>
			</span>
	</span>
{END nombre_proveedor_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field16}
									{BEGIN cellblock_grid_headcell_field17}
	<th
	
	{$cell_grid_headcell_field17}
	{$recordattrs}
	class="
		 r-ori-vert		 {$uuid_cargo_abono_pago_class}	"

			data-field="uuid_cargo_abono_pago"
	
	data-cellId="grid_headcell_field17" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN uuid_cargo_abono_pago_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field36" {$item_simple_grid_field36} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="uuid_cargo_abono_pago" data-fieldname="uuid_cargo_abono_pago" 

	
	
	>
	<span class="text-label">
		<span>{$label tr_compras_proveedores_01_cargos_abonos_pagos_edit uuid_cargo_abono_pago }</span>
			</span>
	</span>
{END uuid_cargo_abono_pago_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field17}
									{BEGIN cellblock_grid_headcell_field18}
	<th
	
	{$cell_grid_headcell_field18}
	{$recordattrs}
	class="
		 r-ori-vert		 {$tr_finanzas_bancos_01_id_class}	"

			data-field="tr_finanzas_bancos_01_id"
	
	data-cellId="grid_headcell_field18" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN tr_finanzas_bancos_01_id_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field37" {$item_simple_grid_field37} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="tr_finanzas_bancos_01_id" data-fieldname="tr_finanzas_bancos_01_id" 

	
	
	>
	<span class="text-label">
		<span>{$label tr_compras_proveedores_01_cargos_abonos_pagos_edit tr_finanzas_bancos_01_id }</span>
			</span>
	</span>
{END tr_finanzas_bancos_01_id_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field18}
							</tr>
															
					{END grid_header}
			</thead>
															<tbody>
					{BEGIN grid_row}
							
																														<tr {$rowattrs} {$row_grid_1} class="{$rowclass}
				
								r-gridrow
							">
									{BEGIN cellblock_grid_cell_field}
	<td
	
	{$cell_grid_cell_field}
	{$recordattrs}
	class="
		 r-ori-vert		 {$cat_compras_proveedores_id_class}	"

			data-field="cat_compras_proveedores_id"
	
	data-cellId="grid_cell_field" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN cat_compras_proveedores_id_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field3" {$item_simple_grid_field3} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="cat_compras_proveedores_id" data-fieldname="cat_compras_proveedores_id" data-default-width >
{$cat_compras_proveedores_id_value}
</span>
{END cat_compras_proveedores_id_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field}
									{BEGIN cellblock_grid_cell_field1}
	<td
	
	{$cell_grid_cell_field1}
	{$recordattrs}
	class="
		 r-ori-vert		 {$descripcion_proveedores_class}	"

			data-field="descripcion_proveedores"
	
	data-cellId="grid_cell_field1" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN descripcion_proveedores_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field" {$item_simple_grid_field} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="descripcion_proveedores" data-fieldname="descripcion_proveedores" data-default-width >
{$descripcion_proveedores_value}
</span>
{END descripcion_proveedores_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field1}
									{BEGIN cellblock_grid_cell_field2}
	<td
	
	{$cell_grid_cell_field2}
	{$recordattrs}
	class="
		 r-ori-vert		 {$rfc_compras_proveedores_class}	"

			data-field="rfc_compras_proveedores"
	
	data-cellId="grid_cell_field2" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN rfc_compras_proveedores_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field1" {$item_simple_grid_field1} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="rfc_compras_proveedores" data-fieldname="rfc_compras_proveedores" data-default-width >
{$rfc_compras_proveedores_value}
</span>
{END rfc_compras_proveedores_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field2}
									{BEGIN cellblock_grid_cell_field3}
	<td
	
	{$cell_grid_cell_field3}
	{$recordattrs}
	class="
		 r-ori-vert		 {$cat_usuarios_licencias_id_class}	"

			data-field="cat_usuarios_licencias_id"
	
	data-cellId="grid_cell_field3" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN cat_usuarios_licencias_id_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field2" {$item_simple_grid_field2} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="cat_usuarios_licencias_id" data-fieldname="cat_usuarios_licencias_id" data-default-width >
{$cat_usuarios_licencias_id_value}
</span>
{END cat_usuarios_licencias_id_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field3}
									{BEGIN cellblock_grid_cell_field4}
	<td
	
	{$cell_grid_cell_field4}
	{$recordattrs}
	class="
		 r-ori-vert		 {$ano_class}	"

			data-field="ano"
	
	data-cellId="grid_cell_field4" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN ano_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field4" {$item_simple_grid_field4} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="ano" data-fieldname="ano" data-default-width >
{$ano_value}
</span>
{END ano_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field4}
									{BEGIN cellblock_grid_cell_field5}
	<td
	
	{$cell_grid_cell_field5}
	{$recordattrs}
	class="
		 r-ori-vert		 {$mes_class}	"

			data-field="mes"
	
	data-cellId="grid_cell_field5" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN mes_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field5" {$item_simple_grid_field5} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="mes" data-fieldname="mes" data-default-width >
{$mes_value}
</span>
{END mes_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field5}
									{BEGIN cellblock_grid_cell_field6}
	<td
	
	{$cell_grid_cell_field6}
	{$recordattrs}
	class="
		 r-ori-vert		 {$ano_mes_class}	"

			data-field="ano_mes"
	
	data-cellId="grid_cell_field6" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN ano_mes_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field6" {$item_simple_grid_field6} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="ano_mes" data-fieldname="ano_mes" data-default-width >
{$ano_mes_value}
</span>
{END ano_mes_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field6}
									{BEGIN cellblock_grid_cell_field7}
	<td
	
	{$cell_grid_cell_field7}
	{$recordattrs}
	class="
		 r-ori-vert		 {$cat_finanzas_cuentas_de_balance_04_llave_class}	"

			data-field="cat_finanzas_cuentas_de_balance_04_llave"
	
	data-cellId="grid_cell_field7" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN cat_finanzas_cuentas_de_balance_04_llave_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field7" {$item_simple_grid_field7} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="cat_finanzas_cuentas_de_balance_04_llave" data-fieldname="cat_finanzas_cuentas_de_balance_04_llave" data-default-width >
{$cat_finanzas_cuentas_de_balance_04_llave_value}
</span>
{END cat_finanzas_cuentas_de_balance_04_llave_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field7}
									{BEGIN cellblock_grid_cell_field8}
	<td
	
	{$cell_grid_cell_field8}
	{$recordattrs}
	class="
		 r-ori-vert		 {$descripcion_balance_04_class}	"

			data-field="descripcion_balance_04"
	
	data-cellId="grid_cell_field8" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN descripcion_balance_04_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field8" {$item_simple_grid_field8} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="descripcion_balance_04" data-fieldname="descripcion_balance_04" data-default-width >
{$descripcion_balance_04_value}
</span>
{END descripcion_balance_04_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field8}
									{BEGIN cellblock_grid_cell_field9}
	<td
	
	{$cell_grid_cell_field9}
	{$recordattrs}
	class="
		 r-ori-vert		 {$descripcion_balance_03_class}	"

			data-field="descripcion_balance_03"
	
	data-cellId="grid_cell_field9" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN descripcion_balance_03_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field9" {$item_simple_grid_field9} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="descripcion_balance_03" data-fieldname="descripcion_balance_03" data-default-width >
{$descripcion_balance_03_value}
</span>
{END descripcion_balance_03_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field9}
									{BEGIN cellblock_grid_cell_field10}
	<td
	
	{$cell_grid_cell_field10}
	{$recordattrs}
	class="
		 r-ori-vert		 {$tr_compras_proveedores_01_cargos_abonos_id_class}	"

			data-field="tr_compras_proveedores_01_cargos_abonos_id"
	
	data-cellId="grid_cell_field10" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN tr_compras_proveedores_01_cargos_abonos_id_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field10" {$item_simple_grid_field10} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="tr_compras_proveedores_01_cargos_abonos_id" data-fieldname="tr_compras_proveedores_01_cargos_abonos_id" data-default-width >
{$tr_compras_proveedores_01_cargos_abonos_id_value}
</span>
{END tr_compras_proveedores_01_cargos_abonos_id_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field10}
									{BEGIN cellblock_grid_cell_field11}
	<td
	
	{$cell_grid_cell_field11}
	{$recordattrs}
	class="
		 r-ori-vert		 {$concepto_class}	"

			data-field="concepto"
	
	data-cellId="grid_cell_field11" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN concepto_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field11" {$item_simple_grid_field11} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="concepto" data-fieldname="concepto" data-default-width >
{$concepto_value}
</span>
{END concepto_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field11}
									{BEGIN cellblock_grid_cell_field12}
	<td
	
	{$cell_grid_cell_field12}
	{$recordattrs}
	class="
		 r-ori-vert		 {$importe_cargo_pago_class}	"

			data-field="importe_cargo_pago"
	
	data-cellId="grid_cell_field12" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN importe_cargo_pago_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field12" {$item_simple_grid_field12} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="importe_cargo_pago" data-fieldname="importe_cargo_pago" data-default-width >
{$importe_cargo_pago_value}
</span>
{END importe_cargo_pago_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field12}
									{BEGIN cellblock_grid_cell_field13}
	<td
	
	{$cell_grid_cell_field13}
	{$recordattrs}
	class="
		 r-ori-vert		 {$uuid_sat_class}	"

			data-field="uuid_sat"
	
	data-cellId="grid_cell_field13" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN uuid_sat_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field13" {$item_simple_grid_field13} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="uuid_sat" data-fieldname="uuid_sat" data-default-width >
{$uuid_sat_value}
</span>
{END uuid_sat_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field13}
									{BEGIN cellblock_grid_cell_field14}
	<td
	
	{$cell_grid_cell_field14}
	{$recordattrs}
	class="
		 r-ori-vert		 {$orden_de_compra_proveedor_class}	"

			data-field="orden_de_compra_proveedor"
	
	data-cellId="grid_cell_field14" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN orden_de_compra_proveedor_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field14" {$item_simple_grid_field14} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="orden_de_compra_proveedor" data-fieldname="orden_de_compra_proveedor" data-default-width >
{$orden_de_compra_proveedor_value}
</span>
{END orden_de_compra_proveedor_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field14}
									{BEGIN cellblock_grid_cell_field15}
	<td
	
	{$cell_grid_cell_field15}
	{$recordattrs}
	class="
		 r-ori-vert		 {$observacion_cargo_pago_class}	"

			data-field="observacion_cargo_pago"
	
	data-cellId="grid_cell_field15" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN observacion_cargo_pago_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field15" {$item_simple_grid_field15} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="observacion_cargo_pago" data-fieldname="observacion_cargo_pago" data-default-width >
{$observacion_cargo_pago_value}
</span>
{END observacion_cargo_pago_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field15}
									{BEGIN cellblock_grid_cell_field16}
	<td
	
	{$cell_grid_cell_field16}
	{$recordattrs}
	class="
		 r-ori-vert		 {$nombre_proveedor_class}	"

			data-field="nombre_proveedor"
	
	data-cellId="grid_cell_field16" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN nombre_proveedor_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field16" {$item_simple_grid_field16} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="nombre_proveedor" data-fieldname="nombre_proveedor" data-default-width >
{$nombre_proveedor_value}
</span>
{END nombre_proveedor_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field16}
									{BEGIN cellblock_grid_cell_field17}
	<td
	
	{$cell_grid_cell_field17}
	{$recordattrs}
	class="
		 r-ori-vert		 {$uuid_cargo_abono_pago_class}	"

			data-field="uuid_cargo_abono_pago"
	
	data-cellId="grid_cell_field17" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN uuid_cargo_abono_pago_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field17" {$item_simple_grid_field17} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="uuid_cargo_abono_pago" data-fieldname="uuid_cargo_abono_pago" data-default-width >
{$uuid_cargo_abono_pago_value}
</span>
{END uuid_cargo_abono_pago_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field17}
									{BEGIN cellblock_grid_cell_field18}
	<td
	
	{$cell_grid_cell_field18}
	{$recordattrs}
	class="
		 r-ori-vert		 {$tr_finanzas_bancos_01_id_class}	"

			data-field="tr_finanzas_bancos_01_id"
	
	data-cellId="grid_cell_field18" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN tr_finanzas_bancos_01_id_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field18" {$item_simple_grid_field18} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="tr_finanzas_bancos_01_id" data-fieldname="tr_finanzas_bancos_01_id" data-default-width >
{$tr_finanzas_bancos_01_id_value}
</span>
{END tr_finanzas_bancos_01_id_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field18}
							</tr>
										
											{END grid_row}
					</tbody>
													<tfoot>
			
																																			<tr {$rowattrs} {$row_grid_2} class="{$rowclass}
									{$gridFooter_class}
					
								r-gridrow
							">
									{BEGIN cellblock_grid_footcell_field}
	<td
	
	{$cell_grid_footcell_field}
	{$recordattrs}
	class="
		 r-ori-vert		 {$cat_compras_proveedores_id_class}	"

	
	data-cellId="grid_footcell_field" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="tr_compras_proveedores_01_cargos_abonos_pagos_edit_masterlist"	
	>

	
	</td>
	{END cellblock_grid_footcell_field}
									{BEGIN cellblock_grid_footcell_field1}
	<td
	
	{$cell_grid_footcell_field1}
	{$recordattrs}
	class="
		 r-ori-vert		 {$descripcion_proveedores_class}	"

	
	data-cellId="grid_footcell_field1" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="tr_compras_proveedores_01_cargos_abonos_pagos_edit_masterlist"	
	>

	
	</td>
	{END cellblock_grid_footcell_field1}
									{BEGIN cellblock_grid_footcell_field2}
	<td
	
	{$cell_grid_footcell_field2}
	{$recordattrs}
	class="
		 r-ori-vert		 {$rfc_compras_proveedores_class}	"

	
	data-cellId="grid_footcell_field2" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="tr_compras_proveedores_01_cargos_abonos_pagos_edit_masterlist"	
	>

	
	</td>
	{END cellblock_grid_footcell_field2}
									{BEGIN cellblock_grid_footcell_field3}
	<td
	
	{$cell_grid_footcell_field3}
	{$recordattrs}
	class="
		 r-ori-vert		 {$cat_usuarios_licencias_id_class}	"

	
	data-cellId="grid_footcell_field3" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="tr_compras_proveedores_01_cargos_abonos_pagos_edit_masterlist"	
	>

	
	</td>
	{END cellblock_grid_footcell_field3}
									{BEGIN cellblock_grid_footcell_field4}
	<td
	
	{$cell_grid_footcell_field4}
	{$recordattrs}
	class="
		 r-ori-vert		 {$ano_class}	"

	
	data-cellId="grid_footcell_field4" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="tr_compras_proveedores_01_cargos_abonos_pagos_edit_masterlist"	
	>

	
	</td>
	{END cellblock_grid_footcell_field4}
									{BEGIN cellblock_grid_footcell_field5}
	<td
	
	{$cell_grid_footcell_field5}
	{$recordattrs}
	class="
		 r-ori-vert		 {$mes_class}	"

	
	data-cellId="grid_footcell_field5" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="tr_compras_proveedores_01_cargos_abonos_pagos_edit_masterlist"	
	>

	
	</td>
	{END cellblock_grid_footcell_field5}
									{BEGIN cellblock_grid_footcell_field6}
	<td
	
	{$cell_grid_footcell_field6}
	{$recordattrs}
	class="
		 r-ori-vert		 {$ano_mes_class}	"

	
	data-cellId="grid_footcell_field6" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="tr_compras_proveedores_01_cargos_abonos_pagos_edit_masterlist"	
	>

	
	</td>
	{END cellblock_grid_footcell_field6}
									{BEGIN cellblock_grid_footcell_field7}
	<td
	
	{$cell_grid_footcell_field7}
	{$recordattrs}
	class="
		 r-ori-vert		 {$cat_finanzas_cuentas_de_balance_04_llave_class}	"

	
	data-cellId="grid_footcell_field7" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="tr_compras_proveedores_01_cargos_abonos_pagos_edit_masterlist"	
	>

	
	</td>
	{END cellblock_grid_footcell_field7}
									{BEGIN cellblock_grid_footcell_field8}
	<td
	
	{$cell_grid_footcell_field8}
	{$recordattrs}
	class="
		 r-ori-vert		 {$descripcion_balance_04_class}	"

	
	data-cellId="grid_footcell_field8" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="tr_compras_proveedores_01_cargos_abonos_pagos_edit_masterlist"	
	>

	
	</td>
	{END cellblock_grid_footcell_field8}
									{BEGIN cellblock_grid_footcell_field9}
	<td
	
	{$cell_grid_footcell_field9}
	{$recordattrs}
	class="
		 r-ori-vert		 {$descripcion_balance_03_class}	"

	
	data-cellId="grid_footcell_field9" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="tr_compras_proveedores_01_cargos_abonos_pagos_edit_masterlist"	
	>

	
	</td>
	{END cellblock_grid_footcell_field9}
									{BEGIN cellblock_grid_footcell_field10}
	<td
	
	{$cell_grid_footcell_field10}
	{$recordattrs}
	class="
		 r-ori-vert		 {$tr_compras_proveedores_01_cargos_abonos_id_class}	"

	
	data-cellId="grid_footcell_field10" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="tr_compras_proveedores_01_cargos_abonos_pagos_edit_masterlist"	
	>

	
	</td>
	{END cellblock_grid_footcell_field10}
									{BEGIN cellblock_grid_footcell_field11}
	<td
	
	{$cell_grid_footcell_field11}
	{$recordattrs}
	class="
		 r-ori-vert		 {$concepto_class}	"

	
	data-cellId="grid_footcell_field11" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="tr_compras_proveedores_01_cargos_abonos_pagos_edit_masterlist"	
	>

	
	</td>
	{END cellblock_grid_footcell_field11}
									{BEGIN cellblock_grid_footcell_field12}
	<td
	
	{$cell_grid_footcell_field12}
	{$recordattrs}
	class="
		 r-ori-vert		 {$importe_cargo_pago_class}	"

	
	data-cellId="grid_footcell_field12" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="tr_compras_proveedores_01_cargos_abonos_pagos_edit_masterlist"	
	>

	
	</td>
	{END cellblock_grid_footcell_field12}
									{BEGIN cellblock_grid_footcell_field13}
	<td
	
	{$cell_grid_footcell_field13}
	{$recordattrs}
	class="
		 r-ori-vert		 {$uuid_sat_class}	"

	
	data-cellId="grid_footcell_field13" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="tr_compras_proveedores_01_cargos_abonos_pagos_edit_masterlist"	
	>

	
	</td>
	{END cellblock_grid_footcell_field13}
									{BEGIN cellblock_grid_footcell_field14}
	<td
	
	{$cell_grid_footcell_field14}
	{$recordattrs}
	class="
		 r-ori-vert		 {$orden_de_compra_proveedor_class}	"

	
	data-cellId="grid_footcell_field14" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="tr_compras_proveedores_01_cargos_abonos_pagos_edit_masterlist"	
	>

	
	</td>
	{END cellblock_grid_footcell_field14}
									{BEGIN cellblock_grid_footcell_field15}
	<td
	
	{$cell_grid_footcell_field15}
	{$recordattrs}
	class="
		 r-ori-vert		 {$observacion_cargo_pago_class}	"

	
	data-cellId="grid_footcell_field15" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="tr_compras_proveedores_01_cargos_abonos_pagos_edit_masterlist"	
	>

	
	</td>
	{END cellblock_grid_footcell_field15}
									{BEGIN cellblock_grid_footcell_field16}
	<td
	
	{$cell_grid_footcell_field16}
	{$recordattrs}
	class="
		 r-ori-vert		 {$nombre_proveedor_class}	"

	
	data-cellId="grid_footcell_field16" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="tr_compras_proveedores_01_cargos_abonos_pagos_edit_masterlist"	
	>

	
	</td>
	{END cellblock_grid_footcell_field16}
									{BEGIN cellblock_grid_footcell_field17}
	<td
	
	{$cell_grid_footcell_field17}
	{$recordattrs}
	class="
		 r-ori-vert		 {$uuid_cargo_abono_pago_class}	"

	
	data-cellId="grid_footcell_field17" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="tr_compras_proveedores_01_cargos_abonos_pagos_edit_masterlist"	
	>

	
	</td>
	{END cellblock_grid_footcell_field17}
									{BEGIN cellblock_grid_footcell_field18}
	<td
	
	{$cell_grid_footcell_field18}
	{$recordattrs}
	class="
		 r-ori-vert		 {$tr_finanzas_bancos_01_id_class}	"

	
	data-cellId="grid_footcell_field18" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="tr_compras_proveedores_01_cargos_abonos_pagos_edit_masterlist"	
	>

	
	</td>
	{END cellblock_grid_footcell_field18}
							</tr>
					
					</tfoot>
				</table>
{END grid_block}
								</div>
</div>
