<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel tr_compras_proveedores_01_cargos_abonos_pagos search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN tr_compras_proveedores_01_cargos_abonos_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_tr_compras_proveedores_01_cargos_abonos_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="tr_compras_proveedores_01_cargos_abonos_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="tr_compras_proveedores_01_cargos_abonos_id" data-fieldname="tr_compras_proveedores_01_cargos_abonos_id" >


	<label class="r-search-label control-label" for="{$labelfor_tr_compras_proveedores_01_cargos_abonos_id}">
		{$label tr_compras_proveedores_01_cargos_abonos_pagos tr_compras_proveedores_01_cargos_abonos_id }	</label>
	<div class="r-search-option">
		{$searchtype_tr_compras_proveedores_01_cargos_abonos_id}
	</div>
	<div class="r-search-field">
		{$tr_compras_proveedores_01_cargos_abonos_id_editcontrol}	</div>
	<div class="r-search-field">
		{$tr_compras_proveedores_01_cargos_abonos_id_editcontrol1}
	</div>
	
</div>

{END tr_compras_proveedores_01_cargos_abonos_id_fieldblock}
											
{BEGIN fecha_de_compra_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_fecha_de_compra}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="fecha_de_compra{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="fecha_de_compra" data-fieldname="fecha_de_compra" >


	<label class="r-search-label control-label" for="{$labelfor_fecha_de_compra}">
		{$label tr_compras_proveedores_01_cargos_abonos_pagos fecha_de_compra }	</label>
	<div class="r-search-option">
		{$searchtype_fecha_de_compra}
	</div>
	<div class="r-search-field">
		{$fecha_de_compra_editcontrol}	</div>
	<div class="r-search-field">
		{$fecha_de_compra_editcontrol1}
	</div>
	
</div>

{END fecha_de_compra_fieldblock}
											
{BEGIN referencia_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_referencia}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="referencia{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="referencia" data-fieldname="referencia" >


	<label class="r-search-label control-label" for="{$labelfor_referencia}">
		{$label tr_compras_proveedores_01_cargos_abonos_pagos referencia }	</label>
	<div class="r-search-option">
		{$searchtype_referencia}
	</div>
	<div class="r-search-field">
		{$referencia_editcontrol}	</div>
	<div class="r-search-field">
		{$referencia_editcontrol1}
	</div>
	
</div>

{END referencia_fieldblock}
											
{BEGIN fecha_de_pago_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_fecha_de_pago}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="fecha_de_pago{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="fecha_de_pago" data-fieldname="fecha_de_pago" >


	<label class="r-search-label control-label" for="{$labelfor_fecha_de_pago}">
		{$label tr_compras_proveedores_01_cargos_abonos_pagos fecha_de_pago }	</label>
	<div class="r-search-option">
		{$searchtype_fecha_de_pago}
	</div>
	<div class="r-search-field">
		{$fecha_de_pago_editcontrol}	</div>
	<div class="r-search-field">
		{$fecha_de_pago_editcontrol1}
	</div>
	
</div>

{END fecha_de_pago_fieldblock}
											
{BEGIN fecha_de_vencimiento_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_fecha_de_vencimiento}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="fecha_de_vencimiento{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="fecha_de_vencimiento" data-fieldname="fecha_de_vencimiento" >


	<label class="r-search-label control-label" for="{$labelfor_fecha_de_vencimiento}">
		{$label tr_compras_proveedores_01_cargos_abonos_pagos fecha_de_vencimiento }	</label>
	<div class="r-search-option">
		{$searchtype_fecha_de_vencimiento}
	</div>
	<div class="r-search-field">
		{$fecha_de_vencimiento_editcontrol}	</div>
	<div class="r-search-field">
		{$fecha_de_vencimiento_editcontrol1}
	</div>
	
</div>

{END fecha_de_vencimiento_fieldblock}
											
{BEGIN concepto_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_concepto}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="concepto{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="concepto" data-fieldname="concepto" >


	<label class="r-search-label control-label" for="{$labelfor_concepto}">
		{$label tr_compras_proveedores_01_cargos_abonos_pagos concepto }	</label>
	<div class="r-search-option">
		{$searchtype_concepto}
	</div>
	<div class="r-search-field">
		{$concepto_editcontrol}	</div>
	<div class="r-search-field">
		{$concepto_editcontrol1}
	</div>
	
</div>

{END concepto_fieldblock}
											
{BEGIN cat_compras_documentos_mu_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cat_compras_documentos_mu_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cat_compras_documentos_mu_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="cat_compras_documentos_mu_id" data-fieldname="cat_compras_documentos_mu_id" >


	<label class="r-search-label control-label" for="{$labelfor_cat_compras_documentos_mu_id}">
		{$label tr_compras_proveedores_01_cargos_abonos_pagos cat_compras_documentos_mu_id }	</label>
	<div class="r-search-option">
		{$searchtype_cat_compras_documentos_mu_id}
	</div>
	<div class="r-search-field">
		{$cat_compras_documentos_mu_id_editcontrol}	</div>
	<div class="r-search-field">
		{$cat_compras_documentos_mu_id_editcontrol1}
	</div>
	
</div>

{END cat_compras_documentos_mu_id_fieldblock}
											
{BEGIN capturista_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_capturista}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="capturista{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" {$item_integrated_search_field12} data-pageid="{$pageid}" data-field="capturista" data-fieldname="capturista" >


	<label class="r-search-label control-label" for="{$labelfor_capturista}">
		{$label tr_compras_proveedores_01_cargos_abonos_pagos capturista }	</label>
	<div class="r-search-option">
		{$searchtype_capturista}
	</div>
	<div class="r-search-field">
		{$capturista_editcontrol}	</div>
	<div class="r-search-field">
		{$capturista_editcontrol1}
	</div>
	
</div>

{END capturista_fieldblock}
											
{BEGIN vigente_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_vigente}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="vigente{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field13" {$item_integrated_search_field13} data-pageid="{$pageid}" data-field="vigente" data-fieldname="vigente" >


	<label class="r-search-label control-label" for="{$labelfor_vigente}">
		{$label tr_compras_proveedores_01_cargos_abonos_pagos vigente }	</label>
	<div class="r-search-option">
		{$searchtype_vigente}
	</div>
	<div class="r-search-field">
		{$vigente_editcontrol}	</div>
	<div class="r-search-field">
		{$vigente_editcontrol1}
	</div>
	
</div>

{END vigente_fieldblock}
											
{BEGIN cat_finanzas_cuentas_de_balance_03_mu_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cat_finanzas_cuentas_de_balance_03_mu_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cat_finanzas_cuentas_de_balance_03_mu_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field14" {$item_integrated_search_field14} data-pageid="{$pageid}" data-field="cat_finanzas_cuentas_de_balance_03_mu_id" data-fieldname="cat_finanzas_cuentas_de_balance_03_mu_id" >


	<label class="r-search-label control-label" for="{$labelfor_cat_finanzas_cuentas_de_balance_03_mu_id}">
		{$label tr_compras_proveedores_01_cargos_abonos_pagos cat_finanzas_cuentas_de_balance_03_mu_id }	</label>
	<div class="r-search-option">
		{$searchtype_cat_finanzas_cuentas_de_balance_03_mu_id}
	</div>
	<div class="r-search-field">
		{$cat_finanzas_cuentas_de_balance_03_mu_id_editcontrol}	</div>
	<div class="r-search-field">
		{$cat_finanzas_cuentas_de_balance_03_mu_id_editcontrol1}
	</div>
	
</div>

{END cat_finanzas_cuentas_de_balance_03_mu_id_fieldblock}
											
{BEGIN alias_cuenta_de_balance_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_alias_cuenta_de_balance}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="alias_cuenta_de_balance{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field16" {$item_integrated_search_field16} data-pageid="{$pageid}" data-field="alias_cuenta_de_balance" data-fieldname="alias_cuenta_de_balance" >


	<label class="r-search-label control-label" for="{$labelfor_alias_cuenta_de_balance}">
		{$label tr_compras_proveedores_01_cargos_abonos_pagos alias_cuenta_de_balance }	</label>
	<div class="r-search-option">
		{$searchtype_alias_cuenta_de_balance}
	</div>
	<div class="r-search-field">
		{$alias_cuenta_de_balance_editcontrol}	</div>
	<div class="r-search-field">
		{$alias_cuenta_de_balance_editcontrol1}
	</div>
	
</div>

{END alias_cuenta_de_balance_fieldblock}
											
{BEGIN imei_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_imei}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="imei{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field17" {$item_integrated_search_field17} data-pageid="{$pageid}" data-field="imei" data-fieldname="imei" >


	<label class="r-search-label control-label" for="{$labelfor_imei}">
		{$label tr_compras_proveedores_01_cargos_abonos_pagos imei }	</label>
	<div class="r-search-option">
		{$searchtype_imei}
	</div>
	<div class="r-search-field">
		{$imei_editcontrol}	</div>
	<div class="r-search-field">
		{$imei_editcontrol1}
	</div>
	
</div>

{END imei_fieldblock}
											
{BEGIN uuid_sat_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_uuid_sat}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="uuid_sat{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field18" {$item_integrated_search_field18} data-pageid="{$pageid}" data-field="uuid_sat" data-fieldname="uuid_sat" >


	<label class="r-search-label control-label" for="{$labelfor_uuid_sat}">
		{$label tr_compras_proveedores_01_cargos_abonos_pagos uuid_sat }	</label>
	<div class="r-search-option">
		{$searchtype_uuid_sat}
	</div>
	<div class="r-search-field">
		{$uuid_sat_editcontrol}	</div>
	<div class="r-search-field">
		{$uuid_sat_editcontrol1}
	</div>
	
</div>

{END uuid_sat_fieldblock}
											
{BEGIN time_stamp_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_time_stamp}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="time_stamp{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field19" {$item_integrated_search_field19} data-pageid="{$pageid}" data-field="time_stamp" data-fieldname="time_stamp" >


	<label class="r-search-label control-label" for="{$labelfor_time_stamp}">
		{$label tr_compras_proveedores_01_cargos_abonos_pagos time_stamp }	</label>
	<div class="r-search-option">
		{$searchtype_time_stamp}
	</div>
	<div class="r-search-field">
		{$time_stamp_editcontrol}	</div>
	<div class="r-search-field">
		{$time_stamp_editcontrol1}
	</div>
	
</div>

{END time_stamp_fieldblock}
											
{BEGIN consecutivo_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_consecutivo_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="consecutivo_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field20" {$item_integrated_search_field20} data-pageid="{$pageid}" data-field="consecutivo_id" data-fieldname="consecutivo_id" >


	<label class="r-search-label control-label" for="{$labelfor_consecutivo_id}">
		{$label tr_compras_proveedores_01_cargos_abonos_pagos consecutivo_id }	</label>
	<div class="r-search-option">
		{$searchtype_consecutivo_id}
	</div>
	<div class="r-search-field">
		{$consecutivo_id_editcontrol}	</div>
	<div class="r-search-field">
		{$consecutivo_id_editcontrol1}
	</div>
	
</div>

{END consecutivo_id_fieldblock}
											
{BEGIN cat_finanzas_bancos_cuentas_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cat_finanzas_bancos_cuentas_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cat_finanzas_bancos_cuentas_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field21" {$item_integrated_search_field21} data-pageid="{$pageid}" data-field="cat_finanzas_bancos_cuentas_id" data-fieldname="cat_finanzas_bancos_cuentas_id" >


	<label class="r-search-label control-label" for="{$labelfor_cat_finanzas_bancos_cuentas_id}">
		{$label tr_compras_proveedores_01_cargos_abonos_pagos cat_finanzas_bancos_cuentas_id }	</label>
	<div class="r-search-option">
		{$searchtype_cat_finanzas_bancos_cuentas_id}
	</div>
	<div class="r-search-field">
		{$cat_finanzas_bancos_cuentas_id_editcontrol}	</div>
	<div class="r-search-field">
		{$cat_finanzas_bancos_cuentas_id_editcontrol1}
	</div>
	
</div>

{END cat_finanzas_bancos_cuentas_id_fieldblock}
											
{BEGIN cat_finanzas_cajas_chicas_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cat_finanzas_cajas_chicas_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cat_finanzas_cajas_chicas_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field22" {$item_integrated_search_field22} data-pageid="{$pageid}" data-field="cat_finanzas_cajas_chicas_id" data-fieldname="cat_finanzas_cajas_chicas_id" >


	<label class="r-search-label control-label" for="{$labelfor_cat_finanzas_cajas_chicas_id}">
		{$label tr_compras_proveedores_01_cargos_abonos_pagos cat_finanzas_cajas_chicas_id }	</label>
	<div class="r-search-option">
		{$searchtype_cat_finanzas_cajas_chicas_id}
	</div>
	<div class="r-search-field">
		{$cat_finanzas_cajas_chicas_id_editcontrol}	</div>
	<div class="r-search-field">
		{$cat_finanzas_cajas_chicas_id_editcontrol1}
	</div>
	
</div>

{END cat_finanzas_cajas_chicas_id_fieldblock}
											
{BEGIN cat_usuarios_licencias_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cat_usuarios_licencias_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cat_usuarios_licencias_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field25" {$item_integrated_search_field25} data-pageid="{$pageid}" data-field="cat_usuarios_licencias_id" data-fieldname="cat_usuarios_licencias_id" >


	<label class="r-search-label control-label" for="{$labelfor_cat_usuarios_licencias_id}">
		{$label tr_compras_proveedores_01_cargos_abonos_pagos cat_usuarios_licencias_id }	</label>
	<div class="r-search-option">
		{$searchtype_cat_usuarios_licencias_id}
	</div>
	<div class="r-search-field">
		{$cat_usuarios_licencias_id_editcontrol}	</div>
	<div class="r-search-field">
		{$cat_usuarios_licencias_id_editcontrol1}
	</div>
	
</div>

{END cat_usuarios_licencias_id_fieldblock}
											
{BEGIN cat_compras_cargo_abono_mu_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cat_compras_cargo_abono_mu_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cat_compras_cargo_abono_mu_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field26" {$item_integrated_search_field26} data-pageid="{$pageid}" data-field="cat_compras_cargo_abono_mu_id" data-fieldname="cat_compras_cargo_abono_mu_id" >


	<label class="r-search-label control-label" for="{$labelfor_cat_compras_cargo_abono_mu_id}">
		{$label tr_compras_proveedores_01_cargos_abonos_pagos cat_compras_cargo_abono_mu_id }	</label>
	<div class="r-search-option">
		{$searchtype_cat_compras_cargo_abono_mu_id}
	</div>
	<div class="r-search-field">
		{$cat_compras_cargo_abono_mu_id_editcontrol}	</div>
	<div class="r-search-field">
		{$cat_compras_cargo_abono_mu_id_editcontrol1}
	</div>
	
</div>

{END cat_compras_cargo_abono_mu_id_fieldblock}
											
{BEGIN id_prov_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id_prov}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="id_prov{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field27" {$item_integrated_search_field27} data-pageid="{$pageid}" data-field="id_prov" data-fieldname="id_prov" >


	<label class="r-search-label control-label" for="{$labelfor_id_prov}">
		{$label tr_compras_proveedores_01_cargos_abonos_pagos id_prov }	</label>
	<div class="r-search-option">
		{$searchtype_id_prov}
	</div>
	<div class="r-search-field">
		{$id_prov_editcontrol}	</div>
	<div class="r-search-field">
		{$id_prov_editcontrol1}
	</div>
	
</div>

{END id_prov_fieldblock}
											
{BEGIN total_compras_abonos_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_total_compras_abonos}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="total_compras_abonos{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field28" {$item_integrated_search_field28} data-pageid="{$pageid}" data-field="total_compras_abonos" data-fieldname="total_compras_abonos" >


	<label class="r-search-label control-label" for="{$labelfor_total_compras_abonos}">
		{$label tr_compras_proveedores_01_cargos_abonos_pagos total_compras_abonos }	</label>
	<div class="r-search-option">
		{$searchtype_total_compras_abonos}
	</div>
	<div class="r-search-field">
		{$total_compras_abonos_editcontrol}	</div>
	<div class="r-search-field">
		{$total_compras_abonos_editcontrol1}
	</div>
	
</div>

{END total_compras_abonos_fieldblock}
											
{BEGIN total_pagos_cargos_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_total_pagos_cargos}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="total_pagos_cargos{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field29" {$item_integrated_search_field29} data-pageid="{$pageid}" data-field="total_pagos_cargos" data-fieldname="total_pagos_cargos" >


	<label class="r-search-label control-label" for="{$labelfor_total_pagos_cargos}">
		{$label tr_compras_proveedores_01_cargos_abonos_pagos total_pagos_cargos }	</label>
	<div class="r-search-option">
		{$searchtype_total_pagos_cargos}
	</div>
	<div class="r-search-field">
		{$total_pagos_cargos_editcontrol}	</div>
	<div class="r-search-field">
		{$total_pagos_cargos_editcontrol1}
	</div>
	
</div>

{END total_pagos_cargos_fieldblock}
											
{BEGIN saldo_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_saldo}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="saldo{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field30" {$item_integrated_search_field30} data-pageid="{$pageid}" data-field="saldo" data-fieldname="saldo" >


	<label class="r-search-label control-label" for="{$labelfor_saldo}">
		{$label tr_compras_proveedores_01_cargos_abonos_pagos saldo }	</label>
	<div class="r-search-option">
		{$searchtype_saldo}
	</div>
	<div class="r-search-field">
		{$saldo_editcontrol}	</div>
	<div class="r-search-field">
		{$saldo_editcontrol1}
	</div>
	
</div>

{END saldo_fieldblock}
											
{BEGIN importe_abono_compra_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_importe_abono_compra}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="importe_abono_compra{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="importe_abono_compra" data-fieldname="importe_abono_compra" >


	<label class="r-search-label control-label" for="{$labelfor_importe_abono_compra}">
		{$label tr_compras_proveedores_01_cargos_abonos_pagos importe_abono_compra }	</label>
	<div class="r-search-option">
		{$searchtype_importe_abono_compra}
	</div>
	<div class="r-search-field">
		{$importe_abono_compra_editcontrol}	</div>
	<div class="r-search-field">
		{$importe_abono_compra_editcontrol1}
	</div>
	
</div>

{END importe_abono_compra_fieldblock}
											
{BEGIN importe_cargo_pago_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_importe_cargo_pago}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="importe_cargo_pago{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="importe_cargo_pago" data-fieldname="importe_cargo_pago" >


	<label class="r-search-label control-label" for="{$labelfor_importe_cargo_pago}">
		{$label tr_compras_proveedores_01_cargos_abonos_pagos importe_cargo_pago }	</label>
	<div class="r-search-option">
		{$searchtype_importe_cargo_pago}
	</div>
	<div class="r-search-field">
		{$importe_cargo_pago_editcontrol}	</div>
	<div class="r-search-field">
		{$importe_cargo_pago_editcontrol1}
	</div>
	
</div>

{END importe_cargo_pago_fieldblock}
											
{BEGIN uuid_cargo_abono_compra_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_uuid_cargo_abono_compra}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="uuid_cargo_abono_compra{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field23" {$item_integrated_search_field23} data-pageid="{$pageid}" data-field="uuid_cargo_abono_compra" data-fieldname="uuid_cargo_abono_compra" >


	<label class="r-search-label control-label" for="{$labelfor_uuid_cargo_abono_compra}">
		{$label tr_compras_proveedores_01_cargos_abonos_pagos uuid_cargo_abono_compra }	</label>
	<div class="r-search-option">
		{$searchtype_uuid_cargo_abono_compra}
	</div>
	<div class="r-search-field">
		{$uuid_cargo_abono_compra_editcontrol}	</div>
	<div class="r-search-field">
		{$uuid_cargo_abono_compra_editcontrol1}
	</div>
	
</div>

{END uuid_cargo_abono_compra_fieldblock}
											
{BEGIN uuid_cargo_abono_pago_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_uuid_cargo_abono_pago}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="uuid_cargo_abono_pago{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field24" {$item_integrated_search_field24} data-pageid="{$pageid}" data-field="uuid_cargo_abono_pago" data-fieldname="uuid_cargo_abono_pago" >


	<label class="r-search-label control-label" for="{$labelfor_uuid_cargo_abono_pago}">
		{$label tr_compras_proveedores_01_cargos_abonos_pagos uuid_cargo_abono_pago }	</label>
	<div class="r-search-option">
		{$searchtype_uuid_cargo_abono_pago}
	</div>
	<div class="r-search-field">
		{$uuid_cargo_abono_pago_editcontrol}	</div>
	<div class="r-search-field">
		{$uuid_cargo_abono_pago_editcontrol1}
	</div>
	
</div>

{END uuid_cargo_abono_pago_fieldblock}
											
{BEGIN descripcion_proveedores_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_descripcion_proveedores}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="descripcion_proveedores{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="descripcion_proveedores" data-fieldname="descripcion_proveedores" >


	<label class="r-search-label control-label" for="{$labelfor_descripcion_proveedores}">
		{$label tr_compras_proveedores_01_cargos_abonos_pagos descripcion_proveedores }	</label>
	<div class="r-search-option">
		{$searchtype_descripcion_proveedores}
	</div>
	<div class="r-search-field">
		{$descripcion_proveedores_editcontrol}	</div>
	<div class="r-search-field">
		{$descripcion_proveedores_editcontrol1}
	</div>
	
</div>

{END descripcion_proveedores_fieldblock}
											
{BEGIN alias_cuenta_de_abono_compra_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_alias_cuenta_de_abono_compra}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="alias_cuenta_de_abono_compra{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field31" {$item_integrated_search_field31} data-pageid="{$pageid}" data-field="alias_cuenta_de_abono_compra" data-fieldname="alias_cuenta_de_abono_compra" >


	<label class="r-search-label control-label" for="{$labelfor_alias_cuenta_de_abono_compra}">
		{$label tr_compras_proveedores_01_cargos_abonos_pagos alias_cuenta_de_abono_compra }	</label>
	<div class="r-search-option">
		{$searchtype_alias_cuenta_de_abono_compra}
	</div>
	<div class="r-search-field">
		{$alias_cuenta_de_abono_compra_editcontrol}	</div>
	<div class="r-search-field">
		{$alias_cuenta_de_abono_compra_editcontrol1}
	</div>
	
</div>

{END alias_cuenta_de_abono_compra_fieldblock}
											
{BEGIN alias_cuenta_de_cargo_pago_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_alias_cuenta_de_cargo_pago}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="alias_cuenta_de_cargo_pago{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field32" {$item_integrated_search_field32} data-pageid="{$pageid}" data-field="alias_cuenta_de_cargo_pago" data-fieldname="alias_cuenta_de_cargo_pago" >


	<label class="r-search-label control-label" for="{$labelfor_alias_cuenta_de_cargo_pago}">
		{$label tr_compras_proveedores_01_cargos_abonos_pagos alias_cuenta_de_cargo_pago }	</label>
	<div class="r-search-option">
		{$searchtype_alias_cuenta_de_cargo_pago}
	</div>
	<div class="r-search-field">
		{$alias_cuenta_de_cargo_pago_editcontrol}	</div>
	<div class="r-search-field">
		{$alias_cuenta_de_cargo_pago_editcontrol1}
	</div>
	
</div>

{END alias_cuenta_de_cargo_pago_fieldblock}
											
{BEGIN cat_finanzas_cuentas_de_balance_04_llave_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cat_finanzas_cuentas_de_balance_04_llave}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cat_finanzas_cuentas_de_balance_04_llave{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="cat_finanzas_cuentas_de_balance_04_llave" data-fieldname="cat_finanzas_cuentas_de_balance_04_llave" >


	<label class="r-search-label control-label" for="{$labelfor_cat_finanzas_cuentas_de_balance_04_llave}">
		{$label tr_compras_proveedores_01_cargos_abonos_pagos cat_finanzas_cuentas_de_balance_04_llave }	</label>
	<div class="r-search-option">
		{$searchtype_cat_finanzas_cuentas_de_balance_04_llave}
	</div>
	<div class="r-search-field">
		{$cat_finanzas_cuentas_de_balance_04_llave_editcontrol}	</div>
	<div class="r-search-field">
		{$cat_finanzas_cuentas_de_balance_04_llave_editcontrol1}
	</div>
	
</div>

{END cat_finanzas_cuentas_de_balance_04_llave_fieldblock}
											
{BEGIN tr_compras_requisiciones_01_uuid_pago_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_tr_compras_requisiciones_01_uuid_pago}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="tr_compras_requisiciones_01_uuid_pago{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field15" {$item_integrated_search_field15} data-pageid="{$pageid}" data-field="tr_compras_requisiciones_01_uuid_pago" data-fieldname="tr_compras_requisiciones_01_uuid_pago" >


	<label class="r-search-label control-label" for="{$labelfor_tr_compras_requisiciones_01_uuid_pago}">
		{$label tr_compras_proveedores_01_cargos_abonos_pagos tr_compras_requisiciones_01_uuid_pago }	</label>
	<div class="r-search-option">
		{$searchtype_tr_compras_requisiciones_01_uuid_pago}
	</div>
	<div class="r-search-field">
		{$tr_compras_requisiciones_01_uuid_pago_editcontrol}	</div>
	<div class="r-search-field">
		{$tr_compras_requisiciones_01_uuid_pago_editcontrol1}
	</div>
	
</div>

{END tr_compras_requisiciones_01_uuid_pago_fieldblock}
											
{BEGIN tr_compras_requisiciones_01_uuid_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_tr_compras_requisiciones_01_uuid}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="tr_compras_requisiciones_01_uuid{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field33" {$item_integrated_search_field33} data-pageid="{$pageid}" data-field="tr_compras_requisiciones_01_uuid" data-fieldname="tr_compras_requisiciones_01_uuid" >


	<label class="r-search-label control-label" for="{$labelfor_tr_compras_requisiciones_01_uuid}">
		{$label tr_compras_proveedores_01_cargos_abonos_pagos tr_compras_requisiciones_01_uuid }	</label>
	<div class="r-search-option">
		{$searchtype_tr_compras_requisiciones_01_uuid}
	</div>
	<div class="r-search-field">
		{$tr_compras_requisiciones_01_uuid_editcontrol}	</div>
	<div class="r-search-field">
		{$tr_compras_requisiciones_01_uuid_editcontrol1}
	</div>
	
</div>

{END tr_compras_requisiciones_01_uuid_fieldblock}
											
{BEGIN referencia_bancaria_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_referencia_bancaria}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="referencia_bancaria{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field34" {$item_integrated_search_field34} data-pageid="{$pageid}" data-field="referencia_bancaria" data-fieldname="referencia_bancaria" >


	<label class="r-search-label control-label" for="{$labelfor_referencia_bancaria}">
		{$label tr_compras_proveedores_01_cargos_abonos_pagos referencia_bancaria }	</label>
	<div class="r-search-option">
		{$searchtype_referencia_bancaria}
	</div>
	<div class="r-search-field">
		{$referencia_bancaria_editcontrol}	</div>
	<div class="r-search-field">
		{$referencia_bancaria_editcontrol1}
	</div>
	
</div>

{END referencia_bancaria_fieldblock}
											
{BEGIN alias_proveedor_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_alias_proveedor}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="alias_proveedor{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="alias_proveedor" data-fieldname="alias_proveedor" >


	<label class="r-search-label control-label" for="{$labelfor_alias_proveedor}">
		{$label tr_compras_proveedores_01_cargos_abonos_pagos alias_proveedor }	</label>
	<div class="r-search-option">
		{$searchtype_alias_proveedor}
	</div>
	<div class="r-search-field">
		{$alias_proveedor_editcontrol}	</div>
	<div class="r-search-field">
		{$alias_proveedor_editcontrol1}
	</div>
	
</div>

{END alias_proveedor_fieldblock}
											
{BEGIN observacion_cargo_pago_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_observacion_cargo_pago}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="observacion_cargo_pago{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field35" {$item_integrated_search_field35} data-pageid="{$pageid}" data-field="observacion_cargo_pago" data-fieldname="observacion_cargo_pago" >


	<label class="r-search-label control-label" for="{$labelfor_observacion_cargo_pago}">
		{$label tr_compras_proveedores_01_cargos_abonos_pagos observacion_cargo_pago }	</label>
	<div class="r-search-option">
		{$searchtype_observacion_cargo_pago}
	</div>
	<div class="r-search-field">
		{$observacion_cargo_pago_editcontrol}	</div>
	<div class="r-search-field">
		{$observacion_cargo_pago_editcontrol1}
	</div>
	
</div>

{END observacion_cargo_pago_fieldblock}
											
{BEGIN llave_unica_cargo_abono_tr_compras_requisiciones_01_uuid_pago_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_llave_unica_cargo_abono_tr_compras_requisiciones_01_uuid_pago}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="llave_unica_cargo_abono_tr_compras_requisiciones_01_uuid_pago{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field36" {$item_integrated_search_field36} data-pageid="{$pageid}" data-field="llave_unica_cargo_abono_tr_compras_requisiciones_01_uuid_pago" data-fieldname="llave_unica_cargo_abono_tr_compras_requisiciones_01_uuid_pago" >


	<label class="r-search-label control-label" for="{$labelfor_llave_unica_cargo_abono_tr_compras_requisiciones_01_uuid_pago}">
		{$label tr_compras_proveedores_01_cargos_abonos_pagos llave_unica_cargo_abono_tr_compras_requisiciones_01_uuid_pago }	</label>
	<div class="r-search-option">
		{$searchtype_llave_unica_cargo_abono_tr_compras_requisiciones_01_uuid_pago}
	</div>
	<div class="r-search-field">
		{$llave_unica_cargo_abono_tr_compras_requisiciones_01_uuid_pago_editcontrol}	</div>
	<div class="r-search-field">
		{$llave_unica_cargo_abono_tr_compras_requisiciones_01_uuid_pago_editcontrol1}
	</div>
	
</div>

{END llave_unica_cargo_abono_tr_compras_requisiciones_01_uuid_pago_fieldblock}
											
{BEGIN fecha_de_recibo_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_fecha_de_recibo}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="fecha_de_recibo{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field37" {$item_integrated_search_field37} data-pageid="{$pageid}" data-field="fecha_de_recibo" data-fieldname="fecha_de_recibo" >


	<label class="r-search-label control-label" for="{$labelfor_fecha_de_recibo}">
		{$label tr_compras_proveedores_01_cargos_abonos_pagos fecha_de_recibo }	</label>
	<div class="r-search-option">
		{$searchtype_fecha_de_recibo}
	</div>
	<div class="r-search-field">
		{$fecha_de_recibo_editcontrol}	</div>
	<div class="r-search-field">
		{$fecha_de_recibo_editcontrol1}
	</div>
	
</div>

{END fecha_de_recibo_fieldblock}
											
{BEGIN tr_compras_almacenes_01_recibo_lpn_uuid_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_tr_compras_almacenes_01_recibo_lpn_uuid}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="tr_compras_almacenes_01_recibo_lpn_uuid{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field38" {$item_integrated_search_field38} data-pageid="{$pageid}" data-field="tr_compras_almacenes_01_recibo_lpn_uuid" data-fieldname="tr_compras_almacenes_01_recibo_lpn_uuid" >


	<label class="r-search-label control-label" for="{$labelfor_tr_compras_almacenes_01_recibo_lpn_uuid}">
		{$label tr_compras_proveedores_01_cargos_abonos_pagos tr_compras_almacenes_01_recibo_lpn_uuid }	</label>
	<div class="r-search-option">
		{$searchtype_tr_compras_almacenes_01_recibo_lpn_uuid}
	</div>
	<div class="r-search-field">
		{$tr_compras_almacenes_01_recibo_lpn_uuid_editcontrol}	</div>
	<div class="r-search-field">
		{$tr_compras_almacenes_01_recibo_lpn_uuid_editcontrol1}
	</div>
	
</div>

{END tr_compras_almacenes_01_recibo_lpn_uuid_fieldblock}
											
{BEGIN orden_de_compra_proveedor_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_orden_de_compra_proveedor}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="orden_de_compra_proveedor{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field39" {$item_integrated_search_field39} data-pageid="{$pageid}" data-field="orden_de_compra_proveedor" data-fieldname="orden_de_compra_proveedor" >


	<label class="r-search-label control-label" for="{$labelfor_orden_de_compra_proveedor}">
		{$label tr_compras_proveedores_01_cargos_abonos_pagos orden_de_compra_proveedor }	</label>
	<div class="r-search-option">
		{$searchtype_orden_de_compra_proveedor}
	</div>
	<div class="r-search-field">
		{$orden_de_compra_proveedor_editcontrol}	</div>
	<div class="r-search-field">
		{$orden_de_compra_proveedor_editcontrol1}
	</div>
	
</div>

{END orden_de_compra_proveedor_fieldblock}
											
{BEGIN cat_compras_estatus_mu_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cat_compras_estatus_mu_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cat_compras_estatus_mu_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field40" {$item_integrated_search_field40} data-pageid="{$pageid}" data-field="cat_compras_estatus_mu_id" data-fieldname="cat_compras_estatus_mu_id" >


	<label class="r-search-label control-label" for="{$labelfor_cat_compras_estatus_mu_id}">
		{$label tr_compras_proveedores_01_cargos_abonos_pagos cat_compras_estatus_mu_id }	</label>
	<div class="r-search-option">
		{$searchtype_cat_compras_estatus_mu_id}
	</div>
	<div class="r-search-field">
		{$cat_compras_estatus_mu_id_editcontrol}	</div>
	<div class="r-search-field">
		{$cat_compras_estatus_mu_id_editcontrol1}
	</div>
	
</div>

{END cat_compras_estatus_mu_id_fieldblock}
											
{BEGIN tr_finanzas_bancos_01_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_tr_finanzas_bancos_01_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="tr_finanzas_bancos_01_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field41" {$item_integrated_search_field41} data-pageid="{$pageid}" data-field="tr_finanzas_bancos_01_id" data-fieldname="tr_finanzas_bancos_01_id" >


	<label class="r-search-label control-label" for="{$labelfor_tr_finanzas_bancos_01_id}">
		{$label tr_compras_proveedores_01_cargos_abonos_pagos tr_finanzas_bancos_01_id }	</label>
	<div class="r-search-option">
		{$searchtype_tr_finanzas_bancos_01_id}
	</div>
	<div class="r-search-field">
		{$tr_finanzas_bancos_01_id_editcontrol}	</div>
	<div class="r-search-field">
		{$tr_finanzas_bancos_01_id_editcontrol1}
	</div>
	
</div>

{END tr_finanzas_bancos_01_id_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} data-page=undefined >
							Buscar			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reiniciar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancelar			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
