<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel tr_finanzas_bancos_actualizar search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c1}
<td
	{$cell_grid_c1}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c1" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN cat_finanzas_bancos_cuentas_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cat_finanzas_bancos_cuentas_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cat_finanzas_bancos_cuentas_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="cat_finanzas_bancos_cuentas_id" data-fieldname="cat_finanzas_bancos_cuentas_id" >


	<label class="r-search-label control-label" for="{$labelfor_cat_finanzas_bancos_cuentas_id}">
		{$label tr_finanzas_bancos_actualizar cat_finanzas_bancos_cuentas_id }	</label>
	<div class="r-search-option">
		{$searchtype_cat_finanzas_bancos_cuentas_id}
	</div>
	<div class="r-search-field">
		{$cat_finanzas_bancos_cuentas_id_editcontrol}	</div>
	<div class="r-search-field">
		{$cat_finanzas_bancos_cuentas_id_editcontrol1}
	</div>
	
</div>

{END cat_finanzas_bancos_cuentas_id_fieldblock}
											
{BEGIN fecha_bancos_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_fecha_bancos}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="fecha_bancos{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="fecha_bancos" data-fieldname="fecha_bancos" >


	<label class="r-search-label control-label" for="{$labelfor_fecha_bancos}">
		{$label tr_finanzas_bancos_actualizar fecha_bancos }	</label>
	<div class="r-search-option">
		{$searchtype_fecha_bancos}
	</div>
	<div class="r-search-field">
		{$fecha_bancos_editcontrol}	</div>
	<div class="r-search-field">
		{$fecha_bancos_editcontrol1}
	</div>
	
</div>

{END fecha_bancos_fieldblock}
											
{BEGIN concepto_general_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_concepto_general}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="concepto_general{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="concepto_general" data-fieldname="concepto_general" >


	<label class="r-search-label control-label" for="{$labelfor_concepto_general}">
		{$label tr_finanzas_bancos_actualizar concepto_general }	</label>
	<div class="r-search-option">
		{$searchtype_concepto_general}
	</div>
	<div class="r-search-field">
		{$concepto_general_editcontrol}	</div>
	<div class="r-search-field">
		{$concepto_general_editcontrol1}
	</div>
	
</div>

{END concepto_general_fieldblock}
											
{BEGIN referencia_general_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_referencia_general}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="referencia_general{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="referencia_general" data-fieldname="referencia_general" >


	<label class="r-search-label control-label" for="{$labelfor_referencia_general}">
		{$label tr_finanzas_bancos_actualizar referencia_general }	</label>
	<div class="r-search-option">
		{$searchtype_referencia_general}
	</div>
	<div class="r-search-field">
		{$referencia_general_editcontrol}	</div>
	<div class="r-search-field">
		{$referencia_general_editcontrol1}
	</div>
	
</div>

{END referencia_general_fieldblock}
											
{BEGIN egreso_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_egreso}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="egreso{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="egreso" data-fieldname="egreso" >


	<label class="r-search-label control-label" for="{$labelfor_egreso}">
		{$label tr_finanzas_bancos_actualizar egreso }	</label>
	<div class="r-search-option">
		{$searchtype_egreso}
	</div>
	<div class="r-search-field">
		{$egreso_editcontrol}	</div>
	<div class="r-search-field">
		{$egreso_editcontrol1}
	</div>
	
</div>

{END egreso_fieldblock}
											
{BEGIN ingreso_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ingreso}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ingreso{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="ingreso" data-fieldname="ingreso" >


	<label class="r-search-label control-label" for="{$labelfor_ingreso}">
		{$label tr_finanzas_bancos_actualizar ingreso }	</label>
	<div class="r-search-option">
		{$searchtype_ingreso}
	</div>
	<div class="r-search-field">
		{$ingreso_editcontrol}	</div>
	<div class="r-search-field">
		{$ingreso_editcontrol1}
	</div>
	
</div>

{END ingreso_fieldblock}
											
{BEGIN cat_finanzas_movimientos_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cat_finanzas_movimientos_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cat_finanzas_movimientos_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="cat_finanzas_movimientos_id" data-fieldname="cat_finanzas_movimientos_id" >


	<label class="r-search-label control-label" for="{$labelfor_cat_finanzas_movimientos_id}">
		{$label tr_finanzas_bancos_actualizar cat_finanzas_movimientos_id }	</label>
	<div class="r-search-option">
		{$searchtype_cat_finanzas_movimientos_id}
	</div>
	<div class="r-search-field">
		{$cat_finanzas_movimientos_id_editcontrol}	</div>
	<div class="r-search-field">
		{$cat_finanzas_movimientos_id_editcontrol1}
	</div>
	
</div>

{END cat_finanzas_movimientos_id_fieldblock}
											
{BEGIN cat_ventas_clientes_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cat_ventas_clientes_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cat_ventas_clientes_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="cat_ventas_clientes_id" data-fieldname="cat_ventas_clientes_id" >


	<label class="r-search-label control-label" for="{$labelfor_cat_ventas_clientes_id}">
		{$label tr_finanzas_bancos_actualizar cat_ventas_clientes_id }	</label>
	<div class="r-search-option">
		{$searchtype_cat_ventas_clientes_id}
	</div>
	<div class="r-search-field">
		{$cat_ventas_clientes_id_editcontrol}	</div>
	<div class="r-search-field">
		{$cat_ventas_clientes_id_editcontrol1}
	</div>
	
</div>

{END cat_ventas_clientes_id_fieldblock}
											
{BEGIN cat_compras_proveedores_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cat_compras_proveedores_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cat_compras_proveedores_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="cat_compras_proveedores_id" data-fieldname="cat_compras_proveedores_id" >


	<label class="r-search-label control-label" for="{$labelfor_cat_compras_proveedores_id}">
		{$label tr_finanzas_bancos_actualizar cat_compras_proveedores_id }	</label>
	<div class="r-search-option">
		{$searchtype_cat_compras_proveedores_id}
	</div>
	<div class="r-search-field">
		{$cat_compras_proveedores_id_editcontrol}	</div>
	<div class="r-search-field">
		{$cat_compras_proveedores_id_editcontrol1}
	</div>
	
</div>

{END cat_compras_proveedores_id_fieldblock}
											
{BEGIN poliza_ok_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_poliza_ok}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="poliza_ok{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" {$item_integrated_search_field12} data-pageid="{$pageid}" data-field="poliza_ok" data-fieldname="poliza_ok" >


	<label class="r-search-label control-label" for="{$labelfor_poliza_ok}">
		{$label tr_finanzas_bancos_actualizar poliza_ok }	</label>
	<div class="r-search-option">
		{$searchtype_poliza_ok}
	</div>
	<div class="r-search-field">
		{$poliza_ok_editcontrol}	</div>
	<div class="r-search-field">
		{$poliza_ok_editcontrol1}
	</div>
	
</div>

{END poliza_ok_fieldblock}
											
{BEGIN referencia_documento_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_referencia_documento}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="referencia_documento{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field13" {$item_integrated_search_field13} data-pageid="{$pageid}" data-field="referencia_documento" data-fieldname="referencia_documento" >


	<label class="r-search-label control-label" for="{$labelfor_referencia_documento}">
		{$label tr_finanzas_bancos_actualizar referencia_documento }	</label>
	<div class="r-search-option">
		{$searchtype_referencia_documento}
	</div>
	<div class="r-search-field">
		{$referencia_documento_editcontrol}	</div>
	<div class="r-search-field">
		{$referencia_documento_editcontrol1}
	</div>
	
</div>

{END referencia_documento_fieldblock}
											
{BEGIN cat_produccion_temporadas_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cat_produccion_temporadas_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cat_produccion_temporadas_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field14" {$item_integrated_search_field14} data-pageid="{$pageid}" data-field="cat_produccion_temporadas_id" data-fieldname="cat_produccion_temporadas_id" >


	<label class="r-search-label control-label" for="{$labelfor_cat_produccion_temporadas_id}">
		{$label tr_finanzas_bancos_actualizar cat_produccion_temporadas_id }	</label>
	<div class="r-search-option">
		{$searchtype_cat_produccion_temporadas_id}
	</div>
	<div class="r-search-field">
		{$cat_produccion_temporadas_id_editcontrol}	</div>
	<div class="r-search-field">
		{$cat_produccion_temporadas_id_editcontrol1}
	</div>
	
</div>

{END cat_produccion_temporadas_id_fieldblock}
											
{BEGIN UUID_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_UUID}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="UUID{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field15" {$item_integrated_search_field15} data-pageid="{$pageid}" data-field="UUID" data-fieldname="UUID" >


	<label class="r-search-label control-label" for="{$labelfor_UUID}">
		{$label tr_finanzas_bancos_actualizar UUID }	</label>
	<div class="r-search-option">
		{$searchtype_UUID}
	</div>
	<div class="r-search-field">
		{$UUID_editcontrol}	</div>
	<div class="r-search-field">
		{$UUID_editcontrol1}
	</div>
	
</div>

{END UUID_fieldblock}
											
{BEGIN vigente_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_vigente}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="vigente{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field16" {$item_integrated_search_field16} data-pageid="{$pageid}" data-field="vigente" data-fieldname="vigente" >


	<label class="r-search-label control-label" for="{$labelfor_vigente}">
		{$label tr_finanzas_bancos_actualizar vigente }	</label>
	<div class="r-search-option">
		{$searchtype_vigente}
	</div>
	<div class="r-search-field">
		{$vigente_editcontrol}	</div>
	<div class="r-search-field">
		{$vigente_editcontrol1}
	</div>
	
</div>

{END vigente_fieldblock}
											
{BEGIN capturista_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_capturista}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="capturista{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field18" {$item_integrated_search_field18} data-pageid="{$pageid}" data-field="capturista" data-fieldname="capturista" >


	<label class="r-search-label control-label" for="{$labelfor_capturista}">
		{$label tr_finanzas_bancos_actualizar capturista }	</label>
	<div class="r-search-option">
		{$searchtype_capturista}
	</div>
	<div class="r-search-field">
		{$capturista_editcontrol}	</div>
	<div class="r-search-field">
		{$capturista_editcontrol1}
	</div>
	
</div>

{END capturista_fieldblock}
											
{BEGIN tr_finanzas_bancos_01_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_tr_finanzas_bancos_01_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="tr_finanzas_bancos_01_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field19" {$item_integrated_search_field19} data-pageid="{$pageid}" data-field="tr_finanzas_bancos_01_id" data-fieldname="tr_finanzas_bancos_01_id" >


	<label class="r-search-label control-label" for="{$labelfor_tr_finanzas_bancos_01_id}">
		{$label tr_finanzas_bancos_actualizar tr_finanzas_bancos_01_id }	</label>
	<div class="r-search-option">
		{$searchtype_tr_finanzas_bancos_01_id}
	</div>
	<div class="r-search-field">
		{$tr_finanzas_bancos_01_id_editcontrol}	</div>
	<div class="r-search-field">
		{$tr_finanzas_bancos_01_id_editcontrol1}
	</div>
	
</div>

{END tr_finanzas_bancos_01_id_fieldblock}
											
{BEGIN consecutivo_upload_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_consecutivo_upload_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="consecutivo_upload_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field20" {$item_integrated_search_field20} data-pageid="{$pageid}" data-field="consecutivo_upload_id" data-fieldname="consecutivo_upload_id" >


	<label class="r-search-label control-label" for="{$labelfor_consecutivo_upload_id}">
		{$label tr_finanzas_bancos_actualizar consecutivo_upload_id }	</label>
	<div class="r-search-option">
		{$searchtype_consecutivo_upload_id}
	</div>
	<div class="r-search-field">
		{$consecutivo_upload_id_editcontrol}	</div>
	<div class="r-search-field">
		{$consecutivo_upload_id_editcontrol1}
	</div>
	
</div>

{END consecutivo_upload_id_fieldblock}
											
{BEGIN fecha_registro_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_fecha_registro}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="fecha_registro{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field21" {$item_integrated_search_field21} data-pageid="{$pageid}" data-field="fecha_registro" data-fieldname="fecha_registro" >


	<label class="r-search-label control-label" for="{$labelfor_fecha_registro}">
		{$label tr_finanzas_bancos_actualizar fecha_registro }	</label>
	<div class="r-search-option">
		{$searchtype_fecha_registro}
	</div>
	<div class="r-search-field">
		{$fecha_registro_editcontrol}	</div>
	<div class="r-search-field">
		{$fecha_registro_editcontrol1}
	</div>
	
</div>

{END fecha_registro_fieldblock}
											
{BEGIN poliza_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_poliza}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="poliza{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field22" {$item_integrated_search_field22} data-pageid="{$pageid}" data-field="poliza" data-fieldname="poliza" >


	<label class="r-search-label control-label" for="{$labelfor_poliza}">
		{$label tr_finanzas_bancos_actualizar poliza }	</label>
	<div class="r-search-option">
		{$searchtype_poliza}
	</div>
	<div class="r-search-field">
		{$poliza_editcontrol}	</div>
	<div class="r-search-field">
		{$poliza_editcontrol1}
	</div>
	
</div>

{END poliza_fieldblock}
											
{BEGIN centro_de_costos_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_centro_de_costos}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="centro_de_costos{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field23" {$item_integrated_search_field23} data-pageid="{$pageid}" data-field="centro_de_costos" data-fieldname="centro_de_costos" >


	<label class="r-search-label control-label" for="{$labelfor_centro_de_costos}">
		{$label tr_finanzas_bancos_actualizar centro_de_costos }	</label>
	<div class="r-search-option">
		{$searchtype_centro_de_costos}
	</div>
	<div class="r-search-field">
		{$centro_de_costos_editcontrol}	</div>
	<div class="r-search-field">
		{$centro_de_costos_editcontrol1}
	</div>
	
</div>

{END centro_de_costos_fieldblock}
											
{BEGIN cat_almacen_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cat_almacen_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cat_almacen_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field24" {$item_integrated_search_field24} data-pageid="{$pageid}" data-field="cat_almacen_id" data-fieldname="cat_almacen_id" >


	<label class="r-search-label control-label" for="{$labelfor_cat_almacen_id}">
		{$label tr_finanzas_bancos_actualizar cat_almacen_id }	</label>
	<div class="r-search-option">
		{$searchtype_cat_almacen_id}
	</div>
	<div class="r-search-field">
		{$cat_almacen_id_editcontrol}	</div>
	<div class="r-search-field">
		{$cat_almacen_id_editcontrol1}
	</div>
	
</div>

{END cat_almacen_id_fieldblock}
											
{BEGIN poliza_contpaq_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_poliza_contpaq}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="poliza_contpaq{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field25" {$item_integrated_search_field25} data-pageid="{$pageid}" data-field="poliza_contpaq" data-fieldname="poliza_contpaq" >


	<label class="r-search-label control-label" for="{$labelfor_poliza_contpaq}">
		{$label tr_finanzas_bancos_actualizar poliza_contpaq }	</label>
	<div class="r-search-option">
		{$searchtype_poliza_contpaq}
	</div>
	<div class="r-search-field">
		{$poliza_contpaq_editcontrol}	</div>
	<div class="r-search-field">
		{$poliza_contpaq_editcontrol1}
	</div>
	
</div>

{END poliza_contpaq_fieldblock}
											
{BEGIN llave_contpaq_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_llave_contpaq}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="llave_contpaq{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field26" {$item_integrated_search_field26} data-pageid="{$pageid}" data-field="llave_contpaq" data-fieldname="llave_contpaq" >


	<label class="r-search-label control-label" for="{$labelfor_llave_contpaq}">
		{$label tr_finanzas_bancos_actualizar llave_contpaq }	</label>
	<div class="r-search-option">
		{$searchtype_llave_contpaq}
	</div>
	<div class="r-search-field">
		{$llave_contpaq_editcontrol}	</div>
	<div class="r-search-field">
		{$llave_contpaq_editcontrol1}
	</div>
	
</div>

{END llave_contpaq_fieldblock}
											
{BEGIN cuenta_contable_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cuenta_contable}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cuenta_contable{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field27" {$item_integrated_search_field27} data-pageid="{$pageid}" data-field="cuenta_contable" data-fieldname="cuenta_contable" >


	<label class="r-search-label control-label" for="{$labelfor_cuenta_contable}">
		{$label tr_finanzas_bancos_actualizar cuenta_contable }	</label>
	<div class="r-search-option">
		{$searchtype_cuenta_contable}
	</div>
	<div class="r-search-field">
		{$cuenta_contable_editcontrol}	</div>
	<div class="r-search-field">
		{$cuenta_contable_editcontrol1}
	</div>
	
</div>

{END cuenta_contable_fieldblock}
											
{BEGIN cuenta_contable_ok_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cuenta_contable_ok}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cuenta_contable_ok{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field28" {$item_integrated_search_field28} data-pageid="{$pageid}" data-field="cuenta_contable_ok" data-fieldname="cuenta_contable_ok" >


	<label class="r-search-label control-label" for="{$labelfor_cuenta_contable_ok}">
		{$label tr_finanzas_bancos_actualizar cuenta_contable_ok }	</label>
	<div class="r-search-option">
		{$searchtype_cuenta_contable_ok}
	</div>
	<div class="r-search-field">
		{$cuenta_contable_ok_editcontrol}	</div>
	<div class="r-search-field">
		{$cuenta_contable_ok_editcontrol1}
	</div>
	
</div>

{END cuenta_contable_ok_fieldblock}
											
{BEGIN time_stamp_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_time_stamp}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="time_stamp{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="time_stamp" data-fieldname="time_stamp" >


	<label class="r-search-label control-label" for="{$labelfor_time_stamp}">
		{$label tr_finanzas_bancos_actualizar time_stamp }	</label>
	<div class="r-search-option">
		{$searchtype_time_stamp}
	</div>
	<div class="r-search-field">
		{$time_stamp_editcontrol}	</div>
	<div class="r-search-field">
		{$time_stamp_editcontrol1}
	</div>
	
</div>

{END time_stamp_fieldblock}
											
{BEGIN cat_finanzas_bancos_estatus_mu_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cat_finanzas_bancos_estatus_mu_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cat_finanzas_bancos_estatus_mu_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="cat_finanzas_bancos_estatus_mu_id" data-fieldname="cat_finanzas_bancos_estatus_mu_id" >


	<label class="r-search-label control-label" for="{$labelfor_cat_finanzas_bancos_estatus_mu_id}">
		{$label tr_finanzas_bancos_actualizar cat_finanzas_bancos_estatus_mu_id }	</label>
	<div class="r-search-option">
		{$searchtype_cat_finanzas_bancos_estatus_mu_id}
	</div>
	<div class="r-search-field">
		{$cat_finanzas_bancos_estatus_mu_id_editcontrol}	</div>
	<div class="r-search-field">
		{$cat_finanzas_bancos_estatus_mu_id_editcontrol1}
	</div>
	
</div>

{END cat_finanzas_bancos_estatus_mu_id_fieldblock}
	
								</td>
			{END cellblock_grid_c1}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} data-page=undefined >
							Buscar			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reiniciar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancelar			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
