<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-edit" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="edit_header" data-itemid="edit_header" {$item_edit_header} data-pageid="{$pageid}" >{$pagetitlelabel ttr_compras_requisiciones_02_productos_orden_de_compra_pagos edit}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<div data-itemtype="edit_message" data-itemid="edit_message" {$item_edit_message} data-pageid="{$pageid}" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN message_back_button}
			<button class="btn btn-sm btn-default" {$backbutton_attrs}>Volver a la lista</button>
	{END message_back_button}
{BEGIN message_view_page_button}
		<a class="btn btn-sm btn-default" href="" {$view_page_button_attrs}>Ver</a>
{END message_view_page_button}
</div>
</div>
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN cat_compras_proveedores_id_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cat_compras_proveedores_id}  r-vertical-field" 
	data-signal-error-for="cat_compras_proveedores_id{$id}" {$required_attr_cat_compras_proveedores_id}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="cat_compras_proveedores_id" data-fieldname="cat_compras_proveedores_id" >

	<label class="r-edit-label control-label" for="{$labelfor_cat_compras_proveedores_id}">
		{BEGIN cat_compras_proveedores_id_label}{$label ttr_compras_requisiciones_02_productos_orden_de_compra_pagos cat_compras_proveedores_id }{END cat_compras_proveedores_id_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$cat_compras_proveedores_id_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="cat_compras_proveedores_id" {$tooltipAttr ttr_compras_requisiciones_02_productos_orden_de_compra_pagos cat_compras_proveedores_id } >
		<div class="text-muted" >
		{$tooltip ttr_compras_requisiciones_02_productos_orden_de_compra_pagos cat_compras_proveedores_id }		</div>
	</div>
</div>


{END cat_compras_proveedores_id_fieldblock}
											
{BEGIN tr_compras_requisiciones_01_id_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_tr_compras_requisiciones_01_id}  r-vertical-field" 
	data-signal-error-for="tr_compras_requisiciones_01_id{$id}" {$required_attr_tr_compras_requisiciones_01_id}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="tr_compras_requisiciones_01_id" data-fieldname="tr_compras_requisiciones_01_id" >

	<label class="r-edit-label control-label" for="{$labelfor_tr_compras_requisiciones_01_id}">
		{BEGIN tr_compras_requisiciones_01_id_label}{$label ttr_compras_requisiciones_02_productos_orden_de_compra_pagos tr_compras_requisiciones_01_id }{END tr_compras_requisiciones_01_id_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$tr_compras_requisiciones_01_id_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="tr_compras_requisiciones_01_id" {$tooltipAttr ttr_compras_requisiciones_02_productos_orden_de_compra_pagos tr_compras_requisiciones_01_id } >
		<div class="text-muted" >
		{$tooltip ttr_compras_requisiciones_02_productos_orden_de_compra_pagos tr_compras_requisiciones_01_id }		</div>
	</div>
</div>


{END tr_compras_requisiciones_01_id_fieldblock}
											
{BEGIN vigente_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_vigente}  r-vertical-field" 
	data-signal-error-for="vigente{$id}" {$required_attr_vigente}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="vigente" data-fieldname="vigente" >

	<label class="r-edit-label control-label" for="{$labelfor_vigente}">
		{BEGIN vigente_label}{$label ttr_compras_requisiciones_02_productos_orden_de_compra_pagos vigente }{END vigente_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$vigente_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="vigente" {$tooltipAttr ttr_compras_requisiciones_02_productos_orden_de_compra_pagos vigente } >
		<div class="text-muted" >
		{$tooltip ttr_compras_requisiciones_02_productos_orden_de_compra_pagos vigente }		</div>
	</div>
</div>


{END vigente_fieldblock}
											
{BEGIN capturista_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_capturista}  r-vertical-field" 
	data-signal-error-for="capturista{$id}" {$required_attr_capturista}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="capturista" data-fieldname="capturista" >

	<label class="r-edit-label control-label" for="{$labelfor_capturista}">
		{BEGIN capturista_label}{$label ttr_compras_requisiciones_02_productos_orden_de_compra_pagos capturista }{END capturista_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$capturista_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="capturista" {$tooltipAttr ttr_compras_requisiciones_02_productos_orden_de_compra_pagos capturista } >
		<div class="text-muted" >
		{$tooltip ttr_compras_requisiciones_02_productos_orden_de_compra_pagos capturista }		</div>
	</div>
</div>


{END capturista_fieldblock}
											
{BEGIN llave_tr_compras_requisiciones_01_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_llave_tr_compras_requisiciones_01}  r-vertical-field" 
	data-signal-error-for="llave_tr_compras_requisiciones_01{$id}" {$required_attr_llave_tr_compras_requisiciones_01}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="llave_tr_compras_requisiciones_01" data-fieldname="llave_tr_compras_requisiciones_01" >

	<label class="r-edit-label control-label" for="{$labelfor_llave_tr_compras_requisiciones_01}">
		{BEGIN llave_tr_compras_requisiciones_01_label}{$label ttr_compras_requisiciones_02_productos_orden_de_compra_pagos llave_tr_compras_requisiciones_01 }{END llave_tr_compras_requisiciones_01_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$llave_tr_compras_requisiciones_01_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="llave_tr_compras_requisiciones_01" {$tooltipAttr ttr_compras_requisiciones_02_productos_orden_de_compra_pagos llave_tr_compras_requisiciones_01 } >
		<div class="text-muted" >
		{$tooltip ttr_compras_requisiciones_02_productos_orden_de_compra_pagos llave_tr_compras_requisiciones_01 }		</div>
	</div>
</div>


{END llave_tr_compras_requisiciones_01_fieldblock}
											
{BEGIN llave_unica_fecha_folio_imei_usuario_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_llave_unica_fecha_folio_imei_usuario}  r-vertical-field" 
	data-signal-error-for="llave_unica_fecha_folio_imei_usuario{$id}" {$required_attr_llave_unica_fecha_folio_imei_usuario}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="llave_unica_fecha_folio_imei_usuario" data-fieldname="llave_unica_fecha_folio_imei_usuario" >

	<label class="r-edit-label control-label" for="{$labelfor_llave_unica_fecha_folio_imei_usuario}">
		{BEGIN llave_unica_fecha_folio_imei_usuario_label}{$label ttr_compras_requisiciones_02_productos_orden_de_compra_pagos llave_unica_fecha_folio_imei_usuario }{END llave_unica_fecha_folio_imei_usuario_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$llave_unica_fecha_folio_imei_usuario_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="llave_unica_fecha_folio_imei_usuario" {$tooltipAttr ttr_compras_requisiciones_02_productos_orden_de_compra_pagos llave_unica_fecha_folio_imei_usuario } >
		<div class="text-muted" >
		{$tooltip ttr_compras_requisiciones_02_productos_orden_de_compra_pagos llave_unica_fecha_folio_imei_usuario }		</div>
	</div>
</div>


{END llave_unica_fecha_folio_imei_usuario_fieldblock}
											
{BEGIN autorizado_check_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_autorizado_check}  r-vertical-field" 
	data-signal-error-for="autorizado_check{$id}" {$required_attr_autorizado_check}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="autorizado_check" data-fieldname="autorizado_check" >

	<label class="r-edit-label control-label" for="{$labelfor_autorizado_check}">
		{BEGIN autorizado_check_label}{$label ttr_compras_requisiciones_02_productos_orden_de_compra_pagos autorizado_check }{END autorizado_check_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$autorizado_check_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="autorizado_check" {$tooltipAttr ttr_compras_requisiciones_02_productos_orden_de_compra_pagos autorizado_check } >
		<div class="text-muted" >
		{$tooltip ttr_compras_requisiciones_02_productos_orden_de_compra_pagos autorizado_check }		</div>
	</div>
</div>


{END autorizado_check_fieldblock}
											
{BEGIN fecha_de_autorizacion_requisicion_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_fecha_de_autorizacion_requisicion}  r-vertical-field" 
	data-signal-error-for="fecha_de_autorizacion_requisicion{$id}" {$required_attr_fecha_de_autorizacion_requisicion}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="fecha_de_autorizacion_requisicion" data-fieldname="fecha_de_autorizacion_requisicion" >

	<label class="r-edit-label control-label" for="{$labelfor_fecha_de_autorizacion_requisicion}">
		{BEGIN fecha_de_autorizacion_requisicion_label}{$label ttr_compras_requisiciones_02_productos_orden_de_compra_pagos fecha_de_autorizacion_requisicion }{END fecha_de_autorizacion_requisicion_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$fecha_de_autorizacion_requisicion_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="fecha_de_autorizacion_requisicion" {$tooltipAttr ttr_compras_requisiciones_02_productos_orden_de_compra_pagos fecha_de_autorizacion_requisicion } >
		<div class="text-muted" >
		{$tooltip ttr_compras_requisiciones_02_productos_orden_de_compra_pagos fecha_de_autorizacion_requisicion }		</div>
	</div>
</div>


{END fecha_de_autorizacion_requisicion_fieldblock}
											
{BEGIN capturista_que_autoriza_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_capturista_que_autoriza}  r-vertical-field" 
	data-signal-error-for="capturista_que_autoriza{$id}" {$required_attr_capturista_que_autoriza}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="capturista_que_autoriza" data-fieldname="capturista_que_autoriza" >

	<label class="r-edit-label control-label" for="{$labelfor_capturista_que_autoriza}">
		{BEGIN capturista_que_autoriza_label}{$label ttr_compras_requisiciones_02_productos_orden_de_compra_pagos capturista_que_autoriza }{END capturista_que_autoriza_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$capturista_que_autoriza_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="capturista_que_autoriza" {$tooltipAttr ttr_compras_requisiciones_02_productos_orden_de_compra_pagos capturista_que_autoriza } >
		<div class="text-muted" >
		{$tooltip ttr_compras_requisiciones_02_productos_orden_de_compra_pagos capturista_que_autoriza }		</div>
	</div>
</div>


{END capturista_que_autoriza_fieldblock}
											
{BEGIN cat_usuarios_licencias_id_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cat_usuarios_licencias_id}  r-vertical-field" 
	data-signal-error-for="cat_usuarios_licencias_id{$id}" {$required_attr_cat_usuarios_licencias_id}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="cat_usuarios_licencias_id" data-fieldname="cat_usuarios_licencias_id" >

	<label class="r-edit-label control-label" for="{$labelfor_cat_usuarios_licencias_id}">
		{BEGIN cat_usuarios_licencias_id_label}{$label ttr_compras_requisiciones_02_productos_orden_de_compra_pagos cat_usuarios_licencias_id }{END cat_usuarios_licencias_id_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$cat_usuarios_licencias_id_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="cat_usuarios_licencias_id" {$tooltipAttr ttr_compras_requisiciones_02_productos_orden_de_compra_pagos cat_usuarios_licencias_id } >
		<div class="text-muted" >
		{$tooltip ttr_compras_requisiciones_02_productos_orden_de_compra_pagos cat_usuarios_licencias_id }		</div>
	</div>
</div>


{END cat_usuarios_licencias_id_fieldblock}
											
{BEGIN cat_compras_productos_id_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cat_compras_productos_id}  r-vertical-field" 
	data-signal-error-for="cat_compras_productos_id{$id}" {$required_attr_cat_compras_productos_id}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field10" {$item_integrated_edit_field10} data-pageid="{$pageid}" data-field="cat_compras_productos_id" data-fieldname="cat_compras_productos_id" >

	<label class="r-edit-label control-label" for="{$labelfor_cat_compras_productos_id}">
		{BEGIN cat_compras_productos_id_label}{$label ttr_compras_requisiciones_02_productos_orden_de_compra_pagos cat_compras_productos_id }{END cat_compras_productos_id_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$cat_compras_productos_id_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="cat_compras_productos_id" {$tooltipAttr ttr_compras_requisiciones_02_productos_orden_de_compra_pagos cat_compras_productos_id } >
		<div class="text-muted" >
		{$tooltip ttr_compras_requisiciones_02_productos_orden_de_compra_pagos cat_compras_productos_id }		</div>
	</div>
</div>


{END cat_compras_productos_id_fieldblock}
											
{BEGIN precio_neto_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_precio_neto}  r-vertical-field" 
	data-signal-error-for="precio_neto{$id}" {$required_attr_precio_neto}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field11" {$item_integrated_edit_field11} data-pageid="{$pageid}" data-field="precio_neto" data-fieldname="precio_neto" >

	<label class="r-edit-label control-label" for="{$labelfor_precio_neto}">
		{BEGIN precio_neto_label}{$label ttr_compras_requisiciones_02_productos_orden_de_compra_pagos precio_neto }{END precio_neto_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$precio_neto_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="precio_neto" {$tooltipAttr ttr_compras_requisiciones_02_productos_orden_de_compra_pagos precio_neto } >
		<div class="text-muted" >
		{$tooltip ttr_compras_requisiciones_02_productos_orden_de_compra_pagos precio_neto }		</div>
	</div>
</div>


{END precio_neto_fieldblock}
											
{BEGIN cantidad_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cantidad}  r-vertical-field" 
	data-signal-error-for="cantidad{$id}" {$required_attr_cantidad}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field12" {$item_integrated_edit_field12} data-pageid="{$pageid}" data-field="cantidad" data-fieldname="cantidad" >

	<label class="r-edit-label control-label" for="{$labelfor_cantidad}">
		{BEGIN cantidad_label}{$label ttr_compras_requisiciones_02_productos_orden_de_compra_pagos cantidad }{END cantidad_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$cantidad_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="cantidad" {$tooltipAttr ttr_compras_requisiciones_02_productos_orden_de_compra_pagos cantidad } >
		<div class="text-muted" >
		{$tooltip ttr_compras_requisiciones_02_productos_orden_de_compra_pagos cantidad }		</div>
	</div>
</div>


{END cantidad_fieldblock}
											
{BEGIN UUID_sat_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_UUID_sat}  r-vertical-field" 
	data-signal-error-for="UUID_sat{$id}" {$required_attr_UUID_sat}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field14" {$item_integrated_edit_field14} data-pageid="{$pageid}" data-field="UUID_sat" data-fieldname="UUID_sat" >

	<label class="r-edit-label control-label" for="{$labelfor_UUID_sat}">
		{BEGIN UUID_sat_label}{$label ttr_compras_requisiciones_02_productos_orden_de_compra_pagos UUID_sat }{END UUID_sat_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$UUID_sat_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="UUID_sat" {$tooltipAttr ttr_compras_requisiciones_02_productos_orden_de_compra_pagos UUID_sat } >
		<div class="text-muted" >
		{$tooltip ttr_compras_requisiciones_02_productos_orden_de_compra_pagos UUID_sat }		</div>
	</div>
</div>


{END UUID_sat_fieldblock}
											
{BEGIN llave_idbalance03_idcatalogos_cargo_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_llave_idbalance03_idcatalogos_cargo}  r-vertical-field" 
	data-signal-error-for="llave_idbalance03_idcatalogos_cargo{$id}" {$required_attr_llave_idbalance03_idcatalogos_cargo}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field13" {$item_integrated_edit_field13} data-pageid="{$pageid}" data-field="llave_idbalance03_idcatalogos_cargo" data-fieldname="llave_idbalance03_idcatalogos_cargo" >

	<label class="r-edit-label control-label" for="{$labelfor_llave_idbalance03_idcatalogos_cargo}">
		{BEGIN llave_idbalance03_idcatalogos_cargo_label}{$label ttr_compras_requisiciones_02_productos_orden_de_compra_pagos llave_idbalance03_idcatalogos_cargo }{END llave_idbalance03_idcatalogos_cargo_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$llave_idbalance03_idcatalogos_cargo_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="llave_idbalance03_idcatalogos_cargo" {$tooltipAttr ttr_compras_requisiciones_02_productos_orden_de_compra_pagos llave_idbalance03_idcatalogos_cargo } >
		<div class="text-muted" >
		{$tooltip ttr_compras_requisiciones_02_productos_orden_de_compra_pagos llave_idbalance03_idcatalogos_cargo }		</div>
	</div>
</div>


{END llave_idbalance03_idcatalogos_cargo_fieldblock}
											
{BEGIN llave_idbalance03_idcatalogos_abono_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_llave_idbalance03_idcatalogos_abono}  r-vertical-field" 
	data-signal-error-for="llave_idbalance03_idcatalogos_abono{$id}" {$required_attr_llave_idbalance03_idcatalogos_abono}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field16" {$item_integrated_edit_field16} data-pageid="{$pageid}" data-field="llave_idbalance03_idcatalogos_abono" data-fieldname="llave_idbalance03_idcatalogos_abono" >

	<label class="r-edit-label control-label" for="{$labelfor_llave_idbalance03_idcatalogos_abono}">
		{BEGIN llave_idbalance03_idcatalogos_abono_label}{$label ttr_compras_requisiciones_02_productos_orden_de_compra_pagos llave_idbalance03_idcatalogos_abono }{END llave_idbalance03_idcatalogos_abono_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$llave_idbalance03_idcatalogos_abono_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="llave_idbalance03_idcatalogos_abono" {$tooltipAttr ttr_compras_requisiciones_02_productos_orden_de_compra_pagos llave_idbalance03_idcatalogos_abono } >
		<div class="text-muted" >
		{$tooltip ttr_compras_requisiciones_02_productos_orden_de_compra_pagos llave_idbalance03_idcatalogos_abono }		</div>
	</div>
</div>


{END llave_idbalance03_idcatalogos_abono_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN save_edit}
<span data-itemtype="edit_save" data-itemid="edit_save" {$item_edit_save} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$savebutton_attrs} >
							Guardar			</a>
</span>
{END save_edit}
	 
		{BEGIN save_update}
<span data-itemtype="update_records" data-itemid="update_records" {$item_update_records} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$savebutton_attrs} >
				 
			{$update_records_label}	
			</a>
</span>
{END save_update}
	 
		{BEGIN back_button}
<span data-itemtype="edit_back_list" data-itemid="edit_back_list" {$item_edit_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="edit_close" data-itemid="edit_close" {$item_edit_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$closebutton_attrs} >
							Cancelar			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	">
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown dropup">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
										<span class="glyphicon glyphicon-menu-hamburger"></span>
												<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
								<li data-itemtype="edit_reset" data-itemid="edit_reset" {$item_edit_reset} data-pageid="{$pageid}" data-small >
				<a  {$resetbutton_attrs}  title="" >
				
		Reiniciar		
		</a>
	</li>
					</ul>
	</span>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
